{# 

  BACK BUTTON COMPONENTS
  
  Back button component found at top right of user page, event page,
  new/edit event page, new/edit campaign page.

  The "url" parameter is the target route generated in the main template
  with the url_for() function.

  "blank" is a boolean representing if the component should be visible,
  or simply placed as a "spacer" element, ensuring consistent
  layout between pages.
  
#}

{% macro back_button(url=url,
                     blank=false) %}

  {# Blank spacer element #}                  
  {% if blank %}
  <div class="event-back-button-area" aria-hidden="true" tabindex="-1">
    <a class="back-link no-click back-button" tabindex="-1">
      <div class="icon icon-back-button"></div>
    </a>
  </div>

  {# Back button #} 
  {% else %}

    <div class="event-back-button-area">
      <a href="{{ url }}" class="back-link back-button">
        <svg aria-label="Back Button Icon" alt="A double chevron facing left" class="icon icon-back-button" width="80px" height="80px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g class="icon-colour-var" id="add" transform="translate(108.603733, 144.171733)">
                  <path d="M127.978667,121.834667 L249.6,243.648 L279.872,213.333333 L188.16,121.834667 L279.872,30.3146667 L249.6,2.84217094e-14 L127.978667,121.834667 Z M1.42108547e-14,121.834667 L121.578667,243.648 L151.872,213.333333 L60.1386667,121.834667 L151.872,30.3146667 L121.578667,2.84217094e-14 L1.42108547e-14,121.834667 Z" id="arrow-double-left"></path>
                </g>
            </g>
        </svg>
      </a>
    </div>
 
  {% endif %}

{%- endmacro %}




