{# 

  BACK BUTTON COMPONENTS
  
  Back button component found at top right of user page, event page,
  new/edit event page, new/edit campaign page.

  The "url" parameter is the target route generated in the main template
  with the url_for() function.

  "blank" is a boolean representing if the component should be visible,
  or simply placed as a "spacer" element, ensuring consistent
  layout between pages.
  
#}

{% macro back_button(url=url,
                     blank=false) %}

  {# Blank spacer element #}                  
  {% if blank %}
  <div class="event-back-button-area" aria-hidden="true" tabindex="-1">
    <a class="back-link no-click back-button" tabindex="-1">
      <div class="icon icon-back-button"></div>
    </a>
  </div>

  {# Back button #} 
  {% else %}

    <div class="event-back-button-area">
      <a href="{{ url }}" class="back-link back-button">
        <svg aria-label="Back Button Icon" alt="An arrow pointing up and left" class="icon icon-back-button" width="80px" height="80px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
          <g>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="icon-colour-var" transform="translate(85.333333, 85.333333)">
                      <polygon id="Shape" points="-1.42108547e-14 128 128 1.42108547e-14 158.293333 30.2933333 81.7066667 106.666667 320 106.666667 320 362.666667 277.333333 362.666667 277.333333 149.333333 81.7066667 149.333333 158.293333 225.706667 128 256"></polygon>
                  </g>
              </g>
          </g>
        </svg>
      </a>
    </div>
 
  {% endif %}

{%- endmacro %}
