
{% macro render_html_field(field) %}
  <section class="event-page-elem event-elem-large elem-body event-page-description" aria-label="{{ field.title }}">
    <div class="entry-left-padding"></div>
    <div class="description-body">
      <h4 class="event-desc-header">{{ field.title }}</h4>
      <div class="event-desc">
        {{ field.value | safe }}
      </div>
    </div>
  </section>
{%- endmacro %}

{% macro render_basic_field(field) %}
  <section class="event-page-elem event-elem-small event-page-corner" aria-label="{{ field.title }}">
    <div class="event-elem-header">
      <h4 class="event-elem-h">{{ field.title }}</h4>
    </div>
    <div class="event-elem-body">
      {{ field.value }}
    </div>  
  </section>
{%- endmacro %}f

{% macro render_composite_field(field) %}
  <section class="event-page-elem event-elem-large event-page-corner" aria-label="{{ field.title }}">
    <div class="event-elem-header">
      <h4 class="event-elem-h">{{field.title}}</h4>
    </div>
    <div class="event-elem-body belligerents-list">
      {% for group in field.value %}
        <div class="belligerent-group">
          <h4 class="belligerent-group-header">{{ group.title }}</h4>
          <ul class="belligerents-sub-list">
            {% for entry in group.entries %}
              <li class="belligerent-item">
                {{ entry }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
  </section>
{%- endmacro %}
