
{% macro render_html_field(field) %}
  <section class="event-page-elem event-elem-large elem-body event-page-description" aria-label="Archive Entry">
    <div class="entry-left-padding"></div>
    <div class="description-body">
      <h4 class="event-desc-header">{{ field.title }}</h4>
      <div class="event-desc">
        {{ field.value | safe }}
      </div>
    </div>
  </section>
{%- endmacro %}

{% macro render_basic_field(field) %}
  <section class="event-page-elem event-page-corner" aria-label="{{ field.title }}">
    <div class="event-elem-header">
      <h4 class="event-elem-h">{{ field.title }}</h4>
    </div>
    <div class="event-elem-body">
      {{ field.value }}
    </div>  
  </section>
{%- endmacro %}

{% macro render_belligerents_field(field) %}
  <section class="event-page-elem event-belligerents" aria-label="Event Belligerents">
    <div class="event-elem-header">
      <h4 class="event-elem-h">Belligerents</h4>
    </div>
    <ul class="event-elem-body belligerents-list">
      {% for group in belligerents %}

        {% if group | length == 1 and belligerents | length == 1  %}
          <li class="ally-group ally-group-solo">
        {% else %}
          <li class="ally-group">
        {% endif %}
          {% for ally in group %}
            <div class="ally-elem">
                {{ally}}
            </div>
          {% endfor %}
          </li> 
          {% if not loop.last %}
          <li class="vs-area">vs</li>
          {% endif %}
      {% endfor %}
    </ul>
  </section>
{%- endmacro %}
