{% import "components/template_menu.html" as template_menu %}

{% macro form_footer(form_type, campaign, new=false) %}

{% if new %}
  {% set update_label = "Create" %}
{% else %}
  {% set update_label = "Update" %}
{% endif %}

<div class="form-footer-container">
  <div class="tooltips-container" tabindex="-1">
    <label role="tooltip" id="tooltip-update" class="footer-tooltip">{{ update_label }}</label>
    <label role="tooltip" id="tooltip-delete" class="footer-tooltip">Delete</label> 
    <label role="tooltip" id="tooltip-templates" class="footer-tooltip">Templates</label> 
    <label role="tooltip" id="tooltip-help" class="footer-tooltip">Help</label> 
  </div>

  <div class="form-footer">
    {{ template_menu.template_menu(campaign) }}

    <nav class="form-footer-buttons">
      <div class="footer-buttons-left">
        <button id="footer-update-button" class="button form-footer-button form-footer-button-large"
        aria-label="{{ update_label }}" aria-describedby="tooltip-update">
          <img class="icon" src="{{ url_for('static', filename='/images/icons/upload.svg') }}" aria-label="Upload Icon">
        </button>
        {% if not new %}
          <button id="footer-delete-button" class="button form-footer-button form-footer-button-large"
          aria-label="DELETE" aria-describedby="tooltip-delete">
            <img class="icon" src="{{ url_for('static', filename='/images/icons/bin_white.svg') }}" aria-label="Delete Icon">
          </button>
        {% else %}
          <div class="form-footer-button hidden"></div>
        {% endif %}
        <button id="footer-templates-button" class="button form-footer-button form-footer-button-large"
        aria-label="TEMPLATES" aria-describedby="tooltip-templates">
          <img class="icon" src="{{ url_for('static', filename='/images/icons/templates.svg') }}" aria-label="Delete Icon">
        </button>
      </div>
      <div class="footer-buttons-right">
        <button id="footer-help-button" class="button form-footer-button form-footer-button-small"
        aria-label="HELP" aria-describedby="tooltip-help">
          <img class="icon" src="{{ url_for('static', filename='/images/icons/question.svg') }}" aria-label="Help Icon">
        </button>
      </div>
    </nav>
  </div>
</div>

{%- endmacro %}


{% macro timeline_footer(campaign) %}

<div class="form-footer-container">
  <div class="tooltips-container">
    <label role="tooltip" id="tooltip-backup" class="footer-tooltip">Backup</label>
    <label role="tooltip" id="tooltip-members" class="footer-tooltip">Members</label> 
    <label role="tooltip" id="tooltip-help" class="footer-tooltip">Help</label> 
  </div>

  <div class="form-footer">
    <nav class="form-footer-buttons">
      <div class="footer-buttons-left">
        <a href="{{ url_for('data.backup_page', campaign_name=campaign.url_title, campaign_id=campaign.id) }}" class="button form-footer-button form-footer-button-large"
        aria-label="BACKUP" aria-describedby="tooltip-backup">
          <img class="icon" src="{{ url_for('static', filename='/images/icons/egress_icon.svg') }}" aria-label="Backup Icon">
        </a>
        <a href="{{ url_for('membership.edit_campaign_users', campaign_name=campaign.url_title, campaign_id=campaign.id)}}" class="button form-footer-button form-footer-button-large"
        aria-label="BACKUP" aria-describedby="tooltip-members">
          <img class="icon" src="{{ url_for('static', filename='/images/icons/user_management.svg') }}" aria-label="Members Icon">
        </a>
      </div>
     <div class="footer-buttons-right">
      <button id="footer-help-button" class="button form-footer-button form-footer-button-small"
      aria-label="HELP" aria-describedby="tooltip-help">
        <img class="icon" src="{{ url_for('static', filename='/images/icons/question.svg') }}" aria-label="Help Icon">
      </button>
     </div> 
    </nav>
  </div>
</div>

{%- endmacro %}
