{% macro form_footer(form_type, new=false) %}

<div class="form-footer-container">
  <nav class="form-footer" aria-label="Form Buttons">
    <button id="footer-update-button" class="button form-footer-button form-footer-button-large">
      <img class="icon" src="{{ url_for('static', filename='/images/icons/upload.svg') }}">
      {% if new %}
        CREATE
      {% else %}
        UPDATE
      {% endif %}
    </button>
    {% if not new %}
      <button id="footer-delete-button" class="button form-footer-button form-footer-button-large">
        <img class="icon" src="{{ url_for('static', filename='/images/icons/bin_white.svg') }}">
        DELETE
      </button>
    {% endif %}
    <button id="footer-help-button" class="button form-footer-button form-footer-button-small">
      <img class="icon" src="{{ url_for('static', filename='/images/icons/question.svg') }}">
      HELP
    </button>
  </nav>
</div>

{%- endmacro %}
