<form id="consent-form" class="consent-form-border" aria-label="Cookie Consent Form"
data-csrf="{{ csrf_token() }}"
data-url="{{ url_for('session.accept_cookies') }}">
    <div class="consent-form-inner">
        <label class="consent-header">
            <h3 class="consent-heading">UWC TERMS AND CONDITIONS</h3>
        </label>
        
        <div class="consent-body">

            <p class="consent-text">
                WAR/COR acknowledges the necessity of user privacy, and uses only essential cookies to allow site functionality.
                WAR/COR does not gather or track any user data.
            </p>
            <p class="consent-text">
                For users signing in, email addresses are used only for authentication and password recovery.
            </p>
            <p class="consent-text">
                By clicking 'Accept', you agree to our website's cookie use as described in our
                <a href="{{ url_for('home.cookie_policy') }}" class="consent-link">Cookie Policy</a>.
            </p>

        </div>

        <div class="consent-footer">
            <button id="gdpr-consent-accept" class="button consent-button" type="submit">ACCEPT</button>
        </div>

    </div>
    
</form>

<script src="{{ url_for('static', filename='/js/consent.js') }}"></script>
