{% import "components/modal/modal_preview.html" as modal_preview %}
{% import "components/modal/modal_comment.html" as modal_comment %}
{% import "components/modal/modal_admin.html" as modal_admin %}
{% import "components/modal/modal_remove.html" as modal_remove %}
{% import "components/modal/modal_event.html" as modal_event %}
{% import "components/modal/modal_epoch.html" as modal_epoch %}
{% import "components/modal/modal_template.html" as modal_template %}
{% import "components/modal/modal_help.html" as modal_help %}


{% macro modal(type=none,
               subtype=none,
               title=none, 
               aria_label=none, 
               flavour_text=none, 
               body_text=none, 
               button_text=none, 
               model_id=none, 
               form=none, 
               form_action=none,
               form_target=none, 
               loop_index=none) %}
  
  <div id="{{ type }}-modal-{{ loop_index }}" class="modal">
    {% if type == "preview" %}
    <div class="modal-content modal-preview-content" role="dialog" aria-label="{{ aria_label }}" aria-modal="false" tabindex="-1">
    {% else %}
    <div class="modal-content modal-content-small" role="dialog" aria-label="{{ aria_label }}" aria-modal="false" tabindex="-1">
    {% endif %}
      <div class="modal-content-inner">
        <div class="modal-header">
          <h2 class="modal-header-small">{{ title }}</h2>
          <button id="{{ type }}-close-{{ loop_index }}" class="modal-close" aria-label="Close Modal">
            <img class="icon" aria-label="Close Icon" src="{{ url_for('static', filename='images/icons/cancel.svg') }}">
          </button>
        </div>
        {% if type == "preview" %}
        <div class="modal-body modal-preview-overflow">
        {% elif type == "help" %}
        <div class="modal-body modal-body-scroll">
        {% else %}
        <div class="modal-body modal-body-small">
        {% endif %}

          {% if type == "preview" %}
            {{ modal_preview.modal_preview(loop_index=loop_index) }}
          {% elif type == "comment" %}
            {{ modal_comment.modal_comment(loop_index=loop_index,
                                           model_id=model_id,
                                           form=form, 
                                           form_action=form_action, 
                                           body_text=body_text, 
                                           button_text=button_text) }}
          {% elif type == "admin" %}
            {{ modal_admin.modal_admin(loop_index=loop_index,
                                       model_id=model_id,
                                       form=form,
                                       form_target=form_target,
                                       form_action=form_action,
                                       body_text=body_text) }}
          {% elif type == "remove" %}
            {{ modal_remove.modal_remove(loop_index=loop_index,
                                         model_id=model_id,
                                         form=form,
                                         form_target=form_target,
                                         form_action=form_action,
                                         body_text=body_text,
                                         button_text=button_text) }}
          {% elif type == "event" %}
            {{ modal_event.modal_event(model_id=model_id,
                                       form=form,
                                       form_action=form_action,
                                       body_text=body_text) }}
          {% elif type == "epoch" %}
            {{ modal_epoch.modal_epoch(model_id=model_id,
                                       form=form,
                                       form_action=form_action,
                                       body_text=body_text) }}
          {% elif type == "template" %}
            {{ modal_template.modal_template(loop_index=loop_index,
                                             subtype=subtype,
                                             form=form,
                                             form_action=form_action,
                                             button_text=button_text) }}
          {% elif type == "help" %}
            {{ modal_help.modal_help(subtype=subtype) }}
          {% endif %}
        
        </div>
      </div>
    </div>
  </div>

{%- endmacro %}
