{% macro new_field_buttons() %}

  <div class="new-field-area">
    <!-- <button type="button" class="button">NEW DYNAMIC FIELD</button> -->

    <div class="new-field-sub-buttons">
      <button type="button" id="new-basic-field-button" class="button new-field-button">ADD NEW BASIC FIELD</button>
      <button type="button" id="new-text-field-button" class="button new-field-button">ADD NEW TEXT FIELD</button>
      <button type="button" id="new-composite-field-button" class="button new-field-button">ADD NEW COMPOSITE FIELD</button>
    </div>
  
  </div>
<!-- 
  <script src="{{ url_for('static', filename='/js/components/') }}" -->

{%- endmacro %}
