{# 
  
  SEARCHBAR COMPONENT
  
  Found on the campaigns page, timeline page and timeline edit page.
  Edit boolean can be passed to direct advanced search page back 
  button to edit timeline page. Timeline boolean is used to diffentiate
  between campaigns page and timeline page on click functionality.
  
#}

{% macro searchbar(campaign, edit=false, timeline=false) %}

<div id="searchbar" class="searchbar-border">
  <div class="searchbar-outer">

    <button id="searchbar-button" class="button searchbar-button" title="DEPLOY SEARCHBAR">
      <label class="search-label">

        <svg width="20px" height="20px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="search-icon" stroke="none" stroke-width="1" fill-rule="evenodd">
              <g id="Shape" transform="translate(42.666667, 42.666667)">
                  <path class="icon-colour-var" d="M426.630187,396.463573 L305.314987,275.148373 C327.799467,246.239573 341.333333,210.04032 341.333333,170.666667 C341.333333,76.56256 264.770773,-7.10542736e-15 170.666667,-7.10542736e-15 C76.56256,-7.10542736e-15 7.10542736e-15,76.56256 7.10542736e-15,170.666667 C7.10542736e-15,264.770773 76.56256,341.333333 170.666667,341.333333 C210.04032,341.333333 246.239573,327.799467 275.148373,305.3152 L396.463573,426.6304 L426.630187,396.463573 Z M170.666667,298.666667 C100.083413,298.666667 42.6666667,241.24992 42.6666667,170.666667 C42.6666667,100.083413 100.083413,42.6666667 170.666667,42.6666667 C241.24992,42.6666667 298.666667,100.083413 298.666667,170.666667 C298.666667,241.24992 241.24992,298.666667 170.666667,298.666667 Z">
          </path>
                  </g>
              </g>
          </svg>

      </label>
    </button>

    <div class="searchbar-area">
      {% if timeline %}
        <input id="search-bar" class="search-bar timeline-searchbar" placeholder="SEARCH">
      {% else %}
        <input id="search-bar" class="search-bar campaign-searchbar" placeholder="SEARCH">
      {% endif %}
      {% if timeline %}
        <button id="searchbar-go" class="button searchbar-go" onclick="triggerSearch()">
          <svg class="icon" width="20px" height="20px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g class="icon-colour-var" transform="translate(123.520000, 134.186667)">
                    <path d="M158.293333,0 L279.893333,121.813333 L158.293333,243.626667 L128,213.333333 L219.733333,121.813333 L128,30.2933333 L158.293333,0 Z M30.2933333,0 L151.893333,121.813333 L30.2933333,243.626667 L-1.42108547e-14,213.333333 L91.7333333,121.813333 L-1.42108547e-14,30.2933333 L30.2933333,0 Z" id="arrow-double-right"></path>
                </g>
            </g>
          </svg>
        </button>
      {% endif %}
        
      {% if campaign is not none %}
        {% if edit %}
          <a class="advanced-search-area" href="{{ url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id, edit=true) }}">
            <button class="button searchbar-advanced-button">
              ADVANCED
            </button>
          </a>
        {% else %}
          <a class="advanced-search-area" href="{{ url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id) }}">
            <button class="button searchbar-advanced-button">
              ADVANCED
            </button>
          </a>
        {% endif %}
      
      {% endif %}
    </div>

    <div class="hits-area">
      <div id="hits-counter" class="hits-counter">
        {% if request.path == "/campaigns" %}
          {{ campaigns | length }} CAMPAIGNS
        {% else %} 
          {{ campaign.events | length }} EVENTS
        {% endif %}
      </div>
    </div>

  </div>
</div>

<script src="/static/js/searchbar.js"></script>

{%- endmacro %}
