
{% macro timeline_sidebar(campaign, timeline_data) %}

<aside id="sidebar-outer" class="sidebar-outer" aria-label="Sidebar" tabindex="-1">
  
  <button id="sidebar-deploy" class="sidebar-deploy" aria-label="Deploy Sidebar">
    <img aria-label="Sidebar double chevron symbol" id="sidebar-icon" class="icon icon-large" src="{{ url_for('static', filename='/images/icons/chevron_right.svg') }}">
  </button>

  <ol id="sidebar-scroll" class="sidebar-scroll" aria-label="Timeline Shortcuts" aria-hidden="true" tabindex="-1">
    {% for year in timeline_data %}

    <li class="sidebar-li">
      <button class="sidebar-button year-button" 
      tabindex="-1" data-target-elem="year-{{year.name}}">
        {{ year.name + campaign.date_suffix}}
    </button>
    </li>
    
      {% for month in year.months %}
        {% for day in month.days %}
          {% if day.has_epoch %}
            {% for epoch in day.epochs %}
            <li>
              <button class="sidebar-button event-button epoch-button" 
              tabindex="-1" data-target-elem="epoch-{{epoch.id}}">
                -{{epoch.title}}-
              </button>
            </li>
            {% endfor %}
          {% endif %}

          {% for event in day.events  %}
          <li>
            <button class="sidebar-button event-button" 
            tabindex="-1" data-target-elem="event-{{event.id}}">
              {{event.title}}
            </button>
          </li>
          {% endfor %}

        {% endfor %}

      {% endfor %}

    {% endfor %}
  </ol>

</aside>


 <!-- Javascript -->
 <script src="{{ url_for('static', filename='js/components/ui/sidebar.js') }}"></script>

{%- endmacro %}


{% macro event_sidebar(event, sidebar_data) %}

<aside id="sidebar-outer" class="sidebar-outer" aria-label="Sidebar" tabindex="-1">

<button id="sidebar-deploy" class="sidebar-deploy" aria-label="Deploy Sidebar">
  <img aria-label="Sidebar double chevron symbol" id="sidebar-icon" class="icon icon-large" src="{{ url_for('static', filename='/images/icons/chevron_right.svg') }}">
</button>

<ol id="sidebar-scroll" class="sidebar-scroll" aria-label="Timeline Shortcuts" aria-hidden="true" tabindex="-1">
  
  {% for entry in event.dynamic_fields %}

    {% set field_index = loop.index - 1 %}

    {% if entry.field_type == "html" %}
      <li class="sidebar-li">
        <button class="sidebar-button event-button" tabindex="-1"
        data-target-elem="field-{{ loop.index }}">
          {{ entry.title }}
        </button>
      </li>

      {% for group in sidebar_data %}

        {% if field_index == group.field_index %}

          {% for subheader in group.subheadings %}
            <li class="sidebar-li subheader-li">
              <button class="sidebar-button event-button event-indent" tabindex="-1"
              data-target-elem="{{ subheader.element_id }}">
                {{ subheader.title }}
              </button>
            </li>
          {% endfor %}

        {% endif %}

      {% endfor %}

    {% else %}
      <li class="sidebar-li">
        <button class="sidebar-button event-button" tabindex="-1"
        data-target-elem="field-{{ loop.index }}">
          {{ entry.title }}
        </button>
      </li>
    {% endif %}
  {% endfor %}
  

</ol>

</aside>


<!-- Javascript -->
<script src="{{ url_for('static', filename='js/components/ui/sidebar.js') }}"></script>

{%- endmacro %}
