{#
  
  TIMELINE SIDEBAR COMPONENT

  Found on both timeline and edit_timeline page
  
  #}

<div id="sidebar-outer" class="sidebar-outer">
  
  <div id="sidebar-scroll" class="sidebar-scroll">
    {% for year in timeline_data %}

    <a class="sidebar-button" href="#year-{{year.name}}">
      <button class="year-button entry-button">
        {{ year.name + campaign.date_suffix}}
        </button> 
    </a>
    
        
      {% for month in year.months %}

        {% if month.has_epoch %}
          {% for epoch in month.epochs %}
          <a class="sidebar-button" href="#epoch-{{epoch.id}}">
            <button class="event-button epoch-button">-{{epoch.title}}-</button>
          </a>
          {% endfor %}
        {% endif %}

        {% for day in month.days %}

          {% for event in day.events  %}
            <a class="sidebar-button" href="#event-{{event.id}}">
              {% if event.header %}
              <button class="event-button event-button-header" onclick="scrollToAnim('event-{{event.id}}')">
              {% else %}
              <button class="event-button" onclick="scrollToAnim('event-{{event.id}}')">
              {% endif %}
                {{event.title}}
              </button>
            </a>
          {% endfor %}

        {% endfor %}

        {# Show Epoch End

        {% if month.has_epoch_end %}
          {% for epoch in month.end_epochs %}
            {% if epoch.has_events %}
            <a class="sidebar-button" href="#epoch-end-{{epoch.id}}">
              <button class="event-button epoch-button">-End of {{epoch.title}}-</button>
            </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        
        #}

      {% endfor %}

    {% endfor %}
  </div>

  <div id="sidebar-deploy" class="sidebar-deploy">
    <img id="sidebar-icon" class="icon icon-large" src="/static/images/icons/chevron_right.svg">
  </div>


</div>


 <!-- Javascript -->
 <script src="/static/js/sidebar.js" defer="True"></script> 