{#
  
  TIMELINE SIDEBAR COMPONENT

  Found on both timeline and edit_timeline page
  
  #}

{% macro timeline_sidebar(campaign, timeline_data) %}

<aside id="sidebar-outer" class="sidebar-outer" aria-label="Sidebar" tabindex="-1">
  
  <button id="sidebar-deploy" class="sidebar-deploy" aria-label="Deploy Sidebar">
    <img aria-label="Sidebar double chevron symbol" id="sidebar-icon" class="icon icon-large" src="{{ url_for('static', filename='/images/icons/chevron_right.svg') }}">
  </button>

  <ol id="sidebar-scroll" class="sidebar-scroll" aria-label="Timeline Shortcuts" aria-hidden="true" tabindex="-1">
    {% for year in timeline_data %}

    <li class="sidebar-li">
      <a class="sidebar-button year-button" href="#year-{{year.name}}" tabindex="-1" data-target-elem="year-{{year.name}}">
        {{ year.name + campaign.date_suffix}}
      </a>
    </li>
    
      {% for month in year.months %}
        {% for day in month.days %}
          {% if day.has_epoch %}
            {% for epoch in day.epochs %}
            <li>
              <a class="sidebar-button event-button epoch-button" href="#epoch-{{epoch.id}}" tabindex="-1" data-target-elem="epoch-{{epoch.id}}">
                -{{epoch.title}}-
              </a>
            </li>
            {% endfor %}
          {% endif %}

          {% for event in day.events  %}
          <li>
            <a class="sidebar-button event-button" href="#event-{{event.id}}" tabindex="-1" data-target-elem="event-{{event.id}}">
              {{event.title}}
            </a>
          </li>
          {% endfor %}

        {% endfor %}

      {% endfor %}

    {% endfor %}
  </ol>

</aside>


 <!-- Javascript -->
 <script src="{{ url_for('static', filename='js/components/ui/sidebar.js') }}"></script>

 {%- endmacro %}
