{#
    Summernote editor configuration component.
#}

{% macro summernote_editor(placeholder="REQUIRED", 
                           char_limit=none, 
                           id_suffix=none, 
                           allow_images=false,
                           allow_urls=false) %}

  {% if allow_images %}
    {% set allow_images = "picture" %}
  {% endif %}
  {% if allow_urls %}
    {% set allow_urls = "link" %}
  {% endif %}

  <script src="{{ url_for('static', filename='js/components/summernote_initialise.js') }}"></script>
  <script>
    summernoteInitialise("{{ id_suffix }}", 
                         "{{ placeholder }}", 
                         "{{  char_limit }}", 
                         "{{ allow_images }}", 
                         "{{ allow_urls }}")
  </script>

{%- endmacro %}
