{#
    Summernote editor configuration component.
#}

{% macro summernote_editor(placeholder="REQUIRED", char_limit=none, id_suffix=none) %}

    {% set height = "fit-content" %}

    {% if char_limit is not none %}
      <script>
        $('#summernote' + "{{ id_suffix }}").summernote({
          callbacks: {
            onKeydown: function (e) { 
                var t = e.currentTarget.innerText; 
                if (t.trim().length >= parseInt("{{char_limit}}") ) {
                    //delete keys, arrow keys, copy, cut, select all
                    if (e.keyCode != 8 && !(e.keyCode >=37 && e.keyCode <=40) && e.keyCode != 46 && !(e.keyCode == 88 && e.ctrlKey) && !(e.keyCode == 67 && e.ctrlKey) && !(e.keyCode == 65 && e.ctrlKey))
                    e.preventDefault(); 
                } 
            },
            onKeyup: function (e) {
                var t = e.currentTarget.innerText;
                $('#maxContentPost').text(parseInt("{{char_limit}}") - t.trim().length);
            },
            onPaste: function (e) {
                var t = e.currentTarget.innerText;
                var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                e.preventDefault();
                var maxPaste = bufferText.length;
                if(t.length + bufferText.length > parseInt("{{char_limit}}")){
                    maxPaste = parseInt("{{char_limit}}") - t.length;
                }
                if(maxPaste > 0){
                    document.execCommand('insertText', false, bufferText.substring(0, maxPaste));
                }
                $('#maxContentPost').text(parseInt("{{char_limit}}") - t.length);
            }
          },
          placeholder: '<p>{{ placeholder }}</p>',
          dialogsInBody: true,
          dialogsFade: true, 
          tabsize: 2,
          height: "{{ height }}",
          styleTags: ['p', 'h1', 'h2', 'h3'],
          toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'italic', 'underline', 'clear']],
              ['para', ['ul', 'ol', 'paragraph']],,
              ['insert', ['link', 'picture']]
          ],
          popover: {
            image: [
              ['remove', ['removeMedia']]
            ]
          }
          });
    
        dialogsClass: 'summernote-dialog'
      </script>
      <script>
        // Listen for changes to summernote field
        $("#summernote").on("summernote.change", function() {
          $(document).trigger("summernoteFieldChanged", [$(this).summernote("code")]);
        });
      </script>

    {% else %}
    
      <script>
        $('#summernote' + "{{ id_suffix }}").summernote({
          placeholder: '<p>{{ placeholder }}</p>',
          dialogsInBody: true,
          dialogsFade: true, 
          tabsize: 2,
          height: "{{ height }}",
          styleTags: ['p', 'h1', 'h2', 'h3'],
          toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'italic', 'underline', 'clear']],
              ['para', ['ul', 'ol', 'paragraph']],,
              ['insert', ['link', 'picture']]
          ],
          popover: {
            image: [
              ['remove', ['removeMedia']]
            ]
          }
          });
    
        dialogsClass: 'summernote-dialog'
      </script>
      <script>
        // Listen for changes to summernote field
        $("#summernote").on("summernote.change", function() {
          $(document).trigger("summernoteFieldChanged", [$(this).summernote("code")]);
        });
      </script>

    {% endif %}

{%- endmacro %}
