<div class="timeline-year-outer-container timeline-demo-container">
    <div class="timeline-year-container">
       <h3 class="timeline-year-header" id="year--50">5016u</h3>
       <div class="timeline-columns">
          <div id="timeline-left-marker" class="timeline-left-marker">
             <div class="year-marker-hr"></div>
             <div class="year-marker-line"></div>
             <h5 class="year-marker">-50u</h5>
             <div class="year-marker-line"></div>
             <div class="year-marker-hr"></div>
          </div>
          <div class="timeline-right-marker">
             <div class="timeline-horizontal"></div>
             <div class="timeline-line"></div>
             <div class="timeline-horizontal"></div>
          </div>
       </div>
    </div>
 </div>
 <div class="timeline-months-container">

    <!-- Month 01 -->
    <div class="month-outer month-outer-top">
       <div class="month-connector">
          <div class="line line-first"></div>
          <div class="connector-date connector-date-outline">
             <div class="connector-date">
                01
             </div>
          </div>
          <div class="line"></div>
       </div>
       <div class="timeline-month">
          <!-- Day 01 -->
          <div class="timeline-day-outer">
             <div class="day-line day-line-top"></div>
             <div class="right-branch-label">
                <div class="date-label-area">
                   <div class="line line-first"></div>
                   <div class="connector-date connector-date-outline">
                      <div class="connector-date">
                         01
                      </div>
                   </div>
                   <div class="line line-spacer"></div>
                </div>
             </div>
             <div class="event-group-container">
                <!-- Event Operation Amazing Viscosity -->
                <div class="timeline-day-container day-container-solo">
                   <div class="event-line event-line-solo"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               15:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/01 15:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-85" class="timeline-event">
                            <div class="event-header">
                                //Operation Amazing Viscosity
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- Day 02 -->
          <div class="timeline-day-outer day-container-edgecase">
             <div class="day-line day-line-bottom"></div>
             <div class="right-branch-label">
                <div class="date-label-area">
                   <div class="line line-first"></div>
                   <div class="connector-date connector-date-outline">
                      <div class="connector-date">
                         02
                      </div>
                   </div>
                   <div class="line line-spacer"></div>
                </div>
             </div>
             <div class="event-group-container">
                <!-- Event Operation Foreground -->
                <div class="timeline-day-container">
                   <div class="event-line event-line-top"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               00:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 00:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-86" class="timeline-event">
                            <div class="event-header">
                                //Operation Foreground
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Event Operation Horoscope -->
                <div class="timeline-day-container day-container-mid">
                   <div class="event-line event-line-mid"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               01:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 01:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-87" class="timeline-event">
                            <div class="event-header">
                                //Operation Horoscope
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Event Operation Fake Steamboat -->
                <div class="timeline-day-container day-container-mid">
                   <div class="event-line event-line-mid"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               02:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 02:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-88" class="timeline-event">
                            <div class="event-header">
                                //Operation Fake Steamboat
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Event Operation Passing Bakery -->
                <div class="timeline-day-container day-container-mid">
                   <div class="event-line event-line-mid"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               02:30:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 02:30:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-91" class="timeline-event">
                            <div class="event-header">
                                //Operation Passing Bakery
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Event Operation Blockbuster -->
                <div class="timeline-day-container day-container-mid">
                   <div class="event-line event-line-mid"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               03:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 03:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-89" class="timeline-event">
                            <div class="event-header">
                                //Operation Blockbuster
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Event Operation Rich T -->
                <div class="timeline-day-container day-container-bottom">
                   <div class="event-line event-line-bottom"></div>
                   <div class="right-branch-label">
                      <div class="date-label-area">
                         <div class="line line-first"></div>
                         <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                               04:00:00
                            </div>
                         </div>
                         <div class="line line-spacer"></div>
                      </div>
                   </div>
                   <div class="event-outer-container">
                      <h4 class="event-small-date">-50/01/02 04:00:00</h4>
                      <div class="timeline-event event-outline">
                         <div id="event-90" class="timeline-event">
                            <div class="event-header">
                                //Operation Rich T
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 