<div class="timeline-year-outer-container timeline-demo-container fade-group fade-group-1">
   <div class="timeline-year-container">
      <h3 class="timeline-year-header" id="year--50">5016u</h3>
      <div class="timeline-columns">
         <div id="timeline-left-marker" class="timeline-left-marker">
            <div class="year-marker-hr"></div>
            <div class="year-marker-line"></div>
            <h5 class="year-marker">5016u</h5>
            <div class="year-marker-line"></div>
            <div class="year-marker-hr"></div>
         </div>
         <div class="timeline-right-marker">
            <div class="timeline-horizontal"></div>
            <div class="timeline-line"></div>
            <div class="timeline-horizontal"></div>
         </div>
      </div>
   </div>
</div>
<div class="timeline-months-container">

   <!-- Phase Start -->
   <!-- <div class="epoch-start-group">
      <div class="epoch-outer fade-group fade-group-8">

         <div class="epoch-elems">
           <div id="epoch-14" class="epoch-container">
             <h3 class="epoch-header">Phase 1</h3>
             <div class="epoch-body">
               
                 <h4 class="epoch-date">5016/01</h4>
               
               <h6 class="epoch-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                  ex ea commodo consequat</h6>
             </div>
           </div>
         </div>
      </div>
   
      <div class="epoch-start-marker fade-group fade-group-8">
         <div class="epoch-vert-line"></div>
         <div class="epoch-hor-line"></div>
      </div>
   </div> -->
   
   <!-- Month 03 -->
   <div class="month-outer month-outer-top">
      <div class="month-connector month-connector-offset">
         <div class="line line-first fade-group fade-group-2"></div>
         <div class="connector-date connector-date-outline fade-group fade-group-2">
            <div class="connector-date">
               01
            </div>
         </div>
         <div class="line fade-group fade-group-3"></div>
      </div>
      <div class="timeline-month">

         <div class="epoch-start-group">
            <div class="epoch-outer fade-group fade-group-8">

               <div class="epoch-elems">
                 <div id="epoch-14" class="epoch-container">
                   <h3 class="epoch-header">Mission 1</h3>
                   <div class="epoch-body">
                     
                       <h4 class="epoch-date">5016/01/01 > 5016/01/02</h4>
                     
                     <h6 class="epoch-description"></h6>
                   </div>
                 </div>
               </div>
            </div>
         
            <div class="epoch-start-marker fade-group fade-group-8">
               <div class="epoch-vert-line"></div>
               <div class="epoch-hor-line"></div>
            </div>
         </div>

         <!-- Day 01 -->

         <div class="timeline-day-outer">
            <div class="day-line day-line-top fade-group fade-group-4"></div>
            <div class="right-branch-label">
               <div class="date-label-area fade-group fade-group-3">
                  <div class="line line-first"></div>
                  <div class="connector-date connector-date-outline">
                     <div class="connector-date">
                        01
                     </div>
                  </div>
                  <div class="line line-spacer"></div>
               </div>
            </div>
            <div class="event-group-container fade-group fade-group-3">
               <!-- Event -->
               <div class="timeline-day-container day-container-solo">
                  <div class="event-line event-line-solo"></div>
                  <div class="right-branch-label">
                     <div class="date-label-area">
                        <div class="line line-first"></div>
                        <div class="connector-date connector-date-outline">
                           <div class="connector-date">
                              22:00:00
                           </div>
                        </div>
                        <div class="line line-spacer"></div>
                     </div>
                  </div>
                  <div class="event-outer-container">
                     <h4 class="event-small-date">5016/01/01 22:00:00</h4>
                     <div class="timeline-event event-outline">
                        <div id="event-85" class="timeline-event">
                           <div class="event-header">
                              //Battle: Gauntlet
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Day 02 -->
         <div class="timeline-day-outer day-container-edgecase">
            <div class="day-line day-line-bottom"></div>
            <div class="right-branch-label">
               <div class="date-label-area">
                  <div class="line line-first fade-group fade-group-4"></div>
                  <div class="connector-date connector-date-outline fade-group fade-group-4">
                     <div class="connector-date">
                        02
                     </div>
                  </div>
                  <div class="line line-spacer fade-group fade-group-5"></div>
               </div>
            </div>
            <div class="event-group-container">
               <!-- Event -->
               <div class="timeline-day-container">
                  <div class="event-line event-line-top fade-group fade-group-6"></div>
                  <div class="right-branch-label fade-group fade-group-5">
                     <div class="date-label-area">
                        <div class="line line-first"></div>
                        <div class="connector-date connector-date-outline">
                           <div class="connector-date">
                              01:00:00
                           </div>
                        </div>
                        <div class="line line-spacer"></div>
                     </div>
                  </div>
                  <div class="event-outer-container fade-group fade-group-5">
                     <h4 class="event-small-date">5016/01/02 01:00:00</h4>
                     <div class="timeline-event event-outline">
                        <div id="event-86" class="timeline-event">
                           <div class="event-header">
                              //Rest and Repair
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Event -->
               <div class="timeline-day-container day-container-mid">
                  <div class="event-line event-line-mid fade-group fade-group-7"></div>
                  <div class="right-branch-label">
                     <div class="date-label-area fade-group fade-group-6">
                        <div class="line line-first"></div>
                        <div class="connector-date connector-date-outline">
                           <div class="connector-date">
                              07:30:00
                           </div>
                        </div>
                        <div class="line line-spacer"></div>
                     </div>
                  </div>
                  <div class="event-outer-container fade-group fade-group-6">
                     <h4 class="event-small-date">5016/01/02 07:30:00</h4>
                     <div class="timeline-event event-outline">
                        <div id="event-91" class="timeline-event">
                           <div class="event-header">
                              //Battle: Control
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Event -->
               <div class="timeline-day-container day-container-bottom">
                  <div class="event-line event-line-bottom"></div>
                  <div class="right-branch-label">
                     <div class="date-label-area fade-group fade-group-7">
                        <div class="line line-first"></div>
                        <div class="connector-date connector-date-outline">
                           <div class="connector-date">
                              10:00:00
                           </div>
                        </div>
                        <div class="line line-spacer"></div>
                     </div>
                  </div>
                  <div class="event-outer-container fade-group fade-group-7">
                     <h4 class="event-small-date">5016/01/02 10:00:00</h4>
                     <div class="timeline-event event-outline">
                        <div id="event-90" class="timeline-event">
                           <div class="event-header">
                              //Downtime
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="epoch-end-group">
            <div class="epoch-end-marker fade-group fade-group-8">
               <div class="epoch-hor-line-end"></div>
               <div class="epoch-vert-line"></div>
            </div>
            <div class="epoch-outer epoch-end-outer fade-group fade-group-8">
               <div class="epoch-container">
                  <div class="epoch-body">
                     <h6 id="epoch-end-11" class="epoch-end-text epoch-description">End of Mission 1</h6>
                  </div>
               </div>
            </div>
         </div>
         
         
      </div>
   </div>

   <!-- Phase End -->
   <!-- <div class="epoch-end-group">
      <div class="epoch-end-marker fade-group fade-group-8">
         <div class="epoch-hor-line-end"></div>
         <div class="epoch-vert-line"></div>
      </div>
      <div class="epoch-outer epoch-end-outer fade-group fade-group-8">
         <div class="epoch-container">
            <div class="epoch-body">
               <h6 id="epoch-end-11" class="epoch-end-text epoch-description">End of Phase 1</h6>
            </div>
         </div>
      </div>
   </div> -->

</div>
