{#

  VIEW TOGGLES COMPONENT

  Used on campaigns page
  
#}

<div class="view-toggles" aria-label="Campaign layout type">

  <label class="toggle campaign-view-toggle view-toggle-left" for="campaign-toggle-list" aria-label="Horizontal">
    <input class="radio radio-hidden" type="radio" id="campaign-toggle-list" name="view" value="HTML" checked>
    <svg class="icon" aria-label="Horizontal Icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
      <path class="icon-colour-var" d="M3.5 20.5L3.5 13.5L20.5 13.5V20.5H3.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path class="icon-colour-var" d="M3.5 10.5L3.5 3.5L20.5 3.5V10.5L3.5 10.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </label>

  <label class="toggle campaign-view-toggle view-toggle-right" for="campaign-toggle-grid" aria-label="Grid">
    <input class="radio radio-hidden" type="radio" id="campaign-toggle-grid" name="view" value="HTML">
    <svg class="icon" aria-label="Grid Icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="icon-colour-var" d="M3.5 3.5H10.5V10.5H3.5V3.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path class="icon-colour-var" d="M3.5 13.5H10.5V20.5H3.5V13.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path class="icon-colour-var" d="M13.5 3.5H20.5V10.5H13.5V3.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path class="icon-colour-var" d="M13.5 13.5H20.5V20.5H13.5V13.5Z" stroke="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>       
  </label>

</div>