<div class="navbar">
  <div class="logo-area">
    <div class="logo">
      <img src="/static/images/logo.png" class="top-logo" alt="A triangular white logo">
    </div>
    <a href="{{ url_for('home.home') }}" class="logo-title">WAR/COR</a>
    <div class="version-number">
      Version: 0.1
    </div>
  </div>

  <div class="navbar-right">

    <ul class="navbar-links">
      {% if current_user.is_authenticated %}
        {% if request.path != "/campaigns" %}
        <li class="link-toggle">
          <a class="navbar-link-item" href="{{ url_for('campaign.campaigns') }}">
            <img class="icon campaign-form-icon" src="/static/images/icons/list.svg">
            Campaigns
          </a>
        </li>
        {% endif %}
        {% if request.path != url_for('user.user_page', username=current_user.username) %}
        <li class="link-toggle">
          <a class="navbar-link-item" href="{{ url_for('user.user_page', username=current_user.username) }}">
            <img class="icon campaign-form-icon" src="/static/images/icons/user_white.svg">
            {{ current_user.username }}
          </a>
        </li>
        {% endif %}
        <li class="">
          <button class="navbar-link-item messages-button" id="messages-button">
            <img class="icon campaign-form-icon" src="/static/images/icons/message.svg">
            {{ current_user.messages|length }}
          </button>
        </li>
      {% elif request.path == "/" %}
        <li class="link-toggle">
          <a class="navbar-link-item" href="#main-features">>SITREP</a>
        </li>
        <li class="link-toggle">
          <a class="navbar-link-item" href="">>COMMS</a>
        </li>
      {% endif %}
    </ul> 
    <div class="navbar-buttons">
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('user.login') }}"><button type="button" class="navbutton log-in-button">LOG IN</button></a>
      <a href="{{ url_for('user.register') }}"><button type="button" class="navbutton register-button">REGISTER</button></a>
    {% else %}
      <a href="{{ url_for('user.logout') }}"><button type="button" class="navbutton log-out-button">LOG OUT</button></a>
    {% endif %}
    </div>
    <a href="javascript:void(0);" class="hamburger-button" onclick="hamburgerClick()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<div class="hamburger-menu" id="hamburgerMenu">
  {% if current_user.is_authenticated %}
    {% if request.path != "/campaigns" %}
    <a class="h-menu-item" href="{{ url_for('campaign.campaigns') }}">CAMPAIGNS</a>
    {% endif %}
    {% if request.path != url_for('user.user_page', username=current_user.username) %}
    <a class="h-menu-item" href="{{ url_for('user.user_page', username=current_user.username) }}">{{ current_user.username}}</a>
    {% endif %}
    <a class="h-menu-item" href="{{ url_for('user.logout') }}">LOGOUT</a>
    {% else %}
    <a class="h-menu-item" href="{{ url_for('user.login') }}">LOGIN</a>
    <a class="h-menu-item" href="{{ url_for('user.register') }}">REGISTER</a>
    <a class="h-menu-item" href="">SITREP</a>
    <a class="h-menu-item" href="">COMMS</a>
  {% endif %}
</div>


<div id="messages-tab" class="notifications-dropdown">
  
  <ul class="notifications-list">
  {% if current_user.messages | length == 0 %}
    
    <li class="message-item">
      <h5 class="no-message-header">NO MESSAGES</h5>
      <div class="no-message-text-area">
        <p class="flavour-text no-message-flavour">//Communications:Online</p>
        <p class="flavour-text no-message-flavour">//Satellite:Lock</p>
        <p class="flavour-text no-message-flavour no-message-spacer">>Awaiting Uplink_</p>
      </div>
    </li>

  {% endif %}
  {% for message in current_user.messages %}

    {% if message.invite %}

      <h5 class="message-date">{{message.date}}</h5>

      <li class="message-item">
        <h4 class="message-header">INVITE</h4>
        
        <div class=message-body>{{message.body}}</div>

        <div class="message-button-area">
          <a href="{{url_for('campaign.accept_invite', campaign_name=message.target_campaign.title, campaign_id=message.target_campaign.id, message_id=message.id)}}">
            <button class="message-button">ACCEPT</button>
          </a>

          <a href="{{url_for('campaign.decline_invite', campaign_name=message.target_campaign.title, message_id=message.id)}}">
            <button class="message-button">DECLINE</button>
          </a>
        </div>

      </li>
      
    {% elif message.notification %}

    <h5 class="message-date">{{message.date}}</h5>

    <li class="message-item">
      <h4 class="message-header">ALERT</h4>
      
      <div class=message-body>{{message.body}}</div>

      <div class="message-button-area">
        <a href="{{ url_for('user.dismiss_message', message_id=message.id, username=current_user.username, current_url=url_for('campaign.show_timeline', campaign_name=message.target_campaign.title, campaign_id=message.target_campaign.id)) }}">
          <button class="message-button">VIEW</button>
        </a>
        <a href="{{ url_for('user.dismiss_message', message_id=message.id, username=current_user.username, current_url=request.url) }}">
          <button class="message-button">DISMISS</button>
        </a>
      </div>

    </li>

    {% endif %}

  {% endfor %}
  </ul>

</div>




<!-- Javascript -->
<script src="/static/js/navbar.js"></script> 
