<div class="navbar">
  <div class="logo-area">
    <div class="logo">
      <img src="/static/images/logo.png" class="top-logo" alt="A triangular white logo">
    </div>
    <a href="{{ url_for('home.home') }}" class="logo-title">WAR/COR</a>
    <div class="version-number">
      Version: 0.1
    </div>
  </div>

  <div class="navbar-right">

    <ul class="navbar-links">
      {% if current_user.is_authenticated %}
        {% if request.path != "/campaigns" %}
        <li><a href="{{ url_for('campaign.campaigns') }}">CAMPAIGNS</a></li>
        {% endif %}
        <li><a href="{{ url_for('user.user_page', username=current_user.username) }}">{{ current_user.username.upper() }}</a></li>
      {% else %}
        <li><a href="#main-features">>SITREP</a></li>
        <li><a href="">>COMMS</a></li>
      {% endif %}
    </ul> 
    <div class="navbar-buttons">
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('user.login') }}"><button type="button" class="navbutton log-in-button">LOG IN</button></a>
      <a href="{{ url_for('user.register') }}"><button type="button" class="navbutton register-button">REGISTER</button></a>
    {% else %}
      <a href="{{ url_for('user.logout') }}"><button type="button" class="navbutton log-out-button">LOG OUT</button></a>
    {% endif %}
    </div>
    <a href="javascript:void(0);" class="hamburger-button" onclick="hamburgerClick()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<div class="hamburger-menu" id="hamburgerMenu">
  {% if current_user.is_authenticated %}
    {% if request.path != "/campaigns" %}
    <a href="{{ url_for('campaign.campaigns') }}">CAMPAIGNS</a>
    {% endif %}
    <a href="{{ url_for('user.user_page', username=current_user.username) }}">{{ current_user.username.upper() }}</a>
    <a href="{{ url_for('user.logout') }}">LOGOUT</a>
    {% else %}
    <a href="{{ url_for('user.login') }}">LOGIN</a>
    <a href="{{ url_for('user.register') }}">REGISTER</a>
    <a href="">SITREP</a>
    <a href="">COMMS</a>
  {% endif %}
</div>

<!-- Javascript -->
<script src="/static/js/navbar.js"></script> 