<div id="sidebar" class="sidebar sidebar-outer">
  
  {% for year in timeline_data %}

    <a class="sidebar-button" href="#year-{{year}}">
      <button class="year-button entry-button">
        {{ year.name + campaign.date_suffix}}
        </button> 
    </a>
    
        
      {% for month in year.months %}


        {% for day in month.days %}

          {% for event in day.events  %}
            <a class="sidebar-button" href="#event-{{event.id}}">
              <button class="event-button">
                {{event.title}}
              </button>
            </a>
          {% endfor %}

        {% endfor %}

      {% endfor %}

    {% endfor %}

  
</div>
<div id="sidebar-deploy" class="sidebar-deploy">
  <img id="sidebar-icon" class="icon icon-large" src="/static/images/icons/chevron_right.svg">
</div>

 <!-- Javascript -->
 <script src="/static/js/sidebar.js" defer="True"></script> 