{% import "components/timeline/epoch.html" as epoch %}
{% import "components/timeline/event.html" as timeline_event %}

{# 

DAY COMPONENT

Placed dynamically on the timeline

Takes the campaign object, year object, day object, jinja2 loop.length,
jinja2 index0, and a boolean value to toggle edit page
elements.

#}

{% macro day(campaign, year, month, day, length, index, edit=false) %}

  {# Start of epoch markers #}
  {% if day.has_epoch %}
    {% if day.epoch_has_events %}
      {% if edit %}
        {{ epoch.epoch(day.epochs, campaign=campaign, contents=true, edit=true) }}
      {% else %}
        {{ epoch.epoch(day.epochs, campaign=campaign, contents=true, edit=false) }}
      {% endif %}
    {% else %}
      {% if edit %}
        {{ epoch.epoch(day.epochs, campaign=campaign, contents=false, edit=true) }}
      {% else %}
        {{ epoch.epoch(day.epochs, campaign=campaign, contents=false, edit=false) }}
      {% endif %}
    {% endif %}
  {% endif %}

  <!-- Day {{ day.name }} -->
  
  {# Give element "day-line-followed" class, which is targetted via js to
     extend line to meet element below #}
  {% if day.followed_by_epoch and day.events | length != 0 %}
    {% set followed_by_epoch_class = "day-line-followed" %}
  {% endif %}

  {% if edit %}
    {% if length == 1 %}
    <div class="timeline-day-outer">
      <div class="day-line day-line-solo-edit {{ followed_by_epoch_class }}"></div>
    {% elif index == 0  %}
    <div class="timeline-day-outer">
      {% if day.has_following_day %}
      <div class="day-line day-line-top-edit top-no-between {{ followed_by_epoch_class }}"></div>
      {% else %}
      <div class="day-line day-line-top-edit {{ followed_by_epoch_class }}"></div>
      {% endif %}
    {% elif index == length - 1 %}
    <div class="timeline-day-outer day-container-bottom">
      <div class="day-line day-line-bottom-edit {{ followed_by_epoch_class }}"></div>
    {% else %}
    <div class="timeline-day-outer day-container-mid">
      {% if day.has_following_day %}
      <div class="day-line day-line-mid-edit mid-no-between {{ followed_by_epoch_class }}"></div>
      {% else %}
      <div class="day-line day-line-mid-edit {{ followed_by_epoch_class }}"></div>
      {% endif %}
    {% endif %}
  {% else %}
    {# If day is the only day in the month #}
    {% if length == 1 %}
      <div class="timeline-day-outer">
        <div class="day-line day-line-solo {{ followed_by_epoch_class }}"></div>
    {# If day is the first in the month #}
    {% elif index == 0  %}
    <div class="timeline-day-outer">
      <div class="day-line day-line-top {{ followed_by_epoch_class }}"></div>
    {# If the day is the last in the month #}
    {% elif index == length - 1 %}
      <div class="timeline-day-outer day-container-bottom">
        <div class="day-line day-line-bottom {{ followed_by_epoch_class }}"></div>
    {# All other days #}
    {% else %}
      <div class="timeline-day-outer day-container-mid">
        <div class="day-line day-line-mid {{ followed_by_epoch_class }}"></div>
    {% endif %}
  {% endif %}

  {% if day.hide_marker %}
    {% set hidden_class = "hidden" %}
  {% endif %}

  <div class="right-branch-label">

    <div class="date-label-area">
      <div class="line line-first"></div>
      <div class="connector-date connector-date-outline">
        <div class="connector-date">
          {{day.name}}
        </div>
      </div>
      <div class="line line-spacer {{ hidden_class }}"></div>
    </div>

  </div>

    {# All events within day #}
    <div class="event-group-container">
      {% for event in day.events %}

        {% if edit %}

          {{ timeline_event.event(campaign,
            year,
            month,
            day,
            event, 
            length=loop.length,
            index=loop.index0,
            edit=true) }}

        {% else %}

          {{ timeline_event.event(campaign,
                                  year,
                                  month,
                                  day,
                                  event, 
                                  length=loop.length,
                                  index=loop.index0) }}
                    
        {% endif %}

      {% endfor %}
    </div>

  </div>


  {% if edit and not day.has_following_day %}
    <!-- Between days event button -->
    <div class="event-between event-between-days">
      <div class="between-days-elements">
        <div class="line line-dashed line-edit"></div>
    </div>
      <a href="{{ url_for('event.add_event', 
                  campaign_name=campaign.url_title,
                  campaign_id=campaign.id,
                  new_day=True, 
                  date=year.name + '/' + month.name + '/' + day.name + ' 00:00:00') }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item timeline-between-events">
          <img class="icon icon-invert" src="/static/images/icons/plus.svg">
        </button>
      </a>
        <p class="flavour-text new-event-flavour">//NEW EVENT: +1 Day</p>

    </div>
  {% endif %}

{# End of epoch markers #}
{% if day.has_epoch_end %}
  {% if day.epoch_has_events %}
    {{ epoch.epoch_end(day.end_epochs) }}
  {% else %}
    {{ epoch.epoch_end(day.end_epochs, contents=false) }}
  {% endif %}
{% endif %}

{%- endmacro %}
