{# 

EPOCH COMPONENT

Placed dynamically on the timeline

Takes an a months epochs list as an argument, the current campaign,
a boolean value for "edit" to determine if extra elements for 
edit_timeline page are rendered, and the "contents" boolean 
property to represent if the epoch has child events.

#}

{% macro epoch(epochs, campaign, edit=false, contents=true) %}

  <div class="epoch-start-group">
    <div class="epoch-outer">

      <div class="epoch-elems">
      {% for epoch in epochs %}
        {% if edit %}
        <a class="edit-epoch" href="{{ url_for('epoch.edit_epoch', 
                                      campaign_name=campaign.url_title,
                                      campaign_id=campaign.id,
                                      epoch_title=epoch.title,
                                      epoch_id=epoch.id) }}">
        {% endif %}

        <div id="epoch-{{epoch.id}}" class="epoch-container">
          <h3 class="epoch-header">{{ epoch.title }}</h3>
          <div class="epoch-body">
            {% if epoch.start_date != epoch.end_date %}
              <h4 class="epoch-date">{{ epoch.start_date }} > {{ epoch.end_date }}</h4>
            {% else %}
              <h4 class="epoch-date">{{ epoch.start_date }}</h4>
            {% endif %}
            <h6 class="epoch-description">{{ epoch.description | safe }}</h6>
          </div>
        </div>

        {% if edit %}
        </a>
        {% endif %}
      {% endfor %}

      </div>

    </div>

    {% if contents %}
      <div class="epoch-start-marker">
        <div class="epoch-vert-line"></div>
        <div class="epoch-hor-line"></div>
      </div>
    {% endif %}

  </div>

{%- endmacro %}


{# 

EPOCH END COMPONENT

Placed dynamically on the timeline

Takes an a months epochs list as an argument

#}

{% macro epoch_end(epochs, contents=true) %}

<div class="epoch-end-group">
  {% if contents %}
    <div class="epoch-end-marker">
      <div class="epoch-hor-line-end"></div>
      <div class="epoch-vert-line"></div>
    </div>
  {% endif %}

  <div class="epoch-outer epoch-end-outer">

    <div class="epoch-container">
      <div class="epoch-body">
        {% for epoch in epochs %}
          <h6 id="epoch-end-{{epoch.id}}" class="epoch-end-text epoch-description">End of {{ epoch.title }}</h6>
        {% endfor %}
      </div>
    </div>

  </div>

</div>

{%- endmacro %}