{% import "components/timeline/epoch.html" as epoch %}
{% import "components/timeline/day.html" as timeline_day %}

{# 

DAY COMPONENT

Placed dynamically on the timeline

Takes the campaign object, year object, day object, jinja2 loop.length,
jinja2 index0, and a boolean value to toggle edit page
elements.

#}

{% macro month(campaign, year, month, day, length, index, edit=false) %}

  {# Start of epoch markers #}
  {% if month.has_epoch %}
    {% if month.epoch_has_events %}
      {% if edit %}
        {{ epoch.epoch(month.epochs, campaign=campaign, contents=true, edit=true) }}
      {% else %}
        {{ epoch.epoch(month.epochs, campaign=campaign, contents=true, edit=false) }}
      {% endif %}
    {% else %}
      {% if edit %}
        {{ epoch.epoch(month.epochs, campaign=campaign, contents=false, edit=true) }}
      {% else %}
        {{ epoch.epoch(month.epochs, campaign=campaign, contents=false, edit=false) }}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if edit %}
    {# New Epoch Element #}
    <div class="epoch-between">
      <div class="epoch-left-area">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>

      <a class="epoch-centre-area" href="{{ url_for('epoch.new_epoch', 
                            campaign_name=campaign.title,
                            campaign_id=campaign.id,
                            date=year.name + '/' + month.name) }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item">
          <div class="epoch-button-text">NEW EPOCH
            <div>{{ year.name }} / {{month.name}}</div>
          </div>
        </button>
      </a>

      <div class="epoch-right-area"></div>

    </div>
  {% endif %}

  <!-- Month {{ month.name }} -->

  {% if index == 0 %}
    <div class="month-outer month-outer-top">
  {% elif index == length - 1 %}
    <div class="month-outer month-outer-bottom">
  {% else %}
    <div class="month-outer">
  {% endif %}

  {% if month.days | length != 0 %}

    <div class="month-connector">

      <div class="line line-first"></div>
      <div class="connector-date connector-date-outline">
        <div class="connector-date">
          {{ month.name }}
        </div>
      </div>
      <div class="line"></div>
    </div>

  {% endif %}

  <div class="timeline-month">

    {% for day in month.days %}

      {% if edit %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0,
                            edit=true) }}
      {% else %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0) }}
      {% endif %}

    {% endfor %}

  </div>

  </div>


  {% if edit %}
    <!-- New event within epoch -->
    {% if month.has_epoch and not month.epoch_has_events %}
    <div class="month-between event-between-years">
      <div class="between-months-elements">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>
      <a href="{{ url_for('event.add_event', 
                            campaign_name=campaign.title,
                            campaign_id=campaign.id,
                            date=year.name + '/' + month.name + '/' + '01' + ' 00:00:00') }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item">
          <img class="icon icon-invert" src="/static/images/icons/plus.svg">
        </button>
      </a>
      <p class="flavour-text new-event-flavour">//NEW EVENT WITHIN EPOCH</p>
    </div>
    {% endif %}


    {% if not month.has_following_month %}
    <!-- End of month new event button -->
    <div class="month-between event-between-years">
      <div class="between-months-elements">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>
      <a href="{{ url_for('event.add_event', 
                            campaign_name=campaign.title,
                            new_month=True, 
                            campaign_id=campaign.id,
                            date=year.name + '/' + month.name + '/' + '01' + ' 00:00:00') }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item">
          <img class="icon icon-invert" src="/static/images/icons/plus.svg">
        </button>
      </a>
      <p class="flavour-text new-event-flavour">//NEW EVENT: +1 Month</p>
    </div>
    {% endif %}

  {% endif %}

    
  {# End of epoch markers #}
  {% if month.has_epoch_end %}
    {% if month.epoch_has_events %}
      {{ epoch.epoch_end(month.end_epochs) }}
    {% else %}
      {{ epoch.epoch_end(month.end_epochs, contents=false) }}
    {% endif %}
  {% endif %}


{%- endmacro %}