{% import "components/timeline/epoch.html" as epoch %}
{% import "components/timeline/day.html" as timeline_day %}

{# 

DAY COMPONENT

Placed dynamically on the timeline

Takes the campaign object, year object, day object, jinja2 loop.length,
jinja2 index0, and a boolean value to toggle edit page
elements.

#}

{% macro month(campaign, year, month, day, length, index, edit=false) %}

  {% if edit %}
    {# New Epoch Element #}
    <div class="epoch-between">
      <div class="epoch-left-area"></div>
      <div class="epoch-right-area">
        <a class="epoch-centre-area" href="{{ url_for('epoch.new_epoch', 
                                              campaign_name=campaign.url_title,
                                              campaign_id=campaign.id,
                                              date=year.name + '/' + month.name) }}">
          <button id="new_epoch-{{year.name}}-{{month.name}}" class="new-timeline-item new-epoch-button">
            <div class="epoch-button-text">NEW EPOCH
              <div>{{ year.name }} / {{month.name}}</div>
            </div>
          </button>
        </a>
      </div>

    </div>
  {% endif %}

  <!-- Month {{ month.name }} -->

  {% if not month.has_events %}
    {% set hidden_class = "hidden" %}
    {% set hidden_mobile_class = "hidden-mobile" %}
  {% endif %}

  {% if index == 0 %}
    <div class="month-outer month-outer-top">
  {% elif index == length - 1 %}
    <div class="month-outer month-outer-bottom">
  {% else %}
    <div class="month-outer">
  {% endif %}

  {% if month.days | length != 0 %}

    {% if month.epoch_offset %}
    <div class="month-connector month-connector-offset {{ hidden_mobile_class }}">
    {% else %}
    <div class="month-connector {{ hidden_mobile_class }}">
    {% endif %}

      <div class="line line-first"></div>
      <div class="connector-date connector-date-outline">
        <div class="connector-date">
          {{ month.name }}
        </div>
      </div>
      <div class="line"></div>
    </div>

  {% endif %}

  <div class="timeline-month">

    {% for day in month.days %}

      {% if edit %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0,
                            edit=true) }}
      {% else %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0) }}
      {% endif %}

    {% endfor %}

  </div>

  </div>


  {% if edit %}
    <!-- New event within epoch -->
    {% if month.has_epoch and not month.epoch_has_events %}
    <div class="month-between event-between-years">
      <div class="between-months-elements">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>
      <a href="{{ url_for('event.add_event', 
                            campaign_name=campaign.url_title,
                            campaign_id=campaign.id,
                            date=year.name + '/' + month.name + '/' + '01' + ' 00:00:00') }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item">
          <img class="icon icon-invert" src="/static/images/icons/plus.svg">
        </button>
      </a>
      <p class="flavour-text new-event-flavour">//NEW EVENT WITHIN EPOCH</p>
    </div>
    {% endif %}


    {% if not month.has_following_month %}
    <!-- End of month new event button -->
    <div class="month-between event-between-years">
      <div class="between-months-elements">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>
      <a href="{{ url_for('event.add_event', 
                            campaign_name=campaign.url_title,
                            new_month=True, 
                            campaign_id=campaign.id,
                            date=year.name + '/' + month.name + '/' + '01' + ' 00:00:00') }}">
        <button id="new_event-{{year.name}}-{{month.name}}" class="new-timeline-item">
          <img class="icon icon-invert" src="/static/images/icons/plus.svg">
        </button>
      </a>
      <p class="flavour-text new-event-flavour">//NEW EVENT: +1 Month</p>
    </div>
    {% endif %}

  {% endif %}

{%- endmacro %}