{% import "components/timeline/epoch.html" as epoch %}
{% import "components/timeline/day.html" as timeline_day %}
{% import "components/timeline/new_icon.html" as new_icon %}

{# 
  MONTH COMPONENT

  Placed dynamically on the timeline

  Takes the campaign object, year object, jinja2 loop.length,
  jinja2 index0, and a boolean value to toggle edit page
  elements.
#}

{% macro month(campaign, year, month, length, index, edit=false) %}

  <!-- Month {{ month.name }} -->

  {% if not month.has_events %}
    {% set hidden_class = "hidden" %}
    {% set hidden_mobile_class = "hidden-mobile" %}
  {% endif %}

  {% if index == 0 %}
    <li class="month-outer month-outer-top" aria-label="{{ month.name }}">
  {% elif index == length - 1 %}
    <li class="month-outer month-outer-bottom" aria-label="{{ month.name }}">
  {% else %}
    <li class="month-outer" aria-label="{{ month.name }}">
  {% endif %}

  {% if month.days | length != 0 %}

    {% if month.epoch_offset %}
    <div class="month-connector month-connector-offset">
    {% else %}
    <div class="month-connector {{ hidden_mobile_class }}">
    {% endif %}

      <div class="line line-first"></div>
      <div class="connector-date connector-date-outline">
        <div class="connector-date" aria-hidden="true">
          {{ month.name }}
        </div>
      </div>
      <div class="line"></div>
    </div>

  {% endif %}

  <ol class="timeline-month" aria-label="Day List">

    {% for day in month.days %}

      {% if edit %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0,
                            edit=true) }}
      {% else %}
        {{ timeline_day.day(campaign,
                            year,
                            month,
                            day,
                            length=loop.length,
                            index=loop.index0) }}
      {% endif %}

    {% endfor %}

  </ol>

  
</li>

  {% if edit %}
    {% if not month.has_following_month %}
    <!-- End of month new event button -->
    <li class="month-between event-between-years" aria-label="New Event: +1 Month">
      <div class="between-months-elements">
        <div class="line line-dashed line-dashed-heavy"></div>
      </div>
      <a id="new-month-event-{{year.name}}-{{month.name}}" class="new-timeline-item" aria-label="New Event +1 Month"
      href="{{ url_for('event.add_event',
                        campaign_name=campaign.url_title,
                        new_month=True,
                        campaign_id=campaign.id,
                        elem_id='new-month-event-' + year.name + '-' + month.name,
                        date=year.name + '/' + month.name + '/' + '01' + ' 00:00:00') }}">
      {{ new_icon.new_icon("New Event Icon") }}
      </a>
      <label for="new-month-event-{{year.name}}-{{month.name}}" class="flavour-text new-event-flavour">//NEW EVENT: +1 Month</label>
    </li>
    {% endif %}

  {% endif %}

{%- endmacro %}
