/* Scrollbar styling (only for Firefox) */
:root {
  scrollbar-color: rgb(207, 27, 27) rgb(20, 25, 27);
}

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238a0e0e' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: 25s linear 0s infinite bp;
  margin: 0;
}

@keyframes bp {
  from {
    background-position:  150px 0;
  }
  
  to {
    background-position:  0 150px;
  }
}

button {
  font-family: "Roboto Mono", monospace;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9C1717;
  padding-left: min(50px, 2%);
  padding-right: min(50px, 2%);
}

.logo_area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.top_logo {
  width: 30px;
}

.logo_title{
  color: #E5E5E5;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.logo_title:hover {
  color: #db0000;
}

.version_number {
  display: flex;
  align-items: flex-end;
  flex: 1 0 0;
  color: #E5E5E5;
  font-size: 14px;
  width: 220px;
  padding: 5px;
}

.navbar_right {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  gap: 15%;
}

/* Navbar Links */

.navbar_links {
  display: flex;
  flex-direction: row;
  gap: 25%;
  justify-items: flex-end;
  align-items: center;
  color: #E5E5E5;
  list-style-type: none;
  font-size: 16px;
}

.navbar_links a {
  position: relative;
  color: #E5E5E5;
  text-decoration: none;
}

.navbar_links a:hover {
  color: #ffffff;
}

.navbar_links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #E5E5E5;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navbar_links a:hover::before {
  transform: scaleX(1);
}

/* Navbar Buttons */

.navbar_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding-left: max(25px, 2%);
  padding-right: max(25px, 2%);
}

.navbutton {
  position: relative;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.navbutton {
  font-size: 15px;
  border: none;
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  border-radius: 3px;
}

.navbar_buttons .log_in_button, .navbar_buttons .log_out_button {
  width: 100px;
  color: #E5E5E5;
  background-color: #2B2B2B;
}

.navbar_buttons .register_button {
  color: #E5E5E5;
  background-color: #2B2B2B;
  width: 100px;
}

.navbutton::after,
.navbutton::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.navbutton::after {
    top: -5px;
    left: -5px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.navbutton::before {
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.navbutton:hover::after,
.navbutton:hover::before {
    width: 30px;
    height: 30px;
    border-color: #ff0000;
}

.navbutton.register_button:hover {
  color: #2e2e2e;
  background-color: #ff0000;
}

.navbutton.log_in_button:hover, .log_out_button:hover {
  color: #2e2e2e;
  background-color: #ff0000;
}

/* Hamburger Menu */

.hamburger_menu {
  display: none;
}

.hamburger_button {
  display: none;
  font-size: 36px;
}

@media screen and (max-width: 800px) { 

  .version_number {
    display: none;
  }

  .logo_area {
    gap: 15px;
  }

}

@media screen and (max-width: 700px) { 

  .navbar {
    padding: 8px;
  }

  .navbar_links {
    display: none;
  }

  .hamburger_button {
    display: flex;
    justify-content: center;
    width: 50px;
    text-decoration: none;
    color: #E5E5E5;
  }

  .hamburger_button:hover {
    color: #ff0000;
  }

  .hamburger_menu {
    flex-direction: column;
    justify-content: right;
    text-align: right;
    background-color: #2e2e2e;
  }

  .hamburger_menu a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
  }

  .hamburger_menu a:visited {
    color: #ff0000;
  }

  .navbar_right rect {
    fill: #E5E5E5;
  }

  .hamburger_menu :hover {
    background-color: #cccccc;
    color: #ff0000;
  }

  .hamburger_menu a {
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
  }

  .navbar_buttons {
    display: none;
  }

}


/* Hero */

h1 {
  font-size: min(22vw, 180px);
  margin-bottom: 15px;
  background-image: url(/static/images/ac_loop.webp);
	background-size: cover;
	color: transparent;
  background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

h2 {
  color: #2e2e2e;
  font-size: min(6vw, 36px);
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
}

.hero {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .hero {
    height: 100vh;
  }
}

.hero_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100vw;
  gap: 50px;
  padding-bottom: 100px;
}

.secondary_title {
  display: flex;
  flex-direction: column;
}

.hero_centered button {
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  background-color: #9C1717;
  color: #ffffff;
  border-color: #e5e5e5;
  border-style: none;
  transition: 0.1s;
}

.hero_centered button:hover {
  background-color: #ff0000;
  transition: 0.5s;
}

/* Features */

.features {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.features_header {
  padding: 5%;
  padding-bottom: 0%;
}

h3 {
  font-size: min(7vw, 48px);
  font-weight: 400;
  color: #9C1717;
  width: 70%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.features_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

h5 {
  font-size: 24px;
}

.feature {
  width: 40%;
  padding: 5%;
}

.feature p {
  font-weight: normal;
  font-size: 18px;
}

.feature_button {
  background-color: #9C1717;
  color: #E5E5E5;
  padding: 3%;
}

.feature_button:hover, 
.feature_button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #b41919; }
}

@media screen and (max-width: 600px) { 

  .features_grid {
    justify-content: center;
    text-align: center;
  }

  .feature {
    width: 90%;
    padding: 5%;
  }
  
  h3 {
    width: auto;
    text-align: center;
  }

 }

 .features_lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
  padding: 5%;
  padding-left: 0%;
  padding-right: 0%;
 }

.lower_2 {
  background-color: #F5F5F5;
}

.placeholder_image {
  padding: 3%;
  width: 40%;
  text-align: center;
  background-color: #cccccc;
}

 .features_text_area {
  padding: 0%;
  width: 40%;
 }

 @media screen and (max-width: 600px) { 

  .features_lower {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features_text_area {
    width: 70%;
  }

}

.cta {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #F5F5F5;
  color: #9C1717;
  margin: 0%;
  padding: 0%;
}

.bottom_cta {
  display: flex;
  padding: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom_cta h4 {
  font-size: 20px;
  font-weight: 300;
  max-width: 50%;
}

.button_area {
  width: 50%;
}

.bottom_cta button {
  background-color: #9C1717;
  color: #E5E5E5;
  padding: 3%;
  height: auto;
}

@media screen and (max-width: 600px) { 

  .bottom_cta {
    flex-direction: column;
  }

  .bottom_cta h4 {
    max-width: 70%;
  }

}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  background-color: #9C1717;
  color: #E5E5E5;
  gap: 50px;
}

.footer_links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding-top: 50px;
  color: #E5E5E5;
}

.footer_links a{
  text-decoration: none;
}

.footer_links :visited{
  color: #E5E5E5;
}

.footer_text {
  text-align: center;
  font-weight: 200;
}

.f_text {
  padding: 5px;
}

