:root {
  /* Light Mode Colours */
  --bg_colour1: #ffffff;
  --bg_colour2: #E5E5E5;
  --bg_colour3: #F5F5F5;

  --elem_dark: #E5E5E5;
  --elem_mid: #F5F5F5;
  --elem_bright: #ffffff;
  --elem_hover: #dadada;
  --elem_trans: #ffffff80;
  --elem_border: #9C1717;

  --text_bright: #ffffff;
  --text_normal: #E5E5E5;
  --text_dark: #000000;
  --text_flavour: #9C1717;
  --text_flavour_bright: #ff0000;
  --text_header: #9C1717;
  --text_header_dark: #9C1717;
  --text_header_contrast: #ffffff;

  --black: #000000;
  --bright_red: #ff0000;
  --red: #db0000;
  --dark_red: #b30000;
  --darker_red: #9C1717;

  --gradient1: #ffffff;
  --gradient2: #d1d1d1;

  --fixed-bg-1: #ffffff;
  --fixed-bg-2: #E5E5E5;
  --fixed-text: #000000;
  --dark_grey: #2B2B2B;

  scrollbar-color: var(--bright_red) rgb(20, 25, 27);
  scroll-behavior: smooth;
  
}
 
/* Dark Mode Colours */
[theme="dark"] {
  --bg_colour1: #2B2B2B;
  --bg_colour2: #464646;
  --bg_colour3: #F5F5F5;

  --elem_dark: #111111;
  --elem_mid: #1f1f1f;
  --elem_bright: #3d3d3d;
  --elem_hover: #1f1f1f;
  --elem_trans: #aaaaaa2d;
  --elem_border: #ff0000;

  --text_bright: #F5F5F5;
  --text_normal: #E5E5E5;
  --text_dark: #ffffff;
  --text_flavour: #ff0000;
  --text_flavour_bright: #ffffff;
  --text_header: #b30000;
  --text_header_dark: #9C1717;
  --text_header_contrast: #ffffff;

  --black: #000000;
  --bright_red: #ff0000;
  --red: #db0000;
  --dark_red: #b30000;
  --darker_red: #9C1717;

  --gradient1: #2B2B2B;
  --gradient2: #131313;
}

[theme="ironbow"] {
  --bg_colour1: #1c1a1f;
  --bg_colour2: #393144;
  --bg_colour3: #f5f5f5;

  --elem_dark: #181516;
  --elem_mid: #272025;
  --elem_bright: #3d3d3d;
  --elem_hover: #3d3d3d;
  --elem_trans: #aaaaaa2d;
  --elem_border: #ff3300;

  --text_bright: #F5F5F5;
  --text_normal: #E5E5E5;
  --text_dark: #ffffff;
  --text_flavour: #e42e00;
  --text_flavour_bright: #ff491b;
  --text_header: #db5000;
  --text_header_dark: #9C1717;
  --text_header_contrast: #ffffff;

  --black: #000000;
  --bright_red: #ff3300;
  --red: #6e2e56;
  --dark_red: #63203f;
  --darker_red: #2f233d;

  --gradient1: #2b2b2b;
  --gradient2: #2f233d;
}

[theme="green"] {
  --bg_colour1: #2B2B2B;
  --bg_colour2: #464646;
  --bg_colour3: #76e482;

  --elem_dark: #181516;
  --elem_mid: #272025;
  --elem_bright: #3d3d3d;
  --elem_hover: #3d3d3d;
  --elem_trans: #aaaaaa2d;
  --elem_border: #ff3300;

  --text_bright: #30362f;
  --text_normal: #E5E5E5;
  --text_dark: #ffffff;
  --text_flavour: #8dff9a;
  --text_flavour_bright: #9af5a4;
  --text_header: #9af5a4;
  --text_header_dark: #30362f;
  --text_header_contrast: #dcffd4;

  --black: #000000;
  --bright_red: #9af5a4;
  --red: #76e482;
  --dark_red: #698d6d;
  --darker_red:#2f3d30;

  --gradient1: #2b2b2b;
  --gradient2: #2f3d30;;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {
  background: var(--dark_grey);
}

::-webkit-scrollbar-thumb {
  background: var(--bright_red);
}

/* Page Layout */

.layout {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  max-width: 1800px;
}

.onepage {
  background: linear-gradient(var(--gradient1), var(--gradient2));
  height: 100vh;
}

.scrollpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 1s;
}

.onepage-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.sidebar-page {
  display: flex;
}

.border {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: var(--black);
  background-image: url("../images/wireframe.svg");
  animation: 40s linear 0s infinite backgroundscroll;
  z-index: 2;
}

@keyframes backgroundscroll {
  from {
    background-position:  600px 0;
  }
  
  to {
    background-position:  600px 600px;
  }
}

/* Basic elements */

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  background-color: var(--bg_colour1);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 1s;
}

.flashes {
  list-style-type: none;
  color: var(--darker_red);
  text-transform: uppercase;
  padding: 0;
}

.icon {
  width: 20px;
  transition: 0.3s;
}

.icon-large {
  width: 40px;
}

.icon-invert {
  filter: invert(50);
}

button {
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}

.heading-top {
  margin-top: 25px;
}

p {
  color: var(--text_dark);
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darker_red);
  padding-left: min(10px, 2%);
  padding-right: min(10px, 2%);
  min-height: 53px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.logo-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.top-logo {
  width: 30px;
}

.logo {
  display: flex;
}

.logo-title{
  color: var(--text_normal);
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}

.logo-title:hover {
  color: var(--red);
}

.version-number {
  display: flex;
  align-items: flex-end;
  flex: 1 0 0;
  color: var(--text_normal);
  font-size: 14px;
  width: 140px;
  padding: 5px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: flex-end;
  gap: 25px;
}

/* Navbar Links */

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-items: flex-end;
  align-items: center;
  color: var(--text_normal);
  list-style-type: none;
  font-size: 16px;
}

.navbar-links a {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  color: var(--text_normal);
  text-decoration: none;
}

.navbar-links a:hover {
  color: var(--text_bright)
}

.navbar-links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--text_normal);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navbar-links a:hover::before {
  transform: scaleX(1);
}

/* Navbar Buttons */

.navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-buttons a {
  padding-left: 10px;
}

.navbutton {
  font-size: 15px;
  border: none;
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  border-radius: 3px;
}

.navbar-buttons .log-in-button, .register-button, .navbar-buttons .log-out-button {
  width: 100px;
  color: var(--text_normal);
  background-color: var(--dark_grey);
}

.navbutton::after,
.navbutton::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.navbutton::after {
    top: -5px;
    left: -5px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.navbutton::before {
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.navbutton:hover::after,
.navbutton:hover::before {
    width: 30px;
    height: 30px;
    border-color: var(--bright_red);
}

.navbutton.register-button:hover {
  color: #2e2e2e;
  background-color: var(--bright_red);
}

.navbutton.log-in-button:hover, .log-out-button:hover {
  color: #2e2e2e;
  background-color: var(--bright_red);
}

.navbutton.log-in-button:active, 
.navbutton.log-out-button:active,
.navbutton.register-button:active {
  color: var(--bright_red);
  background-color: var(--dark_red);
  transition: 0.1s;
}

/* Hamburger Menu */

.hamburger-menu {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 53px;
}

.hamburger-button {
  display: none;
  font-size: 36px;
}

@media screen and (max-width: 800px) { 

  .version-number {
    display: none;
  }

  .logo-area {
    gap: 15px;
  }

}

@media screen and (max-width: 700px) { 

  .navbar-links {
    display: none;
  }

  .hamburger-button {
    display: flex;
    justify-content: center;
    width: 50px;
    text-decoration: none;
    color: #E5E5E5;
  }

  .hamburger-button:hover {
    color: var(--bright_red);
  }

  .hamburger-menu {
    flex-direction: column;
    justify-content: right;
    text-align: right;
    background-color: var(--dark_grey);
  }

  .h-menu-item:link {
    text-decoration: none;
  }

  .hamburger-menu .h-menu-item:hover {
    font-size: 16px;
    text-decoration: none;
    color: var(--bright_red);
    background-color: var(--bg_colour2);
  }

  .hamburger-menu a:visited {
    color: var(--bright_red);
  }

  .navbar-right rect {
    fill: var(--gradient2);
  }

  .hamburger-menu a {
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
  }

  .navbar-buttons {
    display: none;
  }

}

/* Hero */

h1 {
  font-size: min(22vw, 180px);
  margin-bottom: 15px;
	color: #F5F5F5;
	text-transform: uppercase;
}

.hero {
  background-color: #e5e5e5;
  background-image: url(/static/images/banner.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.down-arrow{
  display: none;
}

@media screen and (max-width: 900px) {
  .hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero .down-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }

  .down-arrow {
    display: flex;
    width: 100px;
  }

  .down-area:hover {
    filter: invert(0.5) sepia(10) hue-rotate(-50deg) saturate(100);
  }
}

.hero-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100vw;
  gap: 50px;
  padding-bottom: min(5%, 100px);
}

.secondary-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-title h2 {
  color: var(--text_normal);
  font-size: min(4vw, 36px);
  font-weight: 500;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  text-align: center;
}

.hero-centered button {
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  background-color: var(--darker_red);
  color: #ffffff;
  border-color: #e5e5e5;
  border-style: none;
  transition: 0.1s;
}

.hero-centered button:hover {
  background-color: var(--bright_red);
  transition: 0.5s;
}

/* Features */

.features {
  display: flex;
  flex-direction: column;
  text-align: left;
  scroll-margin-top: 50px;
  background-color: var(--fixed-bg-1);
}

.features-header {
  padding: 5%;
  padding-bottom: 0%;
}

h3 {
  font-size: min(7vw, 48px);
  font-weight: 400;
  color: var(--text_header);
  width: 100%;
  padding-bottom: 0%;
  padding-left: 5%;
  margin: 0;
}

.features-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 5%;
}

h5 {
  font-size: 24px;
  margin: 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
  padding: 5%;
  gap: 15px;
}

.feature p {
  font-weight: 300;
  font-size: 18px;
  height: 70%;
  color: var(--fixed-text);
}

.feature-button {
  background-color: var(--darker_red);
  color: #E5E5E5;
  padding: 3%;
  width: 150px;
  border-style: none;
  text-transform: uppercase;
}

.feature-button:hover, 
.feature-button:focus {
  animation: pulse 1s;
  background-color: var(--bright_red);
  transition: 0.5s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--bright_red); }
}

@media screen and (max-width: 750px) { 

  .features-header h3 {
    text-align: center;
    width: 90%;
    padding: 5%;
  }

  .feature p {
    font-size: 14px;
  }
  
 }

@media screen and (max-width: 600px) { 

  .features-grid {
    justify-content: center;
    text-align: center;
  }

  .feature {
    align-items: center;
    font-size: min(2vw, 18px);
    width: 80%;
    padding: 5%;
  }
  
  .features-lower.lower-2 {
    flex-direction: column-reverse;
  }

  .features-header h3 {
    width: auto;
    text-align: center;
  }

 }

 .features-lower {
  background-color: var(--fixed-bg-2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding: 5%;
 }

.features-lower p {
  color: var(--fixed-text);
  font-weight: 300;
}

.features-lower img{
  display: flex;
  flex: 0 0 auto;
  padding: 5%;
  width: 40vw;
  max-width: 600px;
}

.lower-2 {
  background-color: var(--bg_colour3);
}

 .features-text-area {
  padding: 0%;
  width: 40%;
 }

 @media screen and (max-width: 600px) { 

  .features-lower {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-text-area {
    width: 70%;
  }

  .features-lower img {
    width: 70%;
  }
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--bg_colour3);
  color: var(--darker_red);
  margin: 0%;
  padding: 0%;
}

.bottom-cta {
  display: flex;
  padding: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-cta h4 {
  font-size: 20px;
  font-weight: 300;
  max-width: 50%;
}

.button-area {
  width: 50%;
}

.bottom-cta button {
  background-color: var(--darker_red);
  color: var(--fixed-bg-1);
  padding: min(15px, 5%);
  padding-left: min(20px, 8%);
  padding-right: min(20px, 8%);
  height: auto;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) { 

  .bottom-cta {
    flex-direction: column;
  }

  .bottom-cta h4 {
    max-width: 70%;
  }

}

/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2b2b2bb0;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_colour1);
  margin: auto;
  padding: 0;
  width: min(80%, 500px);
  height: min(70%, 700px);
  overflow-y: initial;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: modalanim;
  -webkit-animation-duration: 0.4s;
  animation-name: modalanim;
  animation-duration: 0.5s;
  clip-path: polygon(0 0,calc(100% - 20.00px) 0,100% 20.00px,100% 100%,0 100%);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--dark_red);
  color: var(--text_bright);
}

.modal-body {
  display: flex;
  padding: 10%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
}

.modal-body p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-image {
  display: flex;
  padding: 5%;
  
}

/* Add Animation */
@-webkit-keyframes modalanim {
  from {opacity:0} 
  to {opacity:1}
}

@keyframes modalanim {
  from {opacity:0}
  to {opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) { 

  .modal-header h2{
    font-size: min(6vw, 18px);
  }

 .modal-body {
  font-size: min(2vh, 14px);
  padding: 5%;
 }

}


/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-color: var(--darker_red);
  color: var(--text_normal);
  gap: 50px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(60vw, 500px);
  padding-top: 50px;
  color: var(--text_normal);
}

@media screen and (max-width: 500px) { 

  .footer-links {
    font-size: 12px;
  }

}

.footer-links a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 50px;
}

.footer-links :visited{
  color: var(--text_normal);
}

.footer-text {
  text-align: center;
  font-weight: 200;
}

.f-text {
  padding: 5px;
}

/* Forms */

.form-flash {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form {
  background-color: var(--elem_trans);
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 0,calc(100% - 20.00px) 0,100% 20.00px,100% 100%,0 100%);
}

.form-input {
  width: 100%;
}

.form-heading {
  color: var(--text_normal);
  font-size: min(14vw, 140px);
}

.form-header {
  display: flex;
  justify-content: flex-start;
  background-color: var(--darker_red);
  color: #e5e5e5;
  text-transform: uppercase;
  font-size: min(5vw, 20px);
  width: 100%;
}

.form-header h4 {
  margin-left: 45px;
}

.form-layout {
  display: flex;
  flex-direction: column;
}

.form-elem {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin: 20px;
  margin-bottom: 0px;
  background-color: var(--elem_dark);
}

.form-icon {
  display: flex;
  align-items: center;
}

.form-elem.elem-centre {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 100px;
}

.form-field {
  color: var(--text_header_dark);
  border-style: none;
  background-color: var(--elem_dark);
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  padding: 3px;
  outline: none;
  transition: 0.3s;
}

.form-field:hover {
  color: var(--bright_red);
  background-color: var(--elem_hover);
}

.submit-button {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5px;
  text-transform: uppercase;
  width: 120px;
  font-family: "Roboto Mono", monospace;
  background-color: var(--darker_red);
  color: var(--text_header_contrast);
  border-style: none;
}

.user-delete-button {
  width: 200px;
}

.submit-button:hover {
  background-color: var(--bright_red);
  color: #ffffff;
  transition: 0.5s;
}

.submit-button:active {
  background-color: #660c0c;
  color: #ff0000;
  transition: 0.1s;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px){

  .form-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-container {
    width: 45%;
  }
  
  .form-container-large {
    width: 100%;
  }
  
  .form-container-footer {
    width: 100%;
  }

  .campaign-submit-area {
    width: 100%;
  }

  
}

@media screen and (max-width: 600px){

  .edit-form .campaign-input {
    font-size: min(4vw, 16px);
  }

}  

/* Top of page navigation elements */

.navigation-area {
  display: inline;
  width: fit-content;
  gap: 0;
  min-height: 25px;
  /* This hides the whitepsace created by the inline display */
  font-size: 0;
}

.navigation-url {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darker_red);
  width: fit-content;
}

.navigation-heading {
  display: inline;
  width: fit-content;
  font-size: min(18px, 3vw);
  font-weight: 300;
}

.navigation-url:hover {
  color: var(--dark_red);
}

.navigation-heading:hover {
  font-weight: 500;
}

.navigation-heading:active {
  color: var(--bright_red);
}

/* Edit campaign form */

.scrollpage .edit-campaign-content {
  width: 80%;
}

@media screen and (max-width: 700px){

  .scrollpage .edit-campaign-content {
    width: 70%;
  }
}

.edit-campaign-heading {
    font-size: min(7vw, 48px);
    width: 100%;
}

@media screen and (max-width: 600px){

  .edit-campaign-heading {
    text-align: left;
  }
}

.campaign-form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: min(5vw, 22px);
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.campaign-form-label-container {
  display: flex;
  width: 100%;
}

.label-split {
  justify-content: space-between;
}

.label-left {
  display: flex;
}

.label-right {
  display: flex;
  align-items: end;
  padding-bottom: 2px;
}

.campaign-form.label-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--text_dark);
}

.label-example {
  font-size: min(12px, 3vw);
  text-transform: none;
}

.campaign-input {
  display: flex;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  border-style: none;
  transition: 0.5s;
  background-color: var(--elem_mid);
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  outline: none;
  position: relative;
  color: var(--text_dark);
}

.campaign-input:hover {
  background-color: var(--elem_dark);
}

.campaign-input:focus {
  border-color: var(--bright_red);
}

.large-input {
  resize: none;
  min-height: 300px;
  width: 100%;
}

.campaign-submit-area {
  display: flex;
  justify-content: center;
}

.campaign-submit {
  background-color: var(--darker_red);
  color: var(--text_header_contrast);
}

.campaign-submit:hover {
  background-color: var(--bright_red);
}

.campaign-submit:active {
  transition: 0.1s;
  background-color: var(--dark_red);
}

.flavour-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.flavour-text-area .top-logo {
  padding: 15px;
}

.flavour-text {
  font-size: min(2vw, 11px);
  font-weight: 200;
  width: min(400px, 60vw);
  color: var(--text_flavour);
  text-transform: uppercase;
}

.flavour-text-centre {
  text-align: center;
}

.login-flavour-text {
  padding-bottom: 15px;
}

/* Campaigns Page */

.campaigns-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 25px;
}

.campaigns-title {
  display: flex;
  text-align: left;
  width: 90%;
}

.campaigns-heading {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
}

.campaigns-divider {
  color: var(--bg_colour3);
  width: 100%;
}

.campaigns-list {
  padding-left: 0;
}

.campaign-entry {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  margin-bottom: 50px;
}

.campaign-entry-title {
  text-transform: uppercase;
  color: var(--text_dark);
}

.campaign-entry-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.campaign-overview {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}

.campaign-overview .campaign-entry-title {
  margin: 0;
}

.campaign-overview p {
  font-size: min(3vw, 14px);
  font-weight: 300;
  margin: 0;
}

.campaign-members {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 40%;
  margin: 0;
  gap: 15px;
  flex-wrap: nowrap;
}

.campaign-members .campaign-entry-title {
  margin: 0;
}

.campaign-members-list {
  font-size: clamp( 10px, 2vw, 14px);
  margin: 0;
  padding-left: 0;
  list-style: none;
  color: var(--text_flavour);
}

.members-list-admin {
  display: flex;
}

.callsign-text {
  display: flex;
  font-size: min(14px, 3vw);
  font-weight: 400;
  margin: 0;
}

.admin-tag {
  color: var(--text_flavour_bright);
  padding-left: 6px;
}

.campaign-members-list .members-list-item, .campaign-members-list .members-list-admin {
  display: flex;
}

.members-list-admin .icon, .members-list-item .icon {
  display: flex;
  height: 20px;
}

.campaign-entry-buttons {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 750px) {

  .campaign-entry-buttons {
    flex-direction: column;
  }

  .entry-button {
    margin-bottom: 5px;
  }

  .members-list-item, .members-list-admin {
    margin-bottom: 5px;
  }

}

.entry-button {
  width: 160px;
  padding: 10px;
  background-color: var(--darker_red);
  color: var(--text_normal);
  border-style: none;
  clip-path: polygon(0 0,calc(100% - 10.00px) 0,100% 10.00px,100% 100%,0 100%);
  margin-bottom: 5px;
}

.entry-button:hover {
  background-color: var(--dark_red);
}

.entry-button:active {
  background-color: var(--bright_red);
}

.last-edited-area {
  padding-bottom: 10px;
}

.last-updated-text {
  color: var(--text_flavour);
}

@media screen and (max-width: 750px) { 
  
  .campaign-entry-container {
    flex-direction: column;
  }

  .campaign-members-list {
    margin-bottom: 5vw;
  }

  .campaign-overview {
    width: 100%;
  }

  .campaign-members {
    width: 100%;
  }

  .entry-buttons-deploy {
    margin-left: 0;
  }

}

/* Deployable edit menu */

.dropdown-area {
  width: fit-content;
}

.edit-button {
  transition: 0.1s ease-in-out;
}

.deploy-button {
  border-radius: 0;
  width: 160px;
  padding: 5px;
}

.entry-buttons-deploy {
  height: 0px;
  width: 160px;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.deploy-button {
  display: flex;
  border-style: none;
  text-transform: uppercase;
  gap: 5px;
  background-color: var(--elem_mid);
  color: var(--text_flavour);
}

.entry-buttons-deploy a {
  text-decoration: none;
}

.deploy-button:hover {
  background-color: var(--elem_dark);
}

.deploy-button:active {
  color: var(--bright_red);
}

/*  */

.new-campaign-area {
  display: flex;
  padding: 25px;
  text-decoration: none;
  position: relative;
  transition: 0.3s all;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  margin-bottom: 50px;
  margin-top: 70px;
  color: var(--text_dark)
}

.new-campaign-area::before, .new-campaign-area::after, span::before, span::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}

.new-campaign-area::before {
  top: -5px;
  left: -5px;
  border-top: 5px solid var(--bg_colour2);
  border-left: 5px solid var(--bg_colour2);
  transition: 0.5s all;
}
.new-campaign-area::after {
  top: -5px;
  right: -5px;
  border-top: 5px solid var(--bg_colour2);
  border-right: 5px solid var(--bg_colour2);
  transition: 0.5s all;
}
span::before {
  bottom: -5px;
  left: -5px;
  border-bottom: 5px solid var(--bg_colour2);
  border-left: 5px solid var(--bg_colour2);
  transition: 0.5s all;
}
span::after {
  bottom: -5px;
  right: -5px;
  border-bottom: 5px solid var(--bg_colour2);
  border-right: 5px solid var(--bg_colour2);
  transition: 0.5s all;
}

.new-campaign-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* New campaign button hover animations */

.new-campaign-area:hover::before, .new-campaign-area:hover::after, .new-campaign-area:hover {
  border-color: var(--bright_red);
  color: var(--bright_red);
}

.new-campaign-area:hover span::before, .new-campaign-area:hover span::after {
  border-color: var(--bright_red)
}

/* User page */

.callsign-deploy-button {
  display: flex;
  align-items: center;
  background-color: var(--darker_red);
  border-style: none;
  border-radius: 0;
  color: white;
  text-align: left;
  padding-left: 15px;
  clip-path: polygon(0 0,calc(100% - 10.00px) 0,100% 10.00px,100% 100%,0 100%);
  transition: 0.5s;
  gap: 15px;
}

.callsign-deploy-button:hover {
  background-color: var(--dark_red);
}

.callsign-deploy-button:active {
  transition: 0.2s;
  background-color: var(--bright_red);
  color: var(--darker_red);
}

.user-content .flavour-text {
  margin-top: 0;
  margin-bottom: 25px;
}

.user-content .flavour-text-small {
  margin: 0;
}

.user-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 50px;
}

.callsigns-area, .settings-area {
  display: flex;
  flex-direction: column;
  background-color: var(--elem_mid);
  clip-path: polygon(0 0,calc(100% - 10.00px) 0,100% 10.00px,100% 100%,0 100%);
  margin-bottom: 50px;
}

.settings-area .campaign-entry-title, .callsigns-area .campaign-entry-title {
  color: var(--text_header_contrast);
}

.callsign-content-area {
  margin-top: -20px;
  padding: 0px 5% 20px 5%;
  max-height: 0px;
  display: none;
}

.user-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.user-heading {
  text-transform: uppercase;
  font-size: min(5vw, 48px);
  font-weight: 700;
  padding: 0;
  width: 100%;
  text-align: left;
}

.user-campaigns-headings {
  display: flex;
  flex: 1 1 0;
  font-size: clamp(14px, 4vw, 20px);
  text-transform: uppercase;
  max-width: 340px;
  color: var(--text_dark);
}

.callsign-entry-area {
  display: flex;
  align-items: center;
  color: var(--dark_red);
}

.callsign-entry-title {
  font-size: clamp(10px, 3vw, 14px);
  text-transform: uppercase;
}

.heading-line-2 {
  margin-top: 0;
}

.user-service-record-entry {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 25px;
}

.user-callsigns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.callsign-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.callsign-form label {
  text-transform: uppercase;
  font-size: clamp(10px, 3vw, 14px);
  color: var(--text_dark);
}

.callsign-input {
  display: flex;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  border: 2px solid;
  border-color: var(--bg_colour2);
  transition: 0.5s;
  background-color: var(--elem_bright);
  padding: 5px;
  outline: none;
  position: relative;
  color: var(--text_flavour_bright);
}

.callsign-input:hover {
  background-color: var(--elem_mid);
}

.callsign-input:focus {
  color: var(--bright_red);
}

.callsign-form-container {
  display: flex;
}

.callsign-form-icon {
  background-color: var(--bg_colour3);
}

.callsign-submit {
  clip-path: polygon(0 0,calc(100% - 5.00px) 0,100% 5.00px,100% 100%,0 100%);
}

.user-content .form-flash .flashes {
  padding-left: 0;
}

.user-buttons {
  display: flex;
  flex-direction: column;
}

.user-settings-button {
  font-size: 16px;
  width: 200px;
  min-width: 200px;
  border-style: none;
  border-radius: 0px;
  padding: 5px;
  background-color: var(--bg_colour2);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  clip-path: polygon(0 0,calc(100% - 5.00px) 0,100% 5.00px,100% 100%,0 100%);
  color: var(--text_dark);
  transition: 0.3s;
}

.delete-button {
  text-decoration: none;
}

.user-settings-button:hover {
  background-color: var(--elem_hover);
}

.user-settings-button:active {
  background-color: var(--bg_colour2);
  color: var(--bright_red);
}

.change-password-form {
  display: none;
  flex-direction: column;
}

.user-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.user-buttons .user-form-container .user-form-flavour {
  margin-bottom: 0;
}

.user-icon-trans {
  background-color: transparent;
}

/* Theme selector */

.preferences-form {
  display: flex;
  flex-direction: column;
}

.pref-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-label {
  font-size: 14px;
  font-weight: 300;
  color: var(--text_dark);
}

.theme-radio {
  appearance: none;
  padding: 10px;
  border: 1px solid var(--dark_red);
  transition: 0.3s;
}

.theme-radio:checked {
  background-color: var(--dark_red);
  border-color: var(--bright_red);
}

.theme-radio:hover {
  background-color: var(--bright_red);
}

.theme-radio:active {
  background-color: var(--text_bright);
}

@media screen and (min-width: 800px) { 
  
  .user-callsigns {
    flex-direction: row;
    gap: 45px;
  }

}

@media screen and (max-width: 500px) { 
  
  .user-service-record-entry {
    align-items: center;
    margin-bottom: 60px;
  }

  .user-campaigns-headings {
    text-align: center;
  }

  .callsign-input {
    text-align: center;
  }

  .callsign-form {
    justify-content: center;
  }

  .user-form-flavour {
    display: none;
  }

  .user-form-container {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 320px) { 
  
  .callsign-form-icon {
    display: none;
  }

}

/* Events Form */

.event-input {
  padding: 5px;
  margin-bottom: 0px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.event-submit-area {
  margin-top: 20px;
}

.form-extra-button-area {
  display: flex;
  flex: 1 0 auto;
  justify-content: right;
  align-items: center;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: 1px solid var(--darker_red);
  background-color: var(--bg_colour1);
  transition: 0.05s;
  width: 30px;
  height: 30px;
}

.form-button:hover {
  background-color: var(--elem_dark);
}

.form-button:active {
  background-color: var(--elem_bright);
}

.input-checkbox {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 5px;
}

/* Edit members page */

.members-content h3 {
  width: 80%;
}

.members-content .flavour-text {
	margin-top: 0;
	margin-bottom: 25px;
}
.edit-members-container {
  margin-top: 20px;
  width: 100%;
}

.edit-members-container .campaign-members-list {
  display: flex;
  flex-direction: column;
}

.edit-members-container .members-list-admin, 
.edit-members-container .members-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background-position: left;
}

.members-left {
  font-size: 16px;
}

.members-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.members-right .entry-button {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) { 
  
.edit-members-container .members-list-admin, 
.edit-members-container .members-list-item {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background-size: 20px;
  background-position: top left;
}

}

@media screen and (max-width: 500px) { 
  
  .members-right {
    flex-direction: column;
  }

}  

.results-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.results-username {
  margin: 2px;
  color: var(--text_dark);
}

.results-area a {
  text-decoration: none;
  height: 20px;
  font-size: 14px;
  margin-left: 20px;
}

/* Timeline */

.timeline-overview {
  margin-top: 20px;
}

.new-event {
  margin: 0 max(25px, 15vw) 0 max(25px, 15vw);
}

.new-event h2 {
  color: var(--text_flavour);
}

.new-event:active h2 {
  color: var(--text_flavour_bright);
}

.timeline-centring {
  display: flex;
  justify-content: center;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin-top: 50px;
  margin-bottom: 150px;
}

.no-events {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
}

.no-events-header {
  font-size: min(48px, 5vw);
  width: 80%;
  padding: 0;
}

.no-events-hr {
  width: 100%;
  color: var(--elem_border);
}

.timeline-year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline-left-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text_dark);
  opacity: 50%;
  justify-content: center;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  width: 50%;
  margin-left: calc((50%) * -1);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.timeline-right-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.year-marker {
  font-size: min(3vw, 32px);
  font-weight: 200;
  margin-top: 25px;
  margin-bottom: 25px;
}

.year-marker-line {
  display: flex;
  flex: 1 0 0;
  background-color: var(--text_dark);
  width: 1px;
  opacity: 50%;
}

.year-marker-hr {
  height: 1px;
  background-color: var(--text_dark);
  width: 9px;
  opacity: 50%;
}

.marker-invis {
  opacity: 0;
}

.timeline-year-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 10%;
  width: 10%;
  margin-right: calc((0.50 * 10%) * -1);
}

.timeline-horizontal {
  width: 100%;
  color: var(--bright_red);
  border-color: var(--bright_red);
  margin-bottom: 0;
  margin-top: 0;
}

.timeline-line {
  height: 100%;
  color: var(--bright_red);
  border-color: var(--bright_red);
  margin: 0;
  width: 0px;
}

.timeline-columns {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.timeline-year-header {
  font-size: min(5vw, 46px);
  width: 10vw;
  display: flex;
  justify-content: center;
  scroll-margin-top: 53px;
  padding-left: 0;
  /* width: fit-content; */
  margin-left: -50px;
  margin-right: -50px;
}

.timeline-months-container {
  display: flex;
  flex-direction: column;
  flex: 4 0 0;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 25px;
}

.month-outer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  flex: 1 0 1;
}

.month-between {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25%;
  margin-bottom: 60px;
}

.event-between {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25%;
  height: 20px;
  margin-bottom: 35px;
}

.event-between-events {
  width: 100%;
}

.event-between a {
  margin-right: 15px;
}

.month-between a {
  margin-right: 15px;
}

.event-between-days {
  width: 100%;
}

.event-between-years {
  width: 75%;
}

.new-event-flavour {
  flex: 2 0 0;
  width: auto;
}

.between-last {
  z-index: 1;
}

.new-timeline-item {
  display: flex;
  font-size: min(14px, 2vw);
  font-weight: 300;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 2px dashed var(--bright_red);
  text-transform: uppercase;
  background-color: var(--elem_mid);
  color: var(--text_header_contrast);
  transition: 0.5s;
  width: 50px;
  height: 50px;
}

.new-timeline-item:active {
  background-color: var(--elem_bright);
}
 
.new-timeline-item:hover{
  animation: pulse2 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse2 {
  0% { box-shadow: 0 0 0 0 var(--bright_red); }
}

.timeline-between-events {
  border: 1px dashed var(--bright_red);
  height: 25px;
  width: 25px;
  padding: 15px;
}

.month-connector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 2 0 0;
}

.date-label-area {
  display: flex;
  flex: 1 0 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden-date {
  display: none;
}

.line {
  background-color: var(--bright_red);
  border-color: var(--bright_red);
  height: 1px;
  transition: 0.3s;
  flex: 0.5 0 0;
}

.line-dashed {
  border-top: 1px dashed var(--bright_red);
  background-color: transparent;
}

.line-dashed-heavy {
  flex: 1 0 0;
  border-top: 2px dashed var(--bright_red);
}

.between-events-elements {
  display: flex;
  flex: 0.5 0 0;
  max-width: calc(30px + 1.5vw);
}

.between-days-elements {
  display: flex;
  flex: 0.5 0 0;
  max-width: calc(15px + 1.5vw);
}

.between-months-elements {
  display: flex;
  flex: 0.5 0 0;
  max-width: calc(15px + 1.5vw);
}

.line-edit {
  flex: 1 0 0;
}

.line-spacer {
  width: 3vw;
}

.line-first {
  flex: 0.5;
}

.connector-date {
  display: flex;
  justify-content: center;
  background-color: var(--darker_red);
  color: var(--text_header_contrast);
  padding: 2px 5px 2px 5px;
  min-width: 49px;
  clip-path: polygon(0 0,calc(100% - 5.00px) 0,100% 5.00px,100% 100%,0 100%);
}

.connector-date-outline {
  background-color: var(--bright_red);
  padding: 1px 1px 1px 1px;
  min-width: 50px;
}

.timeline-month {
  display: flex;
  flex: 3 0 0;
  flex-direction: column;
}

.event-group-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.timeline-day-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

 .event-line {
  display: flex;
  flex: 0 0 1px;
  border: 1px solid var(--bright_red);
  margin-top: 13px;
  box-sizing: border-box;
}

.event-line-top {
  border-bottom: 0;
  border-right: 0;
  margin-bottom: -39px;
}

.event-line-top-edit {
   margin-bottom: -94px;
}

.event-line-bottom {
  margin-top: 13px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.event-line-bottom-edit {
  border-left: 1px dashed var(--bright_red);
  margin-bottom: -35px;
}

.event-line-mid {
  border-right: 0;
  border-bottom: 0;
  margin-bottom: -39px;
}

.event-line-mid-edit {
  margin-bottom: -94px;
}

.event-line-solo {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.event-line-solo-edit {
  border-left: 1px dashed var(--bright_red);
  margin-bottom: -35px;
}

.timeline-event {
  display: flex;
  background-color: var(--elem_mid);
  flex-direction: column;
  scroll-margin-top: 50vh;
  clip-path: polygon(0 0,calc(100% - 10.00px) 0,100% 10.00px,100% 100%,0 100%);
  margin-top: -8px;
  transition: 0.5s;
}

.event-outline {
  display: flex;
  max-width: 100%;
  padding: 9px 1px 1px 1px;
  background-color: var(--bright_red);
  flex: 1 1 0;
}

.event-header {
  display: flex;
  font-size: clamp(12px, 2vw, 16px);
  font-weight: 600;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  color: var(--text_header_contrast);
  background-color: var(--darker_red);
  transition: 0.3s;
}

.event-header:hover {
  background-color: var(--dark_red);
}

.event-header:active {
  background-color: var(--bright_red);
}

.event-header-highlight {
  background-color: var(--bright_red);
  color: var(--text_bright);
}

.event-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 0;
  /* min-height: 250px; */
  overflow-y: hidden;
  /* To animate */
  padding-top: 0;
  padding-bottom: 0;

}

.event-date {
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.event-description {
  display: flex;
  word-break: break-word;
  font-weight: 300;
  font-size: min(12px, 3vw);
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.event-button-area {
  display: flex;
  justify-content: center;
  padding: 16px;
}

@media screen and (max-width: 850px) { 

  .connector-date {
    font-size: 10px;
  }

}

@media screen and (max-width: 650px) { 

  .timeline-left-marker {
    font-size: 18px;
  }

  .timeline-year-container {
    margin-left: -15px;
  }

  .connector-date {
    display: none;
  }

  .connector-date-outline {
    display: none;
  }

  .month-connector {
    margin-top: 13px;
    flex: 1 0 5vw;
  }

  .right-branch-label {
    margin-top: 13px;
  }

}

@media screen and (max-width: 450px) { 

  .timeline-year-container-edit {
    margin-left: 5px;
  }

}

@media screen and (max-width: 400px) { 

  .month-connector {
    display: none;
  }

  .event-line {
    display: none;
  }

  .timeline-day-container .right-branch-label {
    display: none;
  }

  .timeline-months-container {
    display: inline-flex;
  }

  .event-outline {
    width: 70%;
  }

  .day-container-mid {
    border: none;
    padding-bottom: 20px;
  }

  .day-container-solo {
    padding-bottom: 20px;
  }



}

/* Sidebar */

.sidebar {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: var(--bg_colour2);
  height: calc(100vh - 53px);
  width: 300px;
  max-width: 300px;
  transform: translateX(-300px);
  min-width: 0;
  margin-right: -300px;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  align-self: flex-start;
  top: 53px;
  position: -webkit-sticky;
  position: sticky;
  box-sizing: border-box;
  border-right: 1px solid var(--elem_border);
  z-index: 1;
}

.sidebar-deploy {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--dark_red);
  color: var(--text_normal);
  transform: translateX(0);
  height: 200px;
  width: 50px;
  max-width: 50px;
  top: 53px;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  margin-right: -50px;
  clip-path: polygon(100% 0, 100% calc(100% - 10.00px), calc(100% - 10.00px) 100%, 0 100%, 0 0);
  z-index: 1;
}

@media screen  and (max-width: 800px) {

  .sidebar-deploy {
    display: none;
  }

  .sidebar {
    display: none;
  }

}

.sidebar-deploy:hover {
  background-color: var(--bright_red);
}

.sidebar-button > * {
  width: 100%;
  min-height: 40px;
}

.year-button {
  background-color: var(--dark_red);
  margin-bottom: 0;
  clip-path: none;
  transition: 0.2s;
}

.year-button:hover {
  background-color: var(--bright_red);
}

.event-button {
  min-width: 0;
  overflow-x: hidden;
  text-align: left;
  border-style: none;
  height: 100%;
  padding: 0;
  padding: 10px;
  background-color: var(--bg_colour2);
  color: var(--text_dark);
  transition: 0.2s;
}

.event-button:hover {
  background-color: var(--bg_colour3);
  color: var(--dark_red);
}

.event-button:active {
  color: var(--bright_red);
}
