{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/search_result.html" as search_result %}


{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% if request.referrer %}
        {% if "/edit" in request.referrer %}
          {% set urls = [url_for("campaign.campaigns"), url_for("campaign.edit_timeline", campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
        {% else %}
          {% set urls = [url_for("campaign.campaigns"),url_for("campaign.show_timeline", campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
        {% endif %}
      {% else %}
        {% set urls = [url_for("campaign.campaigns"), url_for("campaign.show_timeline", campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
      {% endif %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">
          
          {# Back button #}
          
          {# Only render usable back button if referrer has a url #}
          {% if request.referrer %}
            {% set url = url_for("session.back") %}
            {{ back_button.back_button(url=url, blank=false) }}
          {% else %}
            {# Blank back button area area. No url needed. #}
            {% set url = "" %}
            {{ back_button.back_button(url=url, blank=true) }}
          {% endif %}

          <div class="campaigns-heading-outer">
            <h3 class="campaigns-heading">Advanced Search</h1>
          </div>
          
        </div>
  
        <hr class="campaigns-divider" aria-hidden="true">
        <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-71-04 // Advanced::Search</p>

    </div>
    
    <div class="campaigns-upper-bar join-campaign-upper fade-in-block-1">
      <div class="bar-items-left">

        <form class="search-form fade-in-block-2" method="POST" aria-label="Advanced Search Form">
          {{ form.csrf_token }}
          <div class="user-form-container search-form-container">
            {{form.search(class_="form-input callsign-input search-input", 
                          placeholder="SEARCH QUERY", 
                          autocomplete="off",
                          aria_label="Search Query")}}
            <div class="form-underline"></div>
          </div>
          {{form.submit(class_="button submit-button callsign-submit search-submit")}}
        </form>

      </div>

    </div>

    {# Animation fade in group 2 #}
    <div class="search-campaigns-list fade-in-block-2">

      {% if results is not none %}
          <div class="results-counter">
            {% if results | length > 1 %}
              <h5 class="flavour-text search-header-bold results-flavour">{{ results | length }} RESULTS</h5>
            {% elif results | length == 1 %}
              <h5 class="flavour-text search-header-bold results-flavour">{{ results | length }} RESULT</h5>
            {% endif %}
          </div>
        {% endif %}

      <div class="search-campaigns-upper">
  
        {% if results is none %}
          <div id="empty-flavour" class="empty-search-entry" aria-label="No Results Flavour Text">
            <h5 class="flavour-text typing-1 empty-search-header search-header-bold">TERMINAL ACTIVE:</h5>
            <h5 class="flavour-text typing-2 empty-search-header">>DATABASE::SEARCH</h5>
            <h5 class="flavour-text typing-3 empty-search-blink">>Please enter a search query</h5>
          </div>
        {% endif %}

        <div class="form-flash">
          {% include 'components/flash.html' %}
        </div>

        <ol id="campaigns-list" class="advanced-search-results-area" aria-label="Search Results">

          {# Results go here #}
          {% if results is not none %}

            {% for result in results %}
              {% if edit %}
                {{ search_result.result(result, edit) }}
              {% else %}
                {{ search_result.result(result) }}
              {% endif %}
            {% endfor %}

          {% endif %}

        </ol>

      </div>

    </div>

  </div>

</div>

{% endblock %}