{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}

{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {# Create navigation url bar #}

      {% set urls = [url_for('campaign.campaigns'), 
                    url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

      <div class="campaigns-title">
        <h3 class="campaigns-heading">DATA BACKUP</h3>
      </div>
      <hr class="campaigns-divider" aria-hidden="true">
      <p class="flavour-text" aria-label="Flavour Text">UWC-44-{{campaign.id}} // DATA::BACKUP </p>

    </div>

    <div class="backup-area fade-in-block-2">

      <div class="backup-ctrl export-area">

        <a download id="backup-link" class="backup-link backup-button" aria-label="Backup"
        href="{{ url_for('data.campaign_backup', campaign_name=campaign.url_title, campaign_id=campaign.id) }}">
          <h3 class="backup-title">BACKUP</h3>
          <img class="icon icon-invert icon-xlarge icon-comp-r" aria-label="Backup Icon"
           src="{{ url_for('static', filename='images/icons/egress.svg') }}">
        </a>

        <p class="backup-text">>Export data as JSON</p>

      </div>

      <form class="backup-ctrl import-area" aria-label="Data Restore Form"
      method="POST" enctype="multipart/form-data">

        {{ form.csrf_token }}

        <button type="submit" id="backup-restore" class="backup-link backup-button" aria-label="Restore">
          <h3 class="backup-title">RESTORE</h3>
          <img class="icon icon-invert icon-xlarge icon-comp-r" aria-label="Restore Icon"
          src="{{ url_for('static', filename='images/icons/ingress.svg') }}">
        </button>

        <p class="backup-text">>Import data from JSON</p>
        <p class="backup-text backup-text-alert">WARNING:</p>
        <p class="backup-text backup-text-alert">This will overwrite current campaign data</p>

        {{ form.file(id_="file-upload", class_="file-upload") }}

        <div class="form-flash backup-flash">
          {% include 'components/flash.html' %}
        </div>


      </form>

      
    </div>

    <div class="flavour-text-area fade-in-block-3">
      <p class="flavour-text flavour-text-centre" aria-label="Flavour Text"> All UWC personnel are reminded not to allow NHP access to UWC backups that contain data from [REDACTED] Class endogenous Cascade events. </p>
      <img aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol that irises open like a camera lens."
      src="{{ url_for('static', filename='images/logo-red.png') }}" class="top-logo logo-theme">
    </div>

  </div>

</div>

{% endblock %}