{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [url_for('home.home')] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                              is_link=true,
                              current_user=current_user,
                              homepage=true) }}

      <div class="campaigns-title">
        <h3 class="campaigns-heading">Contact</h3>
      </div>

      <hr class="campaigns-divider" aria-hidden="true">
      <p class="flavour-text" aria-label="Flavour Text">UWC-37-22 // Communications::Uplink </p>

      <section class="about-page-content" aria-label="Contact Details">
          
        <p class="about-page-paragraph"> 
          To report a bug, suggest a feature, or give any feedback, you can get in contact at: <br aria-hidden="true">
          <span class="email">harv<b aria-hidden="true">nospam</b>eygen<b aria-hidden="true">CASTIGATE THE ENEMIES OF THE GODHEAD</b>tmusic@gmail<b aria-hidden="true">.example</b>.com</span>
        </p>

        <p class="about-page-paragraph">
          If you have a GitHub account, you can add an issue directly to the <a class="contact-link" href="https://github.com/Ozzletroll/WAR-COR/issues/new/choose">GitHub repository</a>.
        </p>

      </section>

    </div>
    
  </div>

</div>

{% endblock %}