{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/sidebar.html" as sidebar %}
{% import "components/event_elements.html" as event_elements %}
{% import "components/adjacent_event_button.html" as adjacent_event_button %}
{% import "components/summernote_editor.html" as summernote %}
{% import "components/timeline/month.html" as timeline_month %}


{% extends "base/base.html" %}


{% block head %}
  {% include "base/header.html" %}
  {% block title %}
  <title>{{epoch.title.upper()}} | WAR/COR</title>
  {% endblock %}
{% endblock %}


{% block content %}
<nav class="ui-buttons" aria-label="UI Buttons" role="tablist">
  <div class="ui-tooltips-container" tabindex="-1">
    <label role="tooltip" id="tooltip-search" class="ui-tooltip">Search</label>
    <label role="tooltip" id="tooltip-toggle" class="ui-tooltip">Edit</label>
  </div>
  {{ searchbar.searchbar(campaign, epoch=true) }}
  {% if current_user.is_authenticated and campaign in current_user.permissions %}
    {{ edit_toggle.epoch_edit_toggle(campaign, epoch) }}
  {% endif %}
</nav>

<div class="sidebar-page">
  {{ sidebar.event_sidebar(epoch, sidebar_data) }}
  
  <div id="scrollpage" class="scrollpage">

      <div class="campaigns-content">

        {# Animation fade in group 1 #}
        <div class="fade-in-block-1">

          {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

          {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                            is_link=true,
                                            current_user=current_user,
                                            campaign=campaign) }}

            <div class="campaigns-title">
              <div class="campaigns-heading-outer">
                <h3 class="campaigns-heading">{{epoch.title}}</h3>
              </div>
              
            </div>
      
            <hr class="campaigns-divider" aria-hidden="true">
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-{{campaign.id}}-{{epoch.id}} // Epoch::Data</p>
    
        </div>

        <div class="event-page-container fade-in-block-2">

          <div class="event-main-container">

            <div class="event-centre-container">
              <section class="epoch-page-upper" aria-label="Epoch Start/End">
                <div class="epoch-date-area">
                  <h4 class="epoch-page-date" aria-label="Start Date">{{epoch.start_date}}</h4>
                  {% if epoch.start_date != epoch.end_date %}
                      <h4 class="epoch-page-date" aria-label="End Date">{{epoch.end_date}}</h4>
                  {% endif %}
                </div>
              </section>

              <section class="event-page-body" aria-label="Epoch Data">
                
                {% for entry in epoch.dynamic_fields %}
                  {% if entry.field_type == "basic" %}
                    {{ event_elements.render_basic_field(entry, loop.index) }}
                  {% elif entry.field_type == "html" %}
                    {{ event_elements.render_html_field(entry, loop.index) }}
                  {% elif entry.field_type == "composite" %}
                    {{ event_elements.render_composite_field(entry, loop.index) }}
                  {% endif %}
                {% endfor %}

                {% if epoch.events | length > 0 %}
                  <div class="timeline-container epoch-events-container" aria-label="Epoch Timeline">
                    <h4 class="epoch-events-header">
                        EPOCH DATA
                    </h4>

                    <div class="epoch-start-marker epoch-page-start-marker">
                      <div class="epoch-vert-line"></div>
                      <div class="epoch-hor-line epoch-page-hor-line"></div>
                    </div>

                    <ol class="epoch-events-list timeline-container" aria-label="Year List">

                    {% for year in timeline_data %}

                    <!-- Year {{  year.name }} -->

                    <li id="timeline-year-{{year.name}}" class="timeline-year" aria-labelledby="year-{{year.name}}">

                      <!-- Year main axis -->
                      <div class="timeline-year-outer-container" aria-hidden="true">
                        <div class="timeline-year-container">

                          <h3 class="timeline-year-header" id="year-{{year.name}}">
                            {% if year.name.startswith("-") %}
                              {{ year.name + campaign.negative_date_suffix}}
                            {% else %}
                              {{ year.name + campaign.date_suffix}}
                            {% endif %}
                          </h3> 

                          <div class="timeline-columns">

                            <div class="timeline-left-marker">
                              <div class="year-marker-hr"></div>
                              <div class="year-marker-line"></div>
                              <h5 class="year-marker">{{ year.name + campaign.date_suffix}}</h5>
                              <div class="year-marker-line"></div>
                              <div class="year-marker-hr"></div>
                            </div>

                            <div class="timeline-right-marker">
                              <div class="timeline-horizontal"></div>
                              <div class="timeline-line"></div>
                              <div class="timeline-horizontal"></div>
                            </div>

                          </div>

                        </div>
                      </div>
                  
                      <!-- Timeline months -->
                      <ol class="timeline-months-container" aria-label="Month List">
                        {% for month in year.months %}

                          {{ timeline_month.month(campaign,
                                                  year,
                                                  month,
                                                  length=loop.length,
                                                  index=loop.index0,
                                                  edit=edit) }}
          
                        {% endfor %}
                      </ol>

                    </li>
                  {% endfor %}

                      <div class="epoch-end-marker epoch-page-end-marker">
                        <div class="epoch-hor-line-end"></div>
                      </div>

                    </ol>
                  </div>
                {% endif %}
                  
              </section>

            </div>

          </div>

        </div>

      </div>

  </div>

</div>

{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="false"></div>

<script src="{{ url_for('static', filename='js/pages/epoch/epoch_page.js') }}" type="module"></script>

{% endblock %}
