{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}

{% extends "base/base.html" %}

{% block content %}

  <div class="scrollpage">

    <div class="campaigns-content">
      
        {# Animation fade in group 1 #}
        <div class="fade-in-block-1">

          {# Create navigation url bar #}

          {% set urls = [url_for('campaign.campaigns')] %}

          {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                            is_link=false, 
                                            current_user=current_user,
                                            campaign=none) }}

          <div class="campaigns-title">
            <h3 class="campaigns-heading">{{ error.code }} {{ error.name }}</h3>
          </div>

          <hr class="campaigns-divider">
          {% if error.code == 403 %}
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-40-3 // Authentication::Invalid</p>
          {% elif error.code == 404 %}
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-40-4 // Resource::Not Found</p>
          {% elif error.code == 429 %}
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-42-9 // Limit::Exceeded</p>
          {% elif error.code == 500 %}
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-50-0 // Error::Internal Server Error</p>
          {% endif %}
        </div>

        <div class="campaigns-upper-bar">
          <div class="empty-search-entry fade-in-block-2">
            {% if error.code == 403 %}
                <p class="flavour-text typing-1 empty-search-header search-header-bold">UWC IDENT SERVICE:</p>
                <p class="flavour-text typing-2 empty-search-header">>AUTHENTICATION::DENIED</p>
                <p class="flavour-text typing-3 empty-search-blink">>Access to this resource is denied</p>
                <hr class="error-hr" aria-hidden="true">
                <p class="flavour-text error-flavour" aria-label="Error Description">>{{ error.description }}</p>
            {% elif error.code == 404 %}
                <p class="flavour-text typing-1 empty-search-header search-header-bold">RESOURCE SEARCH:</p>
                <p class="flavour-text typing-2 empty-search-header">>PAGE::NOT_FOUND</p>
                <p class="flavour-text typing-3 empty-search-blink">>Please check URL and try again</p>
                <hr class="error-hr" aria-hidden="true">
                <p class="flavour-text error-flavour" aria-label="Error Description">>{{ error.description }}</p>
            {% elif error.code == 429 %}
                <p class="flavour-text typing-1 empty-search-header search-header-bold">RATE LIMITER:</p>
                <p class="flavour-text typing-2 empty-search-header">>REQUEST_LIMIT::EXCEEDED</p>
                <p class="flavour-text typing-3 empty-search-blink" aria-label="Error Description">>{{ error.description }}</p>
            {% elif error.code == 500 %}
                <p class="flavour-text typing-1 empty-search-header search-header-bold">SERVER ERROR:</p>
                <p class="flavour-text typing-2 empty-search-header">>ERROR::UNABLE_TO_COMPLETE</p>
                <p class="flavour-text typing-3 empty-search-blink">>Server overloaded or error in application</p>
                <hr class="error-hr" aria-hidden="true">
                <p class="flavour-text error-flavour" aria-label="Error Description">>{{ error.description }}</p>
            {% endif %}
          
          </div>
        </div>

        {% if current_user.is_authenticated %}
        <a class="fade-in-block-3 button create-campaign-button error-home-button" href="{{ url_for('campaign.campaigns') }}">
          >RETURN TO CAMPAIGNS
        </a>
        {% else %}
        <a class="fade-in-block-3 button create-campaign-button error-home-button" href="{{ url_for('home.home') }}">
          >RETURN TO MAIN PAGE
        </a>
        {% endif %}

    </div>

  </div>

{% endblock %}
