{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/sidebar.html" as sidebar %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/back_button.html" as back_button %}
{% import "components/adjacent_event_button.html" as adjacent_event_button %}
{% import "components/event_elements.html" as event_elements %}
{% import "components/modal.html" as modal %}
{% import "components/summernote_editor.html" as summernote %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
  <title>{{event.title.upper()}} | WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summernote_comment_theme.css') }}">
  {% endblock %}
{% endblock %}

{% block content %}

<nav class="ui-buttons" aria-label="UI Buttons" role="tablist">
  <div class="ui-tooltips-container" tabindex="-1">
    <label role="tooltip" id="tooltip-search" class="ui-tooltip">Search</label>
    <label role="tooltip" id="tooltip-toggle" class="ui-tooltip">Edit</label>
  </div>
  {{ searchbar.searchbar(campaign=campaign, event=true) }}
  {% if current_user.is_authenticated and campaign in current_user.permissions %}
    {{ edit_toggle.event_edit_toggle(campaign, event) }}
  {% endif %}
</nav>

<div class="sidebar-page">
  {{ sidebar.event_sidebar(event, sidebar_data) }}
  
  <div class="scrollpage">

      <div class="campaigns-content">

        {# Animation fade in group 1 #}
        <div class="fade-in-block-1">

          {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

          {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                            is_link=true,
                                            current_user=current_user,
                                            campaign=campaign) }}

            <div class="campaigns-title">
              
              {# Back button #}
              {% if request.referrer %}
                {% if "/search" in request.referrer and campaign.url_title in request.referrer %}
                  {% set url = url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
                {% elif "/epoch" in request.referrer and campaign.url_title in request.referrer %}
                  {% set url = request.referrer %}
                {% else %}
                  {% set url = url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
                {% endif %}
              {% else %}
                {% set url = url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
              {% endif %}
              {{ back_button.back_button(url=url, blank=false) }}

              <div class="campaigns-heading-outer">
                <h3 class="campaigns-heading">{{event.title}}</h3>
              </div>
              
            </div>
      
            <hr class="campaigns-divider" aria-hidden="true">
            <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-{{campaign.id}}-{{event.id}} // Event::Data</p>
    
        </div>

        <div class="event-page-container fade-in-block-2">

          <div class="event-main-container">

            {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, left=true) }}

            <div class="event-centre-container">
              <div class="event-page-upper">
                {% if event.hide_time or event.header %}
                  <section class="event-page-elem event-date-area" aria-label="Event Date">
                    <h4 class="event-page-date">{{event.date.split(" ")[0]}}</h4>
                  </section>
                {% else %}
                  <section class="event-page-elem event-date-area" aria-label="Event Date">
                    <h4 class="event-page-date">{{event.date}}</h4>
                  </section>
                {% endif %}

                <section class="event-page-elem type-area" aria-label="Event Type">
                  <h4 class="event-page-type">{{event.type}}</h4>
                </section>
              </div>

              <div class="event-page-body">

                {% for entry in event.dynamic_fields %}
                  {% if entry.field_type == "basic" %}
                    {{ event_elements.render_basic_field(entry, loop.index) }}
                  {% elif entry.field_type == "html" %}
                    {{ event_elements.render_html_field(entry, loop.index) }}
                  {% elif entry.field_type == "composite" %}
                    {{ event_elements.render_composite_field(entry, loop.index) }}
                  {% endif %}
                {% endfor %}

              </div>

            </div>

            {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, right=true) }}

          </div>

          <div class="adjacent-events-lower">
            <div class="adjacent-lower-left">
              {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, left=true, lower=true) }}
            </div>
            <div class="adjacent-lower-right">
              {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, right=true, lower=true) }}
            </div>
          </div>

          <!-- User comments area -->
          <section class="comments-area fade-in-block-3" aria-label="Comments Area">

            {% if campaign.comments == "private" %}
              {% set comment_text = "Secure" %}
            {% elif campaign.comments == "open" %}
              {% set comment_text = "Open" %}
            {% else %}
              {% set comment_text = "Closed" %}
            {% endif %}

              <h3 class="comments-heading">::COMMS CHANNEL [{{comment_text}}]</h3>
              <hr class="campaigns-divider" aria-hidden="true">
            
              {% if event.comments | length == 0 %}
                <h6 class="comments-count">[NO MESSAGE DATA]</h5>
              {% endif %}

              <ol class="comments-list" aria-label="Comments">
              {% for comment in event.comments %}

                  <li class="event-comment">

                    <p class="comment-date">{{ comment.date }}</p>

                    {% if comment.author == current_user %}
                    <div id="comment-{{comment.id}}" class="comment-header comment-header-user">
                    {% else %}
                    <div id="comment-{{comment.id}}" class="comment-header">
                    {% endif %}
                      <div class="comment-header-left">
                        <img class="icon" src="{{ url_for('static', filename='images/icons/user_white.svg') }}">
                        <h5 class="comment-username">{{ comment.author.username }}</h5>

                        {% for entry in comment.author.campaign_associations %}
                          {%if entry.campaign_id == campaign.id%}
                            {% if entry.callsign is not none %}
                              <h6 class="comment-callsign callsign-break">
                                [{{entry.callsign.upper()}}]
                              </h6>
                            {% endif %}
                          {%endif%}
                        {% endfor %}
                      </div>

                      <div class="comment-header-right">
                        {% if campaign in current_user.permissions or comment.author == current_user %}
                          <button id="comment-button-{{loop.index}}" class="button delete-comment-button">
                            <img class="icon" src="{{ url_for('static', filename='images/icons/bin_white.svg') }}">
                          </button>
                        {% endif %}
                      </div>

                    </div>

                    {% if comment.author == current_user %}
                    <div class="comment-body comment-body-user">
                    {% else %}
                    <div class="comment-body">
                    {% endif %}
                      <p class="flavour-text comment-flavour-text">MSG-{{event.id}}-{{loop.index}} // Correspondent::{{comment.author.username}}</p>
                      {{ comment.body | safe }}
                    </div>

                  </li>

              {% endfor  %}
              </ol>

            <!-- New Comment Area -->
            {% if comment_form_visible %}

              <div class="new-comment-area">
                <div class="new-comment-area-header">
                  <div class="label-left">
                    <img class="icon" aria-label="Callsign Icon" alt="A stylised headset"
                    src="{{ url_for('static', filename='images/icons/callsigns.svg') }}">
                    <h4 class="new-comment-heading">NEW COMMENT</h4>
                  </div>
 
                  <div class="label-right">
                    <h4 class="campaign-form label-title label-example">Characters left:&nbsp</h4>
                    <h4 id="remaining-chars" class="campaign-form label-title label-example">300</h4>
                  </div>

                </div>

                <form class="form comment-form" method="post">
                  {{ form.csrf_token }}
                  {{ form.body(id="summernote-comment") }}
                  {{ summernote.summernote_editor(placeholder="LEAVE A COMMENT", 
                                                  char_limit=300, 
                                                  allow_images=true,
                                                  allow_urls=true,  
                                                  id_suffix="-comment") }}
                  {{ form.submit(class_="button comment-submit") }}
                </form>
              </div>
              
            {% endif %}

          </section>

        </div>

      </div>

  </div>

</div>

{# Delete comment confirm modals #}
{% for comment in event.comments %}

  {% if current_user in campaign.admins or current_user == comment.author %}

  {{ modal.modal(type="comment",
                 title="Delete Comment",
                 aria_label="Delete Comment Confirmation",
                 body_text="Confirm comment termination",
                 button_text="Delete",
                 model_id=event.id,
                 loop_index=loop.index,
                 form=form,
                 form_action=url_for('event.delete_comment',
                                      campaign_name=campaign.url_title,
                                      campaign_id=campaign.id,
                                      event_name=event.url_title,
                                      event_id=event.id,
                                      comment_id=comment.id)) }}

  {% endif %}

{% endfor %}

{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="false"></div>

<script src="{{ url_for('static', filename='js/pages/event/event.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/components/scroll_target.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/summernote_modal_close.js') }}"></script>

<script>
  window.addEventListener('DOMContentLoaded', 
                          scrollToTarget('{{ url_for("session.comment_target") }}', 
                                         '{{ csrf_token() }}'));
</script>  

{% endblock %}
