{% extends "base/base.html" %}

{% block content %}

  <div class="main-area">

    <section id="hero" class="hero">

      <div class="hero-centered hero-fade">
        <div class="hero-title-area">
          <h1 class="main-title">WAR/COR</h1>
          <hr id="title-hr" class="title-hr" aria-hidden="true">
        </div>
        
        <div class="secondary-title hero-fade">
          <h2>FRONTLINE REPORTING IN THE YEAR 5016u</h2>
        </div>

      </div>
      <a href=#main-features class="down-area hero-fade">
        <div class="down-arrow-hidden-spacer"></div>
        <svg id="down-arrow" class="down-arrow icon-colour-var" aria-label="A downward pointing chevron arrow" 
        viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke-width="1">
            <g transform="translate(80.915055, 157.440000)">
                <polygon points="320 0 350.169889 30.1698893 175.084945 205.254834 0 30.1698893 30.1698893 0 175.084945 144.898278"></polygon>
            </g>
          </g>
        </svg>
      </a>
    </section>

    <section class="features" id="main-features" aria-label="Features Showcase">

      <div id="features-upper" class="features-upper" aria-labelledby="timeline-demo-header">
        <div id="features-header" class="features-header" aria-label="Section Header">
          <h3 id="timeline-demo-header" class="sub-title">Create Dynamic RPG Timelines</h3>
          <hr aria-hidden="true" class="campaigns-divider">
          <p class="flavour-text flavour-text-centred" aria-label="Flavour Text">UWC-0-0 // System::Overview</p>
        </div>

        <article class="showcase-area">
          <div id="timeline-showcase" class="features-timeline-showcase">
            {% include "components/timeline_demo.html" %}
          </div>
        </article>

        <article id="features-paragraph" class="features-paragraph hero-fade">
          <p aria-label="A short overview of the app's main features">WAR/COR is a free, lightweight roleplaying game 
            logger and timeline creator, built for the mechanised battlefields of the distant future. 
            Create and share session notes with your players, document combat reports and 
            track your campaign's history with dynamically generated timelines.
          </p>
        </article>

      </div>

      <div class="features-carousel">

        <ul id="carousel" aria-label="Image Carousel">
          <li id="carousel-img-1" class="carousel-item" aria-labelledby="carousel-text-1">
            <img class="carousel-img" src="{{ url_for('static', filename='images/slide-1.png') }}" 
            alt="An example of the main 'Campaigns' page, showing an example campaign called 'No Time For A Cliffhanger'.
            The example user has written a short overview of the campaign, and has added several other users as members,
            each with their own unique callsigns.">
          </li>
          <li id="carousel-img-2" class="carousel-item" aria-labelledby="carousel-text-2">
            <img class="carousel-img" src="{{ url_for('static', filename='images/slide-2.png') }}"
            alt="An example of a user created event. The user has created an event titled 'Operation
            Proscenium', which has several user created data fields. These include the event's date,
            type, location, a list of belligerents, as well as a compendium entry.">
          </li>
          <li id="carousel-img-3" class="carousel-item" aria-labelledby="carousel-text-3">
            <img class="carousel-img" src="{{ url_for('static', filename='images/slide-3.png') }}"
            alt="An example of the campaigns timeline, showing a vertical timeline along the left-hand 
            side of the page. At the year '5016' several elements representing months branch off across the page,
            branching again into individual day, then finally into individual events. This tree-like structure
            makes up the overall timeline of user-created events.">
          </li>
        </ul>

        <div class="carousel-text-area">
          <div class="carousel-buttons" aria-label="Carousel Buttons">
            <input id="carousel-button-1" class="carousel-button" type="radio" value="0" name="carousel-radio" aria-label="Show Image 1" checked>
            <input id="carousel-button-2" class="carousel-button" type="radio" value="1" name="carousel-radio" aria-label="Show Image 2">
            <input id="carousel-button-3" class="carousel-button" type="radio" value="2" name="carousel-radio" aria-label="Show Image 3">
          </div>

          <p id="carousel-text-1" class="carousel-text" aria-hidden="true">
            Create campaigns, add members and set callsigns
          </p>
          <p id="carousel-text-2" class="carousel-text carousel-text-hidden" aria-hidden="true">
            Input conflict data, creating events and epochs
          </p>
          <p id="carousel-text-3" class="carousel-text carousel-text-hidden" aria-hidden="true">
            Visualise campaign chronology
          </p>
        </div>
      </div>

      <article class="features-lower" aria-labelledby="features-lower-title-1">
        <img src="{{ url_for('static', filename='images/custom-date-example.png') }}"
        alt="An example of the timeline being edited. A branch of the timeline has several 'New Event'
        buttons extending out between each month, day and event, allowing the user to easily place
        them with a single action. In addition, the timeline example demonstrates some of the non-standard
        dates that can be used, with the current month featuring at least 35 days, and containing
        25 hours in a day.">
        <div class="features-text-area">
          <h5 id="features-lower-title-1" class="feature-title">Freeform Timeline Editing</h5>
          <p id="features-text-1" class="features-typewriter" aria-label="A short paragraph about the app's freeform date system">
            Unbound by the constraints of pre-collapse archiving conventions, WAR/COR allows seamless 
            conflict organisation in accordance with any non-standard local system calendars.
          </p>
        </div>
      </article>

      <article class="features-lower lower-2" aria-labelledby="features-lower-title-2">
        <div class="features-text-area">
          <h5 id="features-lower-title-2" class="feature-title">Customisable Data Structures</h5>
          <p id="features-text-2" class="features-typewriter" 
          aria-label="A short paragraph about the app's freeform date system">
            Whether capturing live conflict data or archiving second-hand accounts, 
            UWC personnel can easily add, remove and rearrange custom fields as they
            require, saving configurations as reusable templates.
          </p>
        </div>
        <img src="{{ url_for('static', filename='images/custom-date-example.png') }}"
        alt="">
      </article>

      <article class="features-lower lower-3" aria-labelledby="features-lower-title-3">
        <img src="{{ url_for('static', filename='images/responsive-mockup.png') }}"
        alt="An example of the app running on three different devices, a smartphone, a tablet, and a laptop.">
        <div class="features-text-area">
          <div class="feature-header-container">
            <h5 id="features-lower-title-3" class="feature-title">Responsive Battlefield Performance</h5>
          </div>
          
          <p id="features-text-3" class="features-typewriter" 
          aria-label="A short paragraph about the app responsive web design">
            UWC military standardisation ensures reliable performance on a variety of hardware platforms, 
            across any theatre of warfare.
          </p>
        </div>
      </article>

    </section>

    <section class="cta" aria-label="Call To Action">
      <div class="bottom-cta">
        <h4 class="cta-text">Free for all citizens of Union</h4>
        <div class="button-area" aria-label="Button Area">
          {% if current_user.is_authenticated %}
          <a class="feature-button" href="{{ url_for('campaign.campaigns') }}">GET STARTED</a>
          {% else %}
          <a class="feature-button" href="{{ url_for('user.register') }}">Enlist today</a>
          {% endif %}
        </div>
      </div>

    </section>

  </div>

  {% include "base/footer.html" %}

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/pages/index/index.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/pages/index/carousel.js') }}"></script>

{% endblock %}
