{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/back_button.html" as back_button %}
{% import "components/dynamic_fields.html" as dynamic_fields %}
{% import "components/new_field_buttons.html" as new_field_buttons %}
{% import "components/summernote_editor.html" as summernote %}
{% import "components/modal.html" as modal %}
{% import "components/footer.html" as footer %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}

  {% if not new %}
    <nav class="ui-buttons" aria-label="UI Buttons" role="tablist">
      {{ searchbar.searchbar(campaign, event=true) }}
      {% if current_user.is_authenticated and campaign in current_user.permissions %}
        {{ edit_toggle.event_edit_toggle(campaign, event, edit=true) }}
      {% endif %}
    </nav>
  {% endif %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">

          {# Back button #}
          {% if request.referrer %}
            {% if "/search" in request.referrer %}
              {% set url = url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
            {% else %}
              {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
            {% endif %}
          {% else %}
            {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
          {% endif %}

          {{ back_button.back_button(url=url, blank=false) }}

          {% if edit %}
            <h3 class="campaigns-heading edit-campaign-heading">EDIT EVENT DATA</h3>
          {% else %}
            <h3 class="campaigns-heading edit-campaign-heading">NEW EVENT DATA</h3>
          {% endif %}

        </div>

        <hr class="campaigns-divider" aria-hidden="true">
        <p class="flavour-text" aria-label="Flavour Text">UWC-6-00 // Event::Index </p>

    </div>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>
  
      <form id="edit-event-form" class="edit-form form-column fade-in-block-2" method="POST" aria-label="Event Form">
        {{ form.csrf_token }}
        <div id="event-form-edit-fields" class="form-hidden">

        </div>
        <div id="date-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="event-form-date">
                <h4 class="campaign-form label-title">Date</h4>
              </label>

              <div class="form-extra-button-area">
                <button id="event-date-help-button" class="button form-button" type="button" aria-label="Help">
                  {% include "components/help_icon.html" %}
                </button>
              </div>
              
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-6-01 //  Event::Chronometric Data</p>
          </div>
        
          <div class="form-input-container">
            {{ form.date(id="event-form-date", 
                         class_="campaign-input form-input event-input", 
                         placeholder_="YYYY/MM/DD HH:MM:SS REQUIRED", 
                         autocomplete="off") }}
            <div class="form-underline"></div>
          </div>

        </div>

        <div id="title-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="event-form-title">
                <h4 class="campaign-form label-title">Event Title</h4>
              </label>

              <div class="form-extra-button-area">

                <button class="button form-button" type="button" onClick="getRequest(target_url)" aria-label="Generate Random Title">
                  <div class="icon-safari-fix">
                    <svg class="icon icon-colour-var" aria-label="Random Title Icon" width="20px" height="20px" viewBox="0 -4 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; margin: auto;">
                      <path d="m24.983 8.539v-2.485h-4.902l-3.672 5.945-2.099 3.414-3.24 5.256c-.326.51-.889.844-1.53.845h-9.54v-3.568h8.538l3.673-5.946 2.099-3.414 3.24-5.256c.325-.509.886-.843 1.525-.845h5.904v-2.485l7.417 4.27-7.417 4.27z"/>
                      <path d="m12.902 6.316-.63 1.022-1.468 2.39-2.265-3.675h-8.538v-3.568h9.54c.641.001 1.204.335 1.526.838l.004.007 1.836 2.985z"/>
                      <path d="m24.983 24v-2.485h-5.904c-.639-.002-1.201-.336-1.521-.838l-.004-.007-1.836-2.985.63-1.022 1.468-2.39 2.264 3.675h4.902v-2.485l7.417 4.27-7.417 4.27z"/>
                    </svg>
                  </div>
                </button>
              </div>
              
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-6-02 //  Event::Operation Designation</p>
          </div>

          <div class="form-input-container">
            {{ form.title(id="event-form-title", 
                          class_="campaign-input form-input event-input", 
                          autocomplete="off", 
                          placeholder="REQUIRED") }}
            <div class="form-underline"></div>
          </div>

        </div>

        <div id="type-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Help"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="event-form-type">
                <h4 class="campaign-form label-title">Type</h4>
              </label>
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-6-03 //  Event::Category</p>
          </div>

          <div class="form-input-container">
            {{ form.type(id="event-form-type", 
                         class_="campaign-input form-input event-input", 
                         autocomplete="off", 
                         placeholder="REQUIRED") }}
            <div class="form-underline"></div>
          </div>
        
        </div>

        <div id="display-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Timeline Display</h4>
              <div class="form-extra-button-area">
                
                <button id="event-format-help-button" class="button form-button" type="button" aria-label="Help">
                  {% include "components/help_icon.html" %}
                </button>
                
              </div>

            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-6-04 //  Event::Formatting</p>
          </div>

          <div class="form-toggle-inputs">
            {{ form.hide_time(id="event-form-hide-time", 
                              class_="event-input input-checkbox theme-radio", 
                              autocomplete="off") }}
            <label class="form-toggle-label" for="event-form-hide-time">Hide Time</label>
          </div>
        </div>

        <div id="dynamic-field-area" class="dynamic-field-area">
          {% for field in form.dynamic_fields %}
            {% if field.field_type.data == "html" %}
              {{ dynamic_fields.dynamic_html_field(field, loop.index) }}
            {% elif field.field_type.data == "basic" %}
              {{ dynamic_fields.dynamic_basic_field(field, loop.index) }}
            {% elif field.field_type.data == "composite" %}
              {{ dynamic_fields.dynamic_composite_field(field, loop.index) }}
            {% endif %}
          {% endfor %}
        </div>

        {{ new_field_buttons.new_field_buttons() }}

        <div class="campaign-submit-area event-submit-area">
          {{ form.submit(class_="button campaign-input campaign-submit") }}
        </div>  
  
        {% if edit %}
        <div class="fade-in-block-2 campaign-submit-area event-submit-area">
          <button id="event-delete-button" class="button campaign-input campaign-submit" type="button">
            Delete Event
          </button>
        </div> 
        {% endif %}

      </form>

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="{{ url_for('static', filename='images/logo-red.png') }}" class="top-logo logo-theme"
      aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol irising open like a camera lens">
    </div>

  </div>

{{ footer.form_footer("event", campaign, new=new) }}

</div>

{# Modals #}

{% if edit %}
{# Delete event confirm modal #}
  {{ modal.modal(type="event",
                title="Delete Event",
                aria_label="Delete Event Confirmation",
                body_text=event.title,
                button_text="Delete",
                model_id=event.id,
                loop_index=0,
                form=form,
                form_action=url_for("event.delete_event",
                                    campaign_name=campaign.url_title,
                                    campaign_id=campaign.id,
                                    event_name=event.url_title,
                                    event_id=event.id)) }}

{% endif %}

{# Date Help Modal #}
{{ modal.modal(type="help",
               subtype="date",
               title="Event Date",
               aria_label="Event Date Help",
               loop_index=1) }}

{# Event Formatting Help Modal #}
{{ modal.modal(type="help",
               subtype="format",
               title="Event Formatting",
               aria_label="Formatting Help",
               loop_index=2) }}

{# Footer help modal #}
{{ modal.modal(type="help",
               subtype="event_form",
               title="Event Form Help",
               aria_label="Event Form Help",
               loop_index=3) }}

{# Template load modal #}
{{ modal.modal(type="template",
               title="Load Template",
               subtype="load",
               aria_label="Load Template",
               loop_index=1,
               button_text="LOAD",
               form_action=url_for('template.load_template', campaign_name=campaign.url_title, campaign_id=campaign.id)) }} 

{# Template deletion modal #}
{{ modal.modal(type="template",
               title="Delete Template",
               subtype="delete",
               aria_label="Delete Template",
               loop_index=2,
               button_text="DELETE",
               form_action=url_for('template.delete_template', campaign_name=campaign.url_title, campaign_id=campaign.id)) }} 

{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="true"></div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/pages/event/event_form.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/pages/event/event_gen.js') }}"></script> 
<script>
  const target_url = "{{ url_for('generator.random_event_title') }}"        
</script>

{% endblock %}
