{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/summernote_editor.html" as summernote %}
{% import "components/modal/modal.html" as modal %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {# Create navigation url bar #}
      {% if edit %}
        {% if request.referrer %}
          {% if campaign.url_title + "-" + campaign.id | string + "/edit" in request.referrer %}
            {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
          {% else %}
            {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
          {% endif %}
        {% else %}
          {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}
        {% endif %}
          {% else %}
        {% set urls = [url_for('campaign.campaigns')] %}
      {% endif %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

      <div class="campaigns-title">
        {% if edit %}
          <h3 class="campaigns-heading edit-campaign-heading">EDIT CAMPAIGN DATA</h1>
        {% else %}
          <h3 class="campaigns-heading edit-campaign-heading">NEW CAMPAIGN DATA</h1>
        {% endif %}
      </div>

      <hr class="campaigns-divider" aria-hidden="true">
      <p class="flavour-text" aria-label="Flavour Text">UWC-5-00 // Campaign::Index </p>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>

    </div>

    <form class="edit-form form-column fade-in-block-2" aria-label="Campaign Data Form" method="POST" novalidate>
      {{ form.csrf_token }}

      <div class="form-container form-container-small">
        <div class="campaign-form-label form-icon" aria-label="Campaign Title">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" aria-label="Campaign Title Symbol" alt="A stylised pen writing"
            src="{{ url_for('static', filename='images/icons/edit.svg') }}">

            <label for="campaign-form-title">
              <h4 id="campaign-title-label" class="campaign-form label-title">Campaign Title</h4>
            </label>
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-01 //  Campaign::Conflict Designation</p>
        </div>

        <div class="form-input-container">
          {{ form.title(id="campaign-form-title", class_="campaign-input form-input", autocomplete="off", 
             placeholder="REQUIRED", aria_labelledby="campaign-title-label") }}
          <div class="form-underline"></div>
        </div>

      </div>

      <div class="form-container form-container-small">
        <div class="campaign-form-label form-icon" aria-label="Date Suffix">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" aria-label="Date Suffix Symbol" alt="A stylised pen writing"
            src="{{ url_for('static', filename='images/icons/edit.svg') }}">
            <label for="campaign-form-image">
              <h4 id="image-url-label" class="campaign-form label-title">Banner Image URL</h4>
            </label>

            <div class="form-extra-button-area">
              <button id="campaign-image-help-button" class="button form-button" type="button" aria-label="Help">
                {% include "components/help_icon.html" %}
              </button>
            </div>
            
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-02 // Campaign::Image</p>
        </div>

        <div class="form-input-container">
          {{ form.image_url(id="campaign-form-image", class_="campaign-input form-input", 
             autocomplete="off", placeholder="OPTIONAL", aria_labelledby="image-url-label") }}
          <div class="form-underline"></div>
        </div>

      </div>

      <div class="form-container form-container-small">
        <div class="campaign-form-label form-icon" aria-label="Date Suffix">
          <div class="campaign-form-label-container label-split">
            <div class="label-left">
              <img class="icon campaign-form-icon icon-invert" aria-label="Date Suffix Symbol" alt="A stylised pen writing"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="campaign-form-suffix">
                <h4 id="date-suffix-label" class="campaign-form label-title">Date Suffix</h4>
              </label>
            </div>
            <div class="label-right">
              <h4 class="campaign-form label-title label-example">Example: 5016</h4>
              <h4 id="example-date" class="campaign-form label-title label-example"></h4>
            </div>
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-03 // Calendar::Suffix</p>
        </div>

        <div class="form-input-container">
          {{ form.date_suffix(id="campaign-form-suffix", class_="campaign-input form-input", 
             autocomplete="off", maxlength=8, placeholder="OPTIONAL", aria_labelledby="date-suffix-label") }}
          <div class="form-underline"></div>
        </div>

      </div>

      <div class="form-container form-container-small">
        <div class="campaign-form-label form-icon" aria-label="Negative Date Suffix">
          <div class="campaign-form-label-container label-split">
            <div class="label-left">
              <img class="icon campaign-form-icon icon-invert" aria-label="Negative Date Suffix Symbol" alt="A stylised pen writing"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="campaign-form-negative-suffix">
                <h4 id="negative-suffix-label" class="campaign-form label-title">Negative Suffix</h4>
              </label>
            </div>
            <div class="label-right negative-label-right">
              <div class="example-area">
                <h4 class="campaign-form label-title label-example">Example: -300</h4>
                <h4 id="negative-example-date" class="campaign-form label-title label-example"></h4>
              </div>
            </div>
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-04 //  Calendar::Negative Suffix</p>
        </div>

        <div class="form-input-container">
          {{ form.negative_date_suffix(id="campaign-form-negative-suffix", class_="campaign-input form-input", 
          autocomplete="off", maxlength=8, placeholder="OPTIONAL", aria_labelledby="negative-suffix-label") }}
          <div class="form-underline"></div>
        </div>

      </div>

      <div class="form-container form-container-small">
        <div class="campaign-form-label form-icon" aria-label="System">
          <div class="campaign-form-label-container label-split">
            <div class="label-left">
              <img class="icon campaign-form-icon icon-invert" aria-label="System Symbol" alt="A stylised pen writing"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="campaign-form-system">
                <h4 id="negative-suffix-label" class="campaign-form label-title">System</h4>
              </label>
            </div>
            <div class="label-right">
              <h4 class="campaign-form label-title label-example">Characters left:&nbsp</h4>
              <h4 id="remaining-chars-system" class="campaign-form label-title label-example">40</h4>
            </div>
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-05 // Engagement::Directives</p>
        </div>

        <div class="form-input-container">
          {{ form.system(id="campaign-form-system", class_="campaign-input form-input", 
          autocomplete="off", maxlength=40, placeholder="OPTIONAL") }}
          <div class="form-underline"></div>
        </div>

      </div>

      <div class="form-container form-container-large">
        <div class="campaign-form-label form-icon" aria-label="Campaign Description">
          <div class="campaign-form-label-container label-split">
            <div class="label-left">
              <img class="icon campaign-form-icon icon-invert" aria-label="Description Symbol" alt="A stylised pen writing"
              src="{{ url_for('static', filename='images/icons/edit.svg') }}">
              <label for="summernote-desc">
                <h4 id="campaign-description-label" class="campaign-form label-title">Description</h4>
              </label>
            </div>
            <div class="label-right">
              <h4 class="campaign-form label-title label-example">Characters left:&nbsp</h4>
              <h4 id="remaining-chars" class="campaign-form label-title label-example">600</h4>
            </div>
          </div>
          <p class="flavour-text" aria-label="Flavour Text">UWC-5-06 //  Campaign::Conflict Overview</p>
        </div>

        {{ form.description(id="summernote-desc", class_="campaign-input large-input", 
           autocomplete="off", aria_labelledby="campaign-description-label") }}

        {{ summernote.summernote_editor(placeholder="REQUIRED", 
                                        char_limit=600, 
                                        id_suffix="-desc") }}

      </div>

      <div class="campaign-submit-area event-submit-area">
        {{ form.submit(class_="button campaign-input campaign-submit") }}
      </div>  
        
    </form>

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="{{ url_for('static', filename='images/logo-red.png') }}" class="top-logo logo-theme"
      aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol irising open like a camera lens.">
    </div>

  </div>

</div>

{# Image Help Modal #}
{{ modal.modal(type="help",
               subtype="image",
               title="Banner Image",
               aria_label="Banner Image Help",
               loop_index=1) }}

<script src="{{ url_for('static', filename='js/pages/campaign/campaign_form.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/components/unsaved_changes_warning.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/summernote_modal_close.js') }}"></script>

{% endblock %}
