{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/modal.html" as modal %}

{% extends "base/base.html" %}

{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>{{user.username.upper()}} | WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block content %}

<div class="scrollpage">

  <div class="user-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {# Create navigation url bar #}

      {% set urls = ["UWC IDENT SERVICE/"] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=false,
                                        current_user=current_user) }}

      <div class="user-title">
        <h3 class="user-heading heading-line-2">{{ user.username }}</h3>
      </div>

      <hr class="campaigns-divider" aria-hidden="true">

      <p class="flavour-text" aria-label="Flavour Text">UWC-16-00 // Personnel::Correspondent Profile</p>

    </div>

    <div class="form-flash">
      {% include "components/flash.html" %} 
    </div>

    <!-- Tab 1 -->

    <div class="user-page-tabs fade-in-block-2">

    <details class="callsigns-area" aria-label="Callsigns">
      <summary class="callsign-deploy-button" id="t1-button" aria-label="Callsigns and Membership">
        <img class="icon campaign-form-icon" aria-label="Callsign Icon" alt="A stylised headset"
        src="{{ url_for('static', filename='images/icons/callsigns.svg') }}">
        <h2 class="user-page-title">Callsigns and Membership</h2>
      </summary>

      <div class="callsign-content-area" id="tab-1" aria-label="Callsigns and Membership Panel">

        <p class="flavour-text" aria-label="Flavour Text">UWC-16-01 // Personnel::Known Aliases </p>

        <ul class="user-callsigns" aria-label="Campaign Callsign List">
          {% for campaign in user.campaigns %}
            <li class="user-service-record-entry">
              <div class="callsign-card-title-area">
                <h5 class="user-campaigns-headings">{{ campaign.title }}</h5>
                <button id="remove-button-{{ loop.index }}" class="button leave-campaign-button">LEAVE</button>
              </div>

              <hr class="campaigns-divider" aria-hidden="true">

              {% for entry in user.campaign_associations %}
                {%if entry.campaign_id == campaign.id%}
                  
                  <div class="callsign-entry-area">
                    <h4 class="callsign-entry-title">Role:</h4>
                    {% if user in campaign.admins %}
                      <h6 class="callsign callsign-large">[WARCOR]</h6>
                    {% else %}
                      <h6 class="callsign callsign-large">[MEMBER]</h6>
                    {% endif %}
                  </div>

                  <div class="callsign-entry-area">
                    <h4 class="callsign-entry-title">Callsign:</h4>
                    {% if entry.callsign is not none %}
                      <h6 class="callsign callsign-large">[{{entry.callsign.upper()}}]</h6>
                    {% else %}
                      <h6 class="callsign callsign-large">[NO CALLSIGN REGISTERED]</h6>
                    {% endif %}
                  </div>
                    
                  <form class="callsign-form" aria-label="Callsign Update Form"
                  method="POST" action="{{ url_for('user.update_callsign', username=user.username, user_id=user.id, campaign_id=campaign.id) }}">
                    {{ callsign_form.csrf_token }}

                    <div class="callsign-form-container">
                      {{ callsign_form.callsign(class_="callsign-input", 
                                                placeholder="NEW CALLSIGN", 
                                                autocomplete="off",
                                                aria_label="New Callsign") }}
                      <div class="form-underline"></div>
                    </div>
                    {{ callsign_form.submit(class_="button submit-button callsign-submit") }}
                  </form>

                {%endif%}
              {% endfor %}

            </li>
          {% endfor %}
        </ul>

      </div>
    </details>

    <!-- Tab 2 -->

    <details class="settings-area" aria-label="Preferences">
      <summary class="callsign-deploy-button" id="t2-button" aria-label="Preferences">
        <img class="icon campaign-form-icon" aria-label="User Settings Icon" alt="A stylised gear"
        src="{{ url_for('static', filename='images/icons/cog.svg') }}">
        <h2 class="user-page-title">Preferences</h2>
      </summary>

      <div class="callsign-content-area" id="tab-2" aria-label="Preferences Panel">

        <p class="flavour-text" aria-label="Flavour Text">UWC-16-02 // Personnel::User Preferences </p>
        <details class="user-form-container">
          <summary id="p1-button" class="button user-settings-button">
            <div class="settings-button-inner">
              <img class="icon icon-invert callsign-form-icon user-icon-trans" aria-label="Theme Icon" alt="A circular icon alternating between black and white"
              src="{{ url_for('static', filename='images/icons/dark_mode.svg') }}">
              INTERFACE THEME
            </div>
          </summary>
          <p class="flavour-text user-form-flavour flavour-dropdown" aria-label="Flavour Text">//Imaging::Wavelength </p>

          <div id="pref-1" class="" aria-label="UI Theme Panel">
            <form class="preferences-form" aria-label="UI Theme Selection">

              <div class="pref-item">
                <input id="theme-1" value="light" type="radio" aria-labelledby="theme-gms"
                name="theme" class="theme-radio" onclick="themeToggle()">
                <label id="theme-gms" class="theme-label">
                  GMS Visible Spectrum Optics
                </label>
              </div>

              <div class="pref-item">
                <input id="theme-2" value="dark" type="radio" aria-labelledby="theme-ssc" 
                name="theme" class="theme-radio" onclick="themeToggle()">
                <label id="theme-ssc" class="theme-label">
                  SSC Thermal Imaging Systems
                </label>
              </div>

              <div class="pref-item">
                <input id="theme-3" value="ironbow" type="radio" aria-labelledby="theme-ha"
                name="theme" class="theme-radio" onclick="themeToggle()">
                <label id="theme-ha" class="theme-label">
                  HA Ironbow Smart-Targeting
                </label>
              </div>

              <div class="pref-item">
                <input id="theme-4" value="green" type="radio" aria-labelledby="theme-ipsn"
                name="theme" class="theme-radio" onclick="themeToggle()">
                <label id="theme-ipsn" class="theme-label">
                  IPS-N ENV Fusion Display
                </label>
              </div>

              <div class="pref-item">
                <input id="theme-5" value="horus" type="radio" aria-labelledby="theme-horus"
                name="theme" class="theme-radio" onclick="themeToggle()">
                <label id="theme-horus" class="theme-label">
                  HORUS Burning Gaze of the Udjat
                </label>
              </div>

            </form>
          </div>
        </details>
      </div>
    </details>

   <!-- Tab 3 -->

    <details class="settings-area" aria-label="Account Management">
      <summary class="button callsign-deploy-button" id="t3-button" aria-label="Account Management">
        <img class="icon campaign-form-icon" aria-label="Account Management Icon" alt="A stylised spanner"
        src="{{ url_for('static', filename='images/icons/settings.svg') }}">
        <h2 class="user-page-title">Account Management</h2>
      </summary>

      <div class="callsign-content-area" id="tab-3" aria-label="Account Management Panel">

        <p class="flavour-text" aria-label="Flavour Text">UWC-16-02 // Personnel::Details </p>

        <div class="user-buttons">

          <details class="user-form-container" aria-label="Change Username">
            <summary id="f1-button" class="button user-settings-button" aria-label="Change Username">
              <div class="settings-button-inner">
                <img class="icon icon-invert callsign-form-icon user-icon-trans" aria-label="Change Username Icon"
                alt="A stylised figure beside a gear" src="{{ url_for('static', filename='images/icons/admin.svg') }}">
                CHANGE USERNAME
              </div>
            </summary>
            <p class="flavour-text user-form-flavour flavour-dropdown" aria-label="Flavour Text">//Ident::Reconfigure </p>

            <form id="form-1" class="change-password-form" aria-label="Change Username Form"
            method="POST" action="{{ url_for('user.change_username', username=user.username) }}">
              {{ username_form.csrf_token }}
              <div class="form-input-container user-form-container">
                {{ username_form.username(id="user-form-username",
                                          class_="form-input new-username-input form-field", 
                                          placeholder=" ", 
                                          autocomplete='off') }}
                <label for="user-form-username" class="form-label user-form-label">New Username</label>
                <div class="form-underline"></div>
              </div>
              {{ username_form.submit(class_="button submit-button callsign-submit") }}
            </form>

          </details>
          

          <details class="user-form-container" aria-label="Change Password">
            <summary id="f2-button" class="button user-settings-button" aria-label="Change Password">
              <div class="settings-button-inner">
                <img class="icon icon-invert callsign-form-icon user-icon-trans" aria-label="Change Password Icon"
                alt="A stylised padlock and key" src="{{ url_for('static', filename='images/icons/lock_key.sv') }}g">
                CHANGE PASSWORD
              </div>
            </summary>
            <p class="flavour-text user-form-flavour flavour-dropdown" aria-label="Flavour Text">//Authentication::Update </p>

            <form id="form-2" class="change-password-form" aria-label="Change Password Form"
            method="POST" action="{{ url_for('user.change_password', username=user.username) }}">
              {{ password_form.csrf_token }}
  
              <div class="form-input-container user-form-container">
                {{ password_form.old_password(id="user-form-old-password",
                                              class_="form-input new-username-input form-field", 
                                              placeholder=" ",
                                              aria_label="Old Password") }}
                <label for="user-form-old-password" class="form-label user-form-label">Old Password</label>
                <div class="form-underline"></div>
              </div>
              <div class="form-input-container user-form-container">
                {{ password_form.new_password(id="user-form-new-password",
                                              class_="form-input new-username-input form-field", 
                                              placeholder=" ",
                                              aria_label="New Password") }}
                <label for="user-form-new-password" class="form-label user-form-label">New Password</label>
                <div class="form-underline"></div>
              </div>
              <div class="form-input-container user-form-container">
                {{ password_form.confirm_password(id="user-form-confirm-password",
                                                  class_="form-input new-username-input form-field", 
                                                  placeholder="",
                                                  aria_label="Confirm Password") }}
                <label for="user-form-confirm-password" class="form-label user-form-label">Confirm Password</label>
                <div class="form-underline"></div>
              </div>
              {{ password_form.submit(class_="button submit-button callsign-submit") }}
  
            </form>

          </details>

            <div class="user-form-container">
            <a class="button delete-button user-settings-button" href="{{ url_for('user.delete_user', username=user.username) }}">
              <div class="settings-button-inner">
                <img class="icon icon-invert callsign-form-icon user-icon-trans" aria-label="Delete Account Icon"
                alt="A stylised bin" src="{{ url_for('static', filename='images/icons/bin.svg') }}">
                <h4 class="delete-button-text">DELETE ACCOUNT</h4>
              </div>
            </a>
          </div>


        </div>

      </div>

    </details>

  </div>

    <div class="flavour-text-area fade-in-block-3">
      <p class="flavour-text flavour-text-centre" aria-label="Flavour Text"> All UWC personnel are reminded that registering an obscene, crude or otherwise immature callsign is a galactic crime, and carries a maximum community sentence of 0.0000864GS.</p>
      <img src="{{ url_for('static', filename='images/logo-red.png') }}" class="top-logo logo-theme"
      aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol irising open like a camera lens.">
    </div>

  </div>

</div>

{# Modals #}
{% for campaign in user.campaigns %}
  {{ modal.modal(type="remove",
                 title="Leave",
                 aria_label="Leave Campaign Confirmation Modal",
                 body_text=campaign.title,
                 button_text="Leave",
                 model_id=campaign.id,
                 loop_index=loop.index,
                 form=remove_form,
                 form_action=url_for("membership.leave_campaign",
                                     campaign_name=campaign.url_title,
                                     campaign_id=campaign.id),
                                     form_target=current_user) }}
{% endfor %}

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/pages/user/user_page.js') }}" type="module"></script> 

{% endblock %}
