.note-editor {
    clip-path: none;
    max-width: 100%;
}

.note-editor.note-frame {
    border: none;
}

.note-toolbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.note-btn {
    border: 1px solid var(--text_header_contrast);
    background-color: transparent;
    color: white;
}

.note-btn:hover {
    background-color: var(--elem_bright);
    color: var(--bright_red);
}