.note-editor {
    clip-path: none;
    max-width: 100%;
}

.note-editor.note-frame {
    border: none;
    width: 100%;
}

.note-toolbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
