{% block head %}
  {% include 'base/header.html' %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block body %}

  <noscript class="noscript">
    <strong>This site requires JavaScript to function correctly. 
      Please enable JavaScript in your browser settings.</p></strong>
      <img src="/static/images/logo-red.png" class="top-logo">
  </noscript>

  <div class="layout">

    <div class="border border-left"></div>

      {% block page_style %}
      <div class="page">
      {% endblock %}  
      
        {% include 'base/navbar.html' %}

        {% if not consent %}
          {% include 'components/gdpr_consent_form.html' %}
        {% endif %}

        {% block content %}
        {% endblock %}

      </div>
     
    <div class="border border-right"></div> 
  
  </div>

{% endblock %}
