<footer class="footer" aria-label="Footer">
  <div class="footer-links">
    <a href="{{ url_for('home.about') }}">About</a>
    <a href="https://github.com/Ozzletroll/WAR-COR">Github</a>
    <a href="{{ url_for('home.contact') }}">Contact</a>
  </div>
  <div class="footer-text">
    <p class="f-text slogan">Live from the frontlines</p>
    <p class="f-text f-text-lower slogan">in the fight for a better future</p>
    <p class="f-text copyright" aria-label="Copyright">© WAR/COR {{ year }}</p>
  </div>
</footer>
