<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="/static/css/styles.css" as="style">
  <link rel="stylesheet" href="/static/css/normalise.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <noscript>
    <link rel="stylesheet" href="/static/css/noscript.css">
  </noscript>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
  <script src="/static/js/theme.js"></script>
  {% block extra_header %}
  {% endblock %}
</head>
