<header id="navbar" class="navbar" aria-label="Navbar">

  <div class="logo-area">
    <div class="logo">
      <img src="/static/images/logo.png" class="top-logo" alt="The WAR/COR logo, a triangular white logo that irises open like a camera lens.">
    </div>
    <div class="title-area">
      <a href="{{ url_for('home.home') }}" class="logo-title">WAR/COR</a>
      <div class="version-number" title="Version Number">
        1.0.0
      </div>
    </div>
  </div>

  <nav class="navbar-right" aria-label="Navigation Menu">

    <ul class="navbar-links" aria-label="Navbar Buttons">
      {% if current_user.is_authenticated %}
        {% if request.path != "/campaigns" %}
        <li class="link-toggle" aria-label="View Campaigns Page">
          <a class="navbar-link-item" href="{{ url_for('campaign.campaigns') }}">
            <img class="icon campaign-form-icon" src="{{ url_for('static', filename='/images/icons/list.svg') }} ">
            Campaigns
          </a>
        </li>
        {% endif %}
        {% if request.path != url_for('user.user_page', username=current_user.username) %}
        <li class="link-toggle" aria-label="View user {{current_user.username}}'s userpage">
          <a class="navbar-link-item" href="{{ url_for('user.user_page', username=current_user.username) }}">
            <img class="icon campaign-form-icon" src="{{ url_for('static', filename='/images/icons/user_white.svg') }} ">
            {{ current_user.username }}
          </a>
        </li>
        {% endif %}
        <li aria-label="Deploy Messages Tab">
          <button id="messages-button" 
          class="navbar-link-item messages-button"  
          aria-label="Open Messages Tab">
            <img class="icon campaign-form-icon" 
            src="{{ url_for('static', filename='/images/icons/message.svg') }}"
            aria-label="Messages Icon">
            {{ current_user.messages|length }}
          </button>
        </li>
      {% elif request.path == "/" %}
        <li class="link-toggle" aria-label="View App Overview">
          <a class="navbar-link-item" href="#main-features">>SITREP</a>
        </li>
        <li class="link-toggle" aria-label="View Contact Page">
          <a class="navbar-link-item" href="{{ url_for('home.contact') }}">>COMMS</a>
        </li>
      {% endif %}
    </ul>

    <div class="navbar-buttons">
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('user.login') }}">
        <button type="button" class="navbutton log-in-button" tabindex="-1">LOG IN</button>
      </a>
      <a href="{{ url_for('user.register') }}">
        <button type="button" class="navbutton register-button" tabindex="-1">REGISTER</button>
      </a>
    {% else %}
      <a href="{{ url_for('user.logout') }}">
        <button type="button" class="navbutton log-out-button" tabindex="-1">LOG OUT</button>
      </a>
    {% endif %}
    </div>

    <button id="hamburger-button" class="hamburger-button" aria-label="Hamburger Menu">
      <svg aria-label="A Hamburger Menu Icon" class="icon icon-hamburger" width="40px" height="40px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="icon-colour-var" transform="translate(42.666667, 106.666667)">
                <path d="M3.55271368e-14,4.26325641e-14 L426.666667,4.26325641e-14 L426.666667,42.6666667 L3.55271368e-14,42.6666667 L3.55271368e-14,4.26325641e-14 Z M3.55271368e-14,128 L426.666667,128 L426.666667,170.666667 L3.55271368e-14,170.666667 L3.55271368e-14,128 Z M3.55271368e-14,256 L426.666667,256 L426.666667,298.666667 L3.55271368e-14,298.666667 L3.55271368e-14,256 Z" id="Combined-Shape"></path>
            </g>
        </g>
      </svg>
    </button>

  </nav>
</header>

<nav id="hamburger-menu" class="hamburger-menu" aria-label="Hamburger Menu">
  {% if current_user.is_authenticated %}
    {% if request.path != "/campaigns" %}
      <a class="h-menu-item" href="{{ url_for('campaign.campaigns') }}" aria-label="Campaigns Page">CAMPAIGNS</a>
    {% endif %}
    {% if request.path != url_for('user.user_page', username=current_user.username) %}
      <a class="h-menu-item" href="{{ url_for('user.user_page', username=current_user.username) }}" aria-label="{{current_user.username}}'s Userpage">USER/{{ current_user.username}}</a>
    {% endif %}
    <a class="h-menu-item" href="{{ url_for('user.logout') }}" aria-label="Logout">LOGOUT</a>
  {% else %}
    <a class="h-menu-item" href="{{ url_for('user.login') }}" aria-label="Login">LOGIN</a>
    <a class="h-menu-item" href="{{ url_for('user.register') }}" aria-label="Register">REGISTER</a>
    {% if request.path == url_for("home.home") %}
      <a class="h-menu-item" href="#main-features" aria-label="App Overview">SITREP</a>
      <a class="h-menu-item" href="{{ url_for('home.contact') }}" aria-label="Contact Page">COMMS</a>
    {% endif %}
  {% endif %}
</nav>


{% if current_user.is_authenticated %}
  {% include "components/message_tab.html" %}
{% endif %}


<!-- Javascript -->
<script src="{{ url_for('static', filename='/js/navbar.js') }} "></script> 
{% if current_user.is_authenticated %}
  
{% endif %}
