<header id="navbar" class="navbar" title="Navbar">

  <div class="logo-area">
    <div class="logo">
      <img src="/static/images/logo.png" class="top-logo" alt="The WAR/COR logo, a triangular white logo that irises open like a camera lens.">
    </div>
    <div class="title-area">
      <a href="{{ url_for('home.home') }}" class="logo-title">WAR/COR</a>
      <div class="version-number" title="Version Number">
        1.0.0
      </div>
    </div>
  </div>

  <nav class="navbar-right" title="Navigation Menu">

    <ul class="navbar-links" title="Navigation Links">
      {% if current_user.is_authenticated %}
        {% if request.path != "/campaigns" %}
        <li class="link-toggle" title="Sitrep">
          <a class="navbar-link-item" href="{{ url_for('campaign.campaigns') }}">
            <img class="icon campaign-form-icon" src="{{ url_for('static', filename='/images/icons/list.svg') }} ">
            Campaigns
          </a>
        </li>
        {% endif %}
        {% if request.path != url_for('user.user_page', username=current_user.username) %}
        <li class="link-toggle">
          <a class="navbar-link-item" href="{{ url_for('user.user_page', username=current_user.username) }}">
            <img class="icon campaign-form-icon" src="{{ url_for('static', filename='/images/icons/user_white.svg') }} ">
            {{ current_user.username }}
          </a>
        </li>
        {% endif %}
        <li class="">
          <button class="navbar-link-item messages-button" id="messages-button">
            <img class="icon campaign-form-icon" src="{{ url_for('static', filename='/images/icons/message.svg') }}">
            {{ current_user.messages|length }}
          </button>
        </li>
      {% elif request.path == "/" %}
        <li class="link-toggle">
          <a class="navbar-link-item" href="#main-features">>SITREP</a>
        </li>
        <li class="link-toggle">
          <a class="navbar-link-item" href="{{ url_for('home.contact') }}">>COMMS</a>
        </li>
      {% endif %}
    </ul>

    <div class="navbar-buttons">
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('user.login') }}"><button type="button" class="navbutton log-in-button">LOG IN</button></a>
      <a href="{{ url_for('user.register') }}"><button type="button" class="navbutton register-button">REGISTER</button></a>
    {% else %}
      <a href="{{ url_for('user.logout') }}"><button type="button" class="navbutton log-out-button">LOG OUT</button></a>
    {% endif %}
    </div>

    <button id="hamburger-button" class="hamburger-button">
      <svg class="icon icon-hamburger" width="40px" height="40px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="icon-colour-var" transform="translate(42.666667, 106.666667)">
                <path d="M3.55271368e-14,4.26325641e-14 L426.666667,4.26325641e-14 L426.666667,42.6666667 L3.55271368e-14,42.6666667 L3.55271368e-14,4.26325641e-14 Z M3.55271368e-14,128 L426.666667,128 L426.666667,170.666667 L3.55271368e-14,170.666667 L3.55271368e-14,128 Z M3.55271368e-14,256 L426.666667,256 L426.666667,298.666667 L3.55271368e-14,298.666667 L3.55271368e-14,256 Z" id="Combined-Shape"></path>
            </g>
        </g>
      </svg>
    </button>

  </nav>
</header>

<div id="hamburger-menu" class="hamburger-menu">
  {% if current_user.is_authenticated %}
    {% if request.path != "/campaigns" %}
      <a class="h-menu-item" href="{{ url_for('campaign.campaigns') }}">CAMPAIGNS</a>
    {% endif %}
    {% if request.path != url_for('user.user_page', username=current_user.username) %}
      <a class="h-menu-item" href="{{ url_for('user.user_page', username=current_user.username) }}">USER/{{ current_user.username}}</a>
    {% endif %}
    <a class="h-menu-item" href="{{ url_for('user.logout') }}">LOGOUT</a>
  {% else %}
    <a class="h-menu-item" href="{{ url_for('user.login') }}">LOGIN</a>
    <a class="h-menu-item" href="{{ url_for('user.register') }}">REGISTER</a>
    {% if request.path == url_for("home.home") %}
      <a class="h-menu-item" href="#main-features">SITREP</a>
      <a class="h-menu-item" href="{{ url_for('home.contact') }}">COMMS</a>
    {% endif %}
  {% endif %}
</div>


{% if current_user.is_authenticated %}
  {% include "components/message_tab.html" %}
{% endif %}


<!-- Javascript -->
<script src="{{ url_for('static', filename='/js/navbar.js') }} "></script> 
{% if current_user.is_authenticated %}
  
{% endif %}
