<header id="navbar" class="navbar" aria-label="Navbar">

  <div class="logo-area">
    <div class="logo">
      <img src="/static/images/logo.png" class="top-logo" alt="The WAR/COR logo, a triangular white logo that irises open like a camera lens.">
    </div>
    <div class="title-area">
      <a href="{{ url_for('home.home') }}" class="logo-title">WAR/COR</a>
      <div class="version-number" title="Version Number">
        1.0.0
      </div>
    </div>
  </div>

  <nav class="navbar-right" aria-label="Navigation Menu">

    <ul class="navbar-links" aria-label="Navbar Buttons">
      {% if current_user.is_authenticated %}
        {% if request.path != "/campaigns" %}
        <li class="link-toggle" aria-label="View Campaigns Page">
          <a class="navbar-link-item" href="{{ url_for('campaign.campaigns') }}">
            <img class="icon campaign-form-icon" aria-hidden="true" src="{{ url_for('static', filename='/images/icons/list.svg') }} ">
            Campaigns
          </a>
        </li>
        {% endif %}
        {% if request.path != url_for('user.user_page', username=current_user.username) %}
        <li class="link-toggle" aria-label="View user {{current_user.username}}'s userpage">
          <a class="navbar-link-item" href="{{ url_for('user.user_page', username=current_user.username) }}">
            <img class="icon campaign-form-icon" aria-hidden="true" src="{{ url_for('static', filename='/images/icons/user_white.svg') }} ">
            {{ current_user.username }}
          </a>
        </li>
        {% endif %}
        <li aria-label="Open Messages Tab: {{current_user.messages | length}} New Messages">
          <button id="messages-button" 
          class="navbar-link-item messages-button"  
          aria-label="Open Messages Tab">
            <img class="icon campaign-form-icon" 
            src="{{ url_for('static', filename='/images/icons/message.svg') }}"
            aria-label="Messages Icon">
            {{ current_user.messages | length }}
          </button>
        </li>
      {% elif request.path == "/" %}
        <li class="link-toggle" aria-label="View App Overview">
          <a class="navbar-link-item" href="#main-features">>SITREP</a>
        </li>
        <li class="link-toggle" aria-label="View Contact Page">
          <a class="navbar-link-item" href="{{ url_for('home.contact') }}">>COMMS</a>
        </li>
      {% endif %}
    </ul>

    <div class="navbar-buttons">
    {% if not current_user.is_authenticated %}
      {% if "/login" not in request.path %}
        <a class="navbutton log-in-button" href="{{ url_for('user.login') }}">LOG IN</a>
      {% endif %}
      {% if "/register" not in request.path %}
        <a class="navbutton register-button" href="{{ url_for('user.register') }}">REGISTER</a>
      {% endif %}
    {% else %}
      <a class="navbutton log-out-button" href="{{ url_for('user.logout') }}">LOG OUT</a>
    {% endif %}
    </div>

    <button id="hamburger-button" class="hamburger-button" aria-label="Open Hamburger Menu">
      <svg aria-label="A Hamburger Menu Icon" class="icon icon-hamburger" width="40px" height="40px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="icon-colour-var" transform="translate(42.666667, 106.666667)">
                <path d="M3.55271368e-14,4.26325641e-14 L426.666667,4.26325641e-14 L426.666667,42.6666667 L3.55271368e-14,42.6666667 L3.55271368e-14,4.26325641e-14 Z M3.55271368e-14,128 L426.666667,128 L426.666667,170.666667 L3.55271368e-14,170.666667 L3.55271368e-14,128 Z M3.55271368e-14,256 L426.666667,256 L426.666667,298.666667 L3.55271368e-14,298.666667 L3.55271368e-14,256 Z" id="Combined-Shape"></path>
            </g>
        </g>
      </svg>
    </button>
  </nav>

</header>

<nav id="hamburger-menu" class="hamburger-menu" aria-label="Hamburger Menu" aria-hidden="true">
  <ul class="hamburger-menu-list">
    {% if current_user.is_authenticated %}
      {% if request.path != "/campaigns" %}
        <li class="h-menu-li">
          <a class="h-menu-item" href="{{ url_for('campaign.campaigns') }}" 
          aria-label="Campaigns Page" tabindex="-1">
          CAMPAIGNS
          </a>
        </li>
      {% endif %}
      {% if request.path != url_for('user.user_page', username=current_user.username) %}
        <li class="h-menu-li">
          <a class="h-menu-item" href="{{ url_for('user.user_page', username=current_user.username) }}" 
          aria-label="{{current_user.username}}'s Userpage" tabindex="-1">
          USER/{{ current_user.username}}
          </a>
        </li>
      {% endif %}
      <li class="h-menu-li">
        <a class="h-menu-item" href="{{ url_for('user.logout') }}" 
        aria-label="Logout" tabindex="-1">
        LOGOUT
        </a>
      </li>
    {% else %}
      {% if "/login" not in request.path %}
        <li class="h-menu-li">
          <a class="h-menu-item" href="{{ url_for('user.login') }}" aria-label="Login" tabindex="-1">
          LOGIN
          </a>  
        </li>
      {% endif %}
      {% if "/register" not in request.path %}
        <li class="h-menu-li">
          <a class="h-menu-item" href="{{ url_for('user.register') }}" 
          aria-label="Register" tabindex="-1">
          REGISTER
          </a>
        </li>
      {% endif %}
      {% if request.path == url_for("home.home") %}
        <li class="h-menu-li">
          <a class="h-menu-item" href="#main-features" aria-label="App Overview" tabindex="-1">
            SITREP
          </a>
        </li>
        <li class="h-menu-li">
          <a class="h-menu-item" href="{{ url_for('home.contact') }}" 
          aria-label="Contact Page" tabindex="-1">
          COMMS
          </a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>

{% if current_user.is_authenticated %}
  {% include "components/messages/message_tab.html" %}
{% endif %}

<script src="{{ url_for('static', filename='/js/navbar.js') }} "></script> 
