{% extends "base/base.html" %}

{% block head %}
  {% include 'base/header.html' %}
  {% block title %}
    <title>PASSWORD RECOVERY | WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage-content">

        <h1 class="form-heading form-heading-break">RESET</h1>
        <div class="form-flash">
          {% include 'components/flash.html' %}
        </div>
        <div class="flavour-text-area login-flavour-text">
          <p class="flavour-text flavour-text-centre">UWC-8-31 // Access::Recovery</p>
        </div>

        <div class="form-area">

          <form class="form login-form" method="POST">
              {{ form.csrf_token }}
              <div class="form-header">
                <h4 class="auth-form-header">/ACCOUNT RECOVERY</h3>
              </div>
                
              <div class="form-layout">

                <div class="auth-form-upper upper-recovery">
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" src="/static/images/icons/email.svg">
                    </label>
                    {{ form.email(placeholder_='Email', class_='form-field', autocomplete='off') }}
                  </div>

                  <div class="password-recovery-text">
                    <p>Enter email address and await further instructions for setting a new one</p>
                  </div>  

                </div>
                  
                <div class="auth-form-lower">
                  <div class="form-submit">
                    <div class="form-elem elem-centre">
                      {{ form.submit(class_="button submit-button") }}
                    </div>
                  </div>
                </div>

              </div>
            </form>

    
        </div>

        <div class="flavour-text-area">
          <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-B-1. Impersonating a registered UWC War Correspondent is a galactic crime, and carries a maximum sentence of 0.7Gs. </p>
          <img src="/static/images/logo-red.png" class="top-logo">
        </div>

    </div>    

</div>  

{% endblock %}
