{# 

EPOCH COMPONENT

Placed dynamically on the timeline

Takes an a months epochs list as an argument.
Edit boolean is used to add extra elements for 
edit_timeline page.

#}

{% macro epoch(epochs, edit=false) %}

  <div class="epoch-outer">

    <div class="epoch-elems">
    {% for epoch in epochs %}
      {% if edit %}
      <a class="edit-epoch" href="">
      {% endif %}

      <div class="epoch-container">
        <h3 class="epoch-header">{{ epoch.title }}</h3>
        <div class="epoch-body">
          <h4 class="epoch-date">{{ epoch.start_date }} > {{ epoch.end_date }}</h4>
          <h6 class="epoch-description">{{ epoch.description | safe }}</h6>
        </div>
      </div>

      {% if edit %}
      </a>
      {% endif %}
    {% endfor %}

    </div>

  </div>

  <div class="epoch-start-marker">
    <div class="epoch-vert-line"></div>
    <div class="epoch-hor-line"></div>
  </div>

{%- endmacro %}


{# 

EPOCH COMPONENT

Placed dynamically on the timeline

Takes an a months epochs list as an argument

#}

{% macro epoch_end(epochs) %}

  <div class="epoch-end-marker">
    <div class="epoch-hor-line-end"></div>
    <div class="epoch-vert-line"></div>
  </div>

  <div class="epoch-outer epoch-end-outer">

    <div class="epoch-container">
      <div class="epoch-body">
        {% for epoch in epochs %}
          <h6 class="epoch-end-text epoch-description">End of {{ epoch.title }}</h6>
        {% endfor %}
      </div>
    </div>

  </div>

  

{%- endmacro %}