{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    <div class="navigation-area">
      <a href="{{url_for('campaign.campaigns')}}" class="navigation-url">
        <h5 class="navigation-heading">CAMPAIGNS</h5>
      </a>
      <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}" class="navigation-url">
        <h5 class="navigation-heading">/{{campaign.title}}/</h5>
      </a>
      
    </div>

    <div class="campaigns-title">

      <div class="event-back-button-area">
        <a href="{{ url_for('campaign.campaigns') }}" class="back-link">
          <button class="back-button">

            <svg class="icon icon-back-button" width="80px" height="80px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="icon-colour-var" id="add" transform="translate(108.603733, 144.171733)">
                      <path d="M127.978667,121.834667 L249.6,243.648 L279.872,213.333333 L188.16,121.834667 L279.872,30.3146667 L249.6,2.84217094e-14 L127.978667,121.834667 Z M1.42108547e-14,121.834667 L121.578667,243.648 L151.872,213.333333 L60.1386667,121.834667 L151.872,30.3146667 L121.578667,2.84217094e-14 L1.42108547e-14,121.834667 Z" id="arrow-double-left"></path>
                    </g>
                </g>
            </svg>
            
          </button>
        </a>
      </div>

      <h3 class="campaigns-heading">DATA BACKUP</h1>
    </div>
    <hr class="campaigns-divider">
    <p class="flavour-text">UWC-44-{{campaign.id}} // DATA::BACKUP </p>

    <div class="backup-area">

      <div class="backup-ctrl export-area">

        <a class="backup-link" href="{{ url_for('data.campaign_backup', campaign_name=campaign.title, campaign_id=campaign.id) }}">
          <button class="backup-button">
            <h3 class="backup-title">BACKUP</h3>
            <img class="icon icon-invert icon-xlarge icon-comp-r" src="/static/images/icons/egress.svg">
          </button>
        </a>

        <p class="backup-text">>Export data as JSON</p>

      </div>

      <form class="backup-ctrl import-area" method="POST" enctype="multipart/form-data">

        {{ form.csrf_token }}

        <label for="backup-restore" class="backup-link">
          <button class="backup-button">
            <h3 class="backup-title">RESTORE</h3>
            <img class="icon icon-invert icon-xlarge icon-comp-r" src="/static/images/icons/ingress.svg">
          </button>
        </label>

        {{form.submit(id_="backup-restore", class="form-hidden")}}

        <p class="backup-text">>Import data from JSON</p>
        <p class="backup-text backup-text-alert">WARNING:</p>
        <p class="backup-text backup-text-alert">This will overwrite current campaign data</p>

        {{ form.file(id_="file-upload", class_="file-upload") }}

        <div class="form-flash">
          {% include 'base/flash.html' %}
        </div>


      </form>

    </div>


  </div>

</div>

{% endblock %}