{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">
    <div class="campaigns-title">
      <h3 class="campaigns-heading">Campaigns</h1>
    </div>

    <hr class="campaigns-divider">

    <ul class="campaigns-list">

      {% for campaign in current_user.campaigns %}
        <section class="campaign-entry">

          <h2 class="campaign-entry-title">{{ campaign.title }}</h2>

          <div class="campaign-entry-container">
            <div class="campaign-overview">
              <h4 class="campaign-entry-title">Overview:</h4>
              <p>{{ campaign.description }}</p>
            </div>
            <div class="campaign-members">
              <h4 class="campaign-entry-title">Members:</h2>
              <ul class="campaign-members-list">
                {% for user in campaign.members %}
                  {% if campaign in user.permissions %}
                  <li class="members-list-admin">
                    {% else %}
                  <li class="members-list-item">
                  {% endif %}
                    {{user.username.upper()}}:
                    {% for entry in user.campaign_associations %}
                      {%if entry.campaign_id == campaign.id%}
                        {% if entry.callsign is not none %}
                          [{{entry.callsign.upper()}}]
                        {% endif %}
                      {%endif%}
                    {% endfor %}
                    {% if campaign in user.permissions %}
                    [ADMIN]
                    {% endif %}
                  </li> 
                {% endfor %} 
              </ul>
            </div> 
          </div>

          <div class="campaign-entry-buttons">
            <div class="entry-buttons-left">
              <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}"><button class="entry-button">VIEW</button></a>
              {% if campaign in current_user.permissions %}
                <a href="{{ url_for('campaign.edit_campaign', campaign_name=campaign.title, campaign_id=campaign.id)}}"><button class="entry-button">EDIT</button></a>
              {% endif %}
            </div>
            <div class="entry-buttons-right">
              {% if campaign in current_user.permissions %}
                <a href="{{ url_for('campaign.add_campaign_users', campaign_name=campaign.title, campaign_id=campaign.id)}}"><button class="entry-button">EDIT MEMBERS</button></a>
              {% endif %}
            </div>
          </div>

        </section>
      {% endfor %}

        <!-- New Campaign Button -->
        <a href="{{ url_for('campaign.create_campaign')}}" class="campaign-entry new-campaign-area">
          <span>
          <h2 class="campaign-entry-title new-campaign-heading">New Campaign</h2>
          </span>
        </a>

    </ul>

  </div>
</div>

{% endblock %}