{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}

{% include "components/searchbar.html" %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [""] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                              is_link=false,
                              current_user=current_user) }}

      <div class="campaigns-title">

        {# Blank back button area area. No url needed. #}
        {% set url = "" %}
        {{ back_button.back_button(url=url, blank=true) }}

        <h3 class="campaigns-heading">Campaigns</h3>

      </div>

      <hr class="campaigns-divider">
      <p class="flavour-text">UWC-7-01 // Personnel::Service Record </p>

    </div>

    <div class="form-flash">
      {% include 'components/flash.html' %}
    </div>

    <div class="campaigns-upper-bar fade-in-block-1">
      <div class="bar-items-left">
        <a href="{{ url_for('campaign.create_campaign')}}">
          <button class="create-campaign-button">
            <svg class="icon icon-small" width="10x" height="10px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="uncollapse" transform="translate(64.000000, 64.000000)">
                      <path class="icon-colour-var" d="M213.333333,1.42108547e-14 L213.333,170.666 L384,170.666667 L384,213.333333 L213.333,213.333 L213.333333,384 L170.666667,384 L170.666,213.333 L1.42108547e-14,213.333333 L1.42108547e-14,170.666667 L170.666,170.666 L170.666667,1.42108547e-14 L213.333333,1.42108547e-14 Z">
                      </path>
                      </g>
                  </g>
              </svg>
            NEW CAMPAIGN
          </button>
        </a>
      </div>

      {% include "components/view_toggles.html" %}
    </div>

    {# Animation fade in group 2 #}
    <div id="campaigns-list" class="campaigns-list fade-in-block-2">

      {% for campaign in campaigns %}
        {{ campaign_entry.campaign_entry(campaign=campaign, current_user=current_user) }}
      {% endfor %}

      {# New user introduction, if user.campaigns is empty #}
      {% if not campaigns %}
        {{ campaign_entry.new_user_entry(campaign=campaign, current_user=current_user) }}
      {% endif %}

    </div>

  </div>
</div>

<!-- Javascript -->
<script src="/static/js/campaigns.js"></script>
<script src="/static/js/campaigns_layout.js"></script>
<script src="/static/js/campaign_search.js"></script> 

<!-- Scroll to target element if scroll_target is set -->
{% if scroll_target %}
<script>
  window.addEventListener('load', function() {
    document.getElementById('{{ scroll_target }}').scrollIntoView();
  });
</script>

{% endif %}

{% endblock %}
