{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">
    
    <div class="campaigns-title">
      <h3 class="campaigns-heading heading-top">Campaigns</h1>
    </div>

    <hr class="campaigns-divider">
    <p class="flavour-text">UWC-7-01 // Personnel::Service Record </p>

    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

    <ul class="campaigns-list">

      {% for campaign in campaigns %}
        <section class="campaign-entry">

          <h2 class="campaign-header">{{ campaign.title }}</h2>

          <div class="campaign-body">

            <p class="flavour-text">CMP-{{current_user.id}}-{{campaign.id}} // Campaign::Dossier </p>

            <div class="campaign-entry-container">
              <div class="campaign-overview">
                <h4 class="campaign-entry-title">Overview:</h4>
                <p>{{ campaign.description }}</p>
              </div>
              <div class="campaign-members">
                <h4 class="campaign-entry-title">Members:</h2>
                <ul class="campaign-members-list">
                  {% for user in campaign.members %}
                    {% if campaign in user.permissions %}
                    <li class="members-list-admin">
                      <img class="icon icon-invert" src="/static/images/icons/admin.svg">
                      {% else %}
                    <li class="members-list-item">
                      <img class="icon icon-invert" src="/static/images/icons/user.svg">
                    {% endif %}
                    <h6 class="callsign-text">
                    {{user.username.upper()}}:
                    </h6 class="callsign-text">
                      {% for entry in user.campaign_associations %}
                        {%if entry.campaign_id == campaign.id%}
                          {% if entry.callsign is not none %}
                            <h6 class="callsign-text callsign-break">
                              [{{entry.callsign.upper()}}]
                            </h6>
                          {% endif %}
                        {%endif%}
                      {% endfor %}
                      {% if campaign in user.permissions %}
                      <h6 class="callsign-text admin-tag">[WARCOR]</h6>
                      {% endif %}
                    </li> 
                  {% endfor %} 
                </ul>
              </div> 
            </div>
          

            <div class="campaign-overview last-edited-area">
              <h4 class="campaign-entry-title">Last Updated:</h4>
              <p class="last-updated-text">{{ campaign.last_edited }}</p>
            </div>

            <div class="campaign-entry-buttons">
              
              <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}"><button class="entry-button">VIEW</button></a>
              {% if campaign in current_user.permissions %}
              
                <div class = "dropdown-area">
                  <button id="button-{{campaign.id}}" class="entry-button edit-button">EDIT</button>
                  <div id="dropdown-{{campaign.id}}" class="entry-buttons-deploy">
                    <a href="{{ url_for('campaign.edit_campaign', campaign_name=campaign.title, campaign_id=campaign.id)}}">
                      <button class="deploy-button">
                        <img class="icon icon-small icon-invert" src="/static/images/icons/edit.svg"> 
                        Title/Overview
                      </button>
                    </a>
                    <a href="{{ url_for('campaign.edit_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}">
                      <button class="deploy-button">
                        <img class="icon icon-small icon-invert" src="/static/images/icons/docs.svg"> 
                        Event Data
                      </button>
                    </a>
                    <a href="{{ url_for('campaign.edit_campaign_users', campaign_name=campaign.title, campaign_id=campaign.id)}}">
                      <button class="deploy-button">
                        <img class="icon icon-small icon-invert" src="/static/images/icons/user_management_dark.svg"> 
                        Members
                      </button>
                    </a>
                    <a href="">
                      <button class="deploy-button">
                        <img class="icon icon-small icon-invert" src="/static/images/icons/database.svg"> 
                        Data Backup
                      </button>
                    </a>
                    <a href="{{ url_for('campaign.delete_campaign', campaign_name=campaign.title, campaign_id=campaign.id) }}">
                      <button class="deploy-button">
                        <img class="icon icon-small icon-invert" src="/static/images/icons/bin.svg"> 
                        Delete
                      </button>
                    </a>
                  </div>   
                </div>

              {% endif %}

              
            </div>
          </div>

        </section>
      {% endfor %}

      <!-- New Campaign Button -->
      <a href="{{ url_for('campaign.create_campaign')}}" class="campaign-entry new-campaign-area">
        <span>
        <h2 class="campaign-entry-title new-campaign-heading">New Campaign</h2>
        </span>
      </a>

    </ul>

  </div>
</div>

<!-- Javascript -->
<script src="/static/js/campaigns.js"></script> 

{% endblock %}