{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

      <div class="campaigns-title">
        <h3 class="campaigns-heading edit-campaign-heading">EDIT CAMPAIGN DATA</h1>
      </div>

      <form class="edit-form" method="POST" action="{{ url_for('campaign.edit_campaign', campaign_name=campaign.title, campaign_id=campaign.id)}}">
        {{ form.csrf_token }}

        <label class="campaign-form-label form-icon">
          <img class="icon campaign-form-icon" src="/static/images/icons/edit.svg">
          <h4>Title</h4>
        </label>

        {{ form.title(class_="campaign-input") }}

        <label class="campaign-form-label form-icon">
          <img class="icon campaign-form-icon" src="/static/images/icons/edit.svg">
          <h4>Description</h4>
        </label>

        {{ form.description(class_="campaign-input large-input") }}
        
        
        <div class="campaign-submit-area">
         
          {{ form.submit(class_="campaign-input campaign-submit") }}
        </div>  
          
        
      </form>

    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

    <hr class="campaigns-divider">

  </div>

</div>

{% endblock %}