{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}

{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Create navigation url bar #}

    {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)] %}

    {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                       is_link=true, 
                                       searchbar=false,
                                       current_user=current_user,
                                       campaign=campaign) }}

    <div class="campaigns-title">

      {# Back button #}
      {% set url = url_for('campaign.campaigns') %}
      {{ back_button.back_button(url=url, blank=false) }}

      <h3 class="campaigns-heading edit-campaign-heading">EDIT CAMPAIGN DATA</h1>
    </div>

    <hr class="campaigns-divider">
    <p class="flavour-text">UWC-5-00 // Campaign::Index </p>


    <form class="edit-form form-column" method="POST" action="{{ url_for('campaign.edit_campaign', campaign_name=campaign.title, campaign_id=campaign.id)}}">
      {{ form.csrf_token }}

      <div class="form-container form-container-small">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
            <h4 class="campaign-form label-title">Campaign Title</h4>
          </div>
          <p class="flavour-text">UWC-5-01 //  Campaign::Conflict Designation</p>
        </label>

        {{ form.title(class_="campaign-input form-input", autocomplete="off") }}

      </div>

      <div class="form-container form-container-small">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container label-split">
            <div class="label-left">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Date Suffix</h4>
            </div>
            <div class="label-right">
              <h4 class="campaign-form label-title label-example">Example: 5016</h4>
              <h4 id="example-date" class="campaign-form label-title label-example">{{campaign.date_suffix}}</h4>
            </div>
          </div>
          <p class="flavour-text">UWC-5-02 //  Campaign::Calendar Suffix</p>
        </label>

        {{ form.date_suffix(id="suffix-input", class_="campaign-input form-input", autocomplete="off", maxlength=8) }}

      </div>
      
      <div class="form-container form-container-large">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
            <h4 class="campaign-form label-title">Description</h4>

            <div class="form-extra-button-area">
                
              <div id="html-preview-button" type="button" class="form-button form-preview-button">
                HTML PREVIEW
              </div>
              
            </div>

          </div>
          <p class="flavour-text">UWC-5-03 //  Campaign::Conflict Overview</p>
        </label>

        {{ form.description(id="form-contents", class_="campaign-input large-input", autocomplete="off") }}
        
        {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
        
      </div>

      {# HTML Preview Modal #}

      <div id="modal-preview" class="modal">
        <div class="modal-content modal-preview-content">
          <div class="modal-content-inner">
            <div class="modal-header">
              <h2 class="modal-header-small">HTML Preview</h2>
              <span id="close-preview" class="close">
                <img class="icon" src="/static/images/icons/cancel.svg">
              </span>
            </div>

            <div class="modal-body">

              <div id="preview-modal-body" class="modal-body modal-body-preview">
                {# Modal text goes here #}
              </div>
               
            </div>

            
          </div>
        </div>
      </div>
      
      <div class="campaign-submit-area event-submit-area">
        {{ form.submit(class_="campaign-input campaign-submit") }}
      </div>  
        
      
    </form>

    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

    <div class="flavour-text-area">
      <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="/static/images/logo-red.png" class="top-logo">
    </div>

  </div>

</div>

<script src="/static/js/campaign_form.js"></script>

{% endblock %}