{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

    <div class="campaigns-content">

        <div class="navigation-area">
          <a href="{{url_for('campaign.campaigns')}}" class="navigation-url">
            <h5 class="navigation-heading">/CAMPAIGNS</h5>
          </a>
          <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}" class="navigation-url">
            <h5 class="navigation-heading">/{{campaign.title}}/</h5>
          </a>
          
        </div>
  
        <div class="campaigns-title">
          <h3 class="campaigns-heading">{{event.title}}</h1>
        </div>
  
        <hr class="campaigns-divider">
        <p class="flavour-text timeline-margin">UWC-{{campaign.id}}-{{event.id}} // Event::Data</p>
  

        <div class="event-page-container">

            <div class="event-page-upper">

                <div class="event-page-elem event-date-area">

                    <h4 class="event-page-date">{{event.date}}</h4>
    
                </div>
    
                <div class="event-page-elem type-area">
    
                    <h4 class="event-page-type">{{event.type}}</h4>
    
                </div>
    
            </div>

            <div class="event-page-body">

                <div class="event-body-top">

                    {# Only render if it is needed #}
                    {% if event.location | length > 0 %}
                    <div class="event-page-elem event-location">
        
                        <div class="event-elem-header">
                            <h4 class="event-elem-h">Location</h4>
                        </div>
                        <div class="event-elem-body">
                            {{event.location}}
                        </div>
                        
                    </div>
                    {% endif %}
        
                    {# Only render if it is needed #}
                    {% if event.belligerents | length > 0 %}
                    <div class="event-page-elem event-belligerents">
        
                        <div class="event-elem-header">
                            <h4 class="event-elem-h">Belligerents</h4>
                        </div>
                        <div class="event-elem-body">
                            {% for group in belligerents %}
        
                                <div class="ally-group">
                                {% for ally in group %}
                                    <div class="ally-elem">
                                        {{ally}}
                                    </div>
                                {% endfor %}
                                </div>
        
                                
                                {% if not loop.last %}
                                 <div class="vs-area">vs</div>
                                {% endif %}
                                
        
                            {% endfor %}
                        </div>
                        
                    </div>
                    {% endif %}

                </div>
    
                <div class="event-page-elem event-elem-large elem-body event-page-description">
    
                    <div class="entry-left-padding"></div>

                    <div class="description-body">
                        <h4 class="event-desc-header">Compendium Entry:</h4>
                        <p class="event-desc">{{event.body}}</p>
                    </div>
                    
                    
                </div>
    
                {# Only render if it is needed #}
                {% if event.result | length > 0 %}  
                <div class="event-elem-centre">
                    <div class="event-page-elem elem-body event-page-result">
    
                        <div class="event-elem-header">
                            <h4 class="event-elem-h">RESULT</h4>
                        </div>
                        <div class="event-elem-body">
                            {{event.result}}
                        </div>
                        
                    </div>
                </div>
                {% endif %}

            </div>

            

 

        </div>




    </div>

</div>

{% endblock %}