{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

    <div class="campaigns-content">

        <div class="navigation-area">
          <a href="{{url_for('campaign.campaigns')}}" class="navigation-url">
            <h5 class="navigation-heading">/CAMPAIGNS</h5>
          </a>
          <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}" class="navigation-url">
            <h5 class="navigation-heading">/{{campaign.title}}/</h5>
          </a>
          
        </div>
  
        <div class="campaigns-title">
          <h3 class="campaigns-heading">{{event.title}}</h1>
        </div>
  
        <hr class="campaigns-divider">
        <p class="flavour-text timeline-margin">UWC-{{campaign.id}}-{{event.id}} // Event::Data</p>
  

        <div class="event-page-container">

            <div class="event-page-elem">

                <h4>Date</h4>
                {{event.date}}

            </div>

            <div class="event-page-elem">

                <h4>Type:</h4>
                {{event.type}}
                
            </div>

            <div class="event-page-elem">

                <h4>Location:</h4>
                {{event.location}}
                
            </div>

            <div class="event-page-elem">

                <h4>Belligerents:</h4>
                {{event.belligerents}}
                
            </div>

            <div class="event-page-elem event-elem-large">

                <h4>Description:</h4>
                {{event.body}}
                
            </div>

            <div class="event-page-elem event-elem-centre">

                <h4>Result:</h4>
                {{event.result}}
                
            </div>

 

        </div>




    </div>

</div>

{% endblock %}