{% extends "base/base.html" %}

{% block content %}

<div class="sidebar-page">
  

  <div class="scrollpage">

      <div class="campaigns-content">

          <div class="navigation-area">
            {% if current_user.is_authenticated %}
            <a href="{{url_for('campaign.campaigns')}}" class="navigation-url">
              <h5 class="navigation-heading">CAMPAIGNS/</h5>
            </a>
            {% endif %}
            <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id)}}" class="navigation-url">
              <h5 class="navigation-heading">{{campaign.title}}/</h5>
            </a>
            
          </div>
    
          <div class="campaigns-title">
            
            <div class="event-back-button-area">
              <a href="{{ url_for('campaign.show_timeline', campaign_name=campaign.title, campaign_id=campaign.id, scroll_target=scroll_target)}}" class="back-link">
                <button class="back-button">

                  <svg class="icon icon-back-button" width="80px" height="80px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="icon-colour-var" id="add" transform="translate(108.603733, 144.171733)">
                            <path d="M127.978667,121.834667 L249.6,243.648 L279.872,213.333333 L188.16,121.834667 L279.872,30.3146667 L249.6,2.84217094e-14 L127.978667,121.834667 Z M1.42108547e-14,121.834667 L121.578667,243.648 L151.872,213.333333 L60.1386667,121.834667 L151.872,30.3146667 L121.578667,2.84217094e-14 L1.42108547e-14,121.834667 Z" id="arrow-double-left"></path>
                          </g>
                      </g>
                  </svg>
                  
                </button>
              </a>
            </div>

            <h3 class="campaigns-heading">{{event.title}}</h1>
          </div>
    
          <hr class="campaigns-divider">
          <p class="flavour-text timeline-margin">UWC-{{campaign.id}}-{{event.id}} // Event::Data</p>
    

          <div class="event-page-container">

              <div class="event-page-upper">

                  <div class="event-page-elem event-date-area">

                      <h4 class="event-page-date">{{event.date}}</h4>
      
                  </div>
      
                  <div class="event-page-elem type-area">
      
                      <h4 class="event-page-type">{{event.type}}</h4>
      
                  </div>
      
              </div>

              <div class="event-page-body">

                  <div class="event-body-top">

                      {# Only render if it is needed #}
                      {% if event.location | length > 0 %}
                      <div class="event-page-elem event-location">
          
                          <div class="event-elem-header">
                              <h4 class="event-elem-h">Location</h4>
                          </div>
                          <div class="event-elem-body">
                              {{event.location}}
                          </div>
                          
                      </div>
                      {% endif %}
          
                      {# Only render if it is needed #}
                      {% if event.belligerents | length > 0 %}
                      <div class="event-page-elem event-belligerents">
          
                          <div class="event-elem-header">
                              <h4 class="event-elem-h">Belligerents</h4>
                          </div>
                          <div class="event-elem-body">
                              {% for group in belligerents %}
          
                                  <div class="ally-group">
                                  {% for ally in group %}
                                      <div class="ally-elem">
                                          {{ally}}
                                      </div>
                                  {% endfor %}
                                  </div>
          
                                  
                                  {% if not loop.last %}
                                  <div class="vs-area">vs</div>
                                  {% endif %}
                                  
          
                              {% endfor %}
                          </div>
                          
                      </div>
                      {% endif %}

                  </div>
      
                  <div class="event-page-elem event-elem-large elem-body event-page-description">
      
                      <div class="entry-left-padding"></div>

                      <div class="description-body">
                          <h4 class="event-desc-header">Compendium Entry:</h4>
                          <div class="event-desc">
                            {{event.body | safe }}
                          </div>
                      </div>
                      
                  </div>
      
                  {# Only render if it is needed #}
                  {% if event.result | length > 0 %}  
                  <div class="event-elem-centre">
                      <div class="event-page-elem elem-body event-page-result">
      
                          <div class="event-elem-header">
                              <h4 class="event-elem-h">RESULT</h4>
                          </div>
                          <div class="event-elem-body">
                              {{event.result}}
                          </div>
                          
                      </div>
                  </div>
                  {% endif %}

              </div>

              <!-- User comments area -->
              <div class="comments-area">

                  <h3 class="comments-heading">::COMMS CHANNEL [OPEN]</h3>
                  <hr class="campaigns-divider">
                
                  {% if event.comments | length == 0 %}
                    <h6 class="comments-count">[NO MESSAGE DATA]</h5>
                  {% endif %}

                  <ol class="comments-list">
                  {% for comment in event.comments %}

                      <li class="event-comment">

                        <p class="comment-date">2023-08-09 14:56:24.248643</p>

                        {% if comment.author == current_user %}
                        <div class="comment-header comment-header-user">
                        {% else %}
                        <div class="comment-header">
                        {% endif %}
                          <div class="comment-header-left">
                            <img class="icon" src="/static/images/icons/user_white.svg">
                            <h5 class="comment-username">{{ comment.author.username }}</h5>
    
                            {% for entry in comment.author.campaign_associations %}
                              {%if entry.campaign_id == campaign.id%}
                                {% if entry.callsign is not none %}
                                  <h6 class="comment-callsign">
                                    [{{entry.callsign.upper()}}]
                                  </h6>
                                {% endif %}
                              {%endif%}
                            {% endfor %}
                          </div>

                          <div class="comment-header-right">
                            {% if campaign in current_user.permissions or comment.author == current_user %}
                              <button id="button-{{loop.index}}" class="button delete-comment-button">
                                <img class="icon" src="/static/images/icons/bin_white.svg">
                              </button>
                            {% endif %}
                          </div>

                        </div>

                        <div class="comment-body">
                          <p class="flavour-text">MSG-{{event.id}}-{{loop.index}} // Correspondent::{{comment.author.username}}</p>
                          {{ comment.body | safe }}
                        </div>

                      </li>


                    {# Delete comment confirm modal #}

                    <div id="modal-{{loop.index}}" class="modal">
                      <div class="modal-content modal-content-small">
                        <div class="modal-content-inner">
                          <div class="modal-header">
                            <h2 class="modal-header-small">Delete Comment</h2>
                            <span id="close-{{loop.index}}" class="close">
                              <img class="icon" src="/static/images/icons/cancel.svg">
                            </span>
                          </div>
                          <div class="modal-body modal-body-small">
                            <p class="flavour-text modal-flavour">MSG-{{event.id}}-{{loop.index}} // DELETION::CONFIRM</p>
                            <p class="modal-text modal-text-upper">Confirm comment termination:</p>
  
                            <a class="delete-comment-link" href="{{ url_for('event.delete_comment', campaign_name=campaign.title, campaign_id=campaign.id, event_name=event.title, event_id=event.id, comment_id=comment.id) }}">
                              <button class="button modal-confirm-button">
                                DELETE
                              </button>
                            </a>
  
                          </div>
                        </div>
                      </div>
                    </div>

                  {% endfor  %}
                </ol>

                <!-- New Comment Area -->
                {% if current_user.is_authenticated and current_user in campaign.members %}

                <div class="new-comment-area">
                  <div class="new-comment-area-header">
                    <h4 class="new-comment-heading">//COMMENT</h4>
                  </div>

                  <form class="form comment-form" method="post">
                    {{ form.csrf_token }}
                    {{ form.body(class_="ckeditor") }}
                    {{ form.submit(class_="button comment-submit") }}
                  </form>
                  {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
                  {{ ckeditor.config(name="body") }}
                </div>
                  

                {% endif %}

              </div>
  

          </div>




      </div>

  </div>

</div>

 <!-- Javascript -->
 <script src="/static/js/event.js"></script> 

{% endblock %}
