{% extends "base/base.html" %}

{% block content %}

  <div class="main-area">

    <section class="hero">

      <div class="hero-centered">
        <h1 class="main-title">WAR/COR</h1>
        <div class="secondary-title">
          <h2>Frontline reporting in the year 5016u</h2>
        </div>
        <a href="{{ url_for('user.register') }}"><button type="button" class="feature-button">Enlist today</button></a>
      </div>
      <a href=#main-features class="down-area">
        <img src="/static/images/down_arrow.svg" class="down-arrow">
      </a>
    </section>

    <section class="features" id="main-features">

      <div class="features-header">
        <h3>Create and share rpg campaign timelines</h3>
      </div>
      <div class="features-grid">
        <div class="feature">
          <h5>Feature Title</h5>
          <p>> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          <button id="m1-button" type="button" class="feature-button">Learn more</button>
        </div>

        <div id="Modal1" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Header Text</h2>
              <span class="close">&times;</span>
            </div>
            <div class="modal-body">
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
              <img class="modal-img" src="/static/images/pic05.jpg">
            </div>
          </div>
        </div>

        <div class="feature">
          <h5>Feature Title</h5>
          <p>> Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          <button id="m2-button" type="button" class="feature-button">Learn more</button>
        </div>

        <div id="Modal2" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Header Text</h2>
              <span class="close">&times;</span>
            </div>
            <div class="modal-body">
              <p>Body Text</p>
              <img class="modal-img" src="/static/images/pic05.jpg">
            </div>
          </div>
        </div>

        <div class="feature">
          <h5>Feature Title</h5>
          <p>> Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
          <button id="m3-button" type="button" class="feature-button">Learn more</button>
        </div>

        <div id="Modal3" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Header Text</h2>
              <span class="close">&times;</span>
            </div>
            <div class="modal-body">
              <p>Body Text</p>
              <img class="modal-img" src="/static/images/pic05.jpg">
            </div>
          </div>
        </div>

        <div class="feature">
          <h5>Feature Title</h5>
          <p>> Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
          <button id="m4-button" type="button" class="feature-button">Learn more</button>
        </div>

        <div id="Modal4" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Header Text</h2>
              <span class="close">&times;</span>
            </div>
            <div class="modal-body">
              <p>Body Text</p>
              <img class="modal-img" src="/static/images/pic05.jpg">
            </div>
          </div>
        </div>

      </div>

      <div class="features-lower">
        <img src="/static/images/pic02.jpg">
        <div class="features-text-area">
          <h5>Feature Title</h5>
          <p>> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        </div>
      </div>

      <div class="features-lower lower-2">
        <div class="features-text-area">
          <h5>Feature Title</h5>
          <p>> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        </div>
        <img src="/static/images/pic03.jpg">
      </div>

    </section>

    <section class="cta">
      <div class="bottom-cta">
        <h4>> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h4>
        <div class="button-area">
          <a href="{{ url_for('user.register') }}"><button type="button" class="feature-button">Enlist today</button></a>
        </div>
      </div>

    </section>

  </div>

  {% include "base/footer.html" %}

 <!-- Javascript -->
 <script src="/static/js/index.js"></script> 

{% endblock %}


