{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}


<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [ url_for('campaign.campaigns') ] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls,
                                         is_link=true,
                                         current_user=current_user) }}

      <div class="campaigns-title">

        {# Blank back button area area. No url needed. #}
        {% set url = url_for('campaign.campaigns') %}
        {{ back_button.back_button(url=url) }}

        <h3 class="campaigns-heading">Join Campaign</h3>

      </div>

      <hr class="campaigns-divider">
      <p class="flavour-text">UWC-6-45 // Active Conflict::Search </p>

    </div>

    <div class="form-flash">
      {% include 'components/flash.html' %}
    </div>

    <div class="campaigns-upper-bar fade-in-block-1">
      <div class="bar-items-left">
        SEARCH
      </div>

      {% include "components/view_toggles.html" %}
    </div>

    {# Animation fade in group 2 #}
    <div id="campaigns-list" class="campaigns-list fade-in-block-2">

      Results will go here


    </div>

  </div>
</div>

<!-- Javascript -->
<script src="/static/js/campaigns.js"></script>
<script src="/static/js/campaigns_layout.js"></script>
<script src="/static/js/campaign_search.js"></script> 



{% endblock %}
