{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}


<div class="scrollpage">

  <div class="campaigns-content ">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [ url_for('campaign.campaigns') ] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls,
                                         is_link=true,
                                         current_user=current_user) }}

      <div class="campaigns-title">

        {# Blank back button area area. No url needed. #}
        {% set url = url_for('campaign.campaigns') %}
        {{ back_button.back_button(url=url) }}

        <h3 class="campaigns-heading">Join Campaign</h3>

      </div>

      <hr class="campaigns-divider">
      <p class="flavour-text">UWC-6-45 // Active Conflict::Search </p>

    </div>


    <div class="campaigns-upper-bar join-campaign-upper fade-in-block-1">
      <div class="bar-items-left">

        <form class="search-form fade-in-block-2" method="POST">
          {{ form.csrf_token }}
          {{form.search(class_="form-input callsign-input search-input", placeholder="CAMPAIGN NAME", autocomplete="off")}}
          {{form.submit(class_="submit-button callsign-submit search-submit")}}
        </form>

        {% if results is not none %}
          <div class="results-counter">
            {% if results | length > 1 %}
              <h5 class="flavour-text typing-1 empty-search-header search-header-bold results-flavour">{{ results | length }} RESULTS</h5>
            {% elif results | length == 1 %}
              <h5 class="flavour-text typing-1 empty-search-header search-header-bold results-flavour">{{ results | length }} RESULT</h5>
            {% endif %}
          </div>
        {% endif %}

      </div>

      {% include "components/view_toggles.html" %}
    </div>

    {# Animation fade in group 2 #}
    <div class="search-campaigns-list fade-in-block-2">

      <div class="search-campaigns-upper">
        <div class="form-flash">
          {% include 'components/flash.html' %}
        </div>
  
        {% if results is none %}
          <div id="empty-flavour" class="empty-search-entry">
            <h5 class="flavour-text typing-1 empty-search-header search-header-bold">TERMINAL ACTIVE:</h5>
            <h5 class="flavour-text typing-2 empty-search-header">>CAMPAIGN::SEARCH</h5>
            <h5 class="flavour-text typing-3 empty-search-blink">>Please enter a search query</h5>
          </div>
        {% endif %}

        <div id="campaigns-list" class="campaign-search-results-area">

          {% if results is not none %}
            {% for campaign in results %}

              {{ campaign_entry.campaign_entry(campaign=campaign, current_user=current_user, search_result=true) }}

            {% endfor %}
          {% endif %}

        </div>

      </div>

      

    </div>

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre">All UWC Correspondents are reminded that collaboration and cooperation are the cornerstones of our organisation. UWC personnel are expected to treat each other with respect, and to adhere to the UWC Code of Conduct in all dealings.</p>
      <img src="/static/images/logo-red.png" class="top-logo">
    </div>

  </div>
</div>

<!-- Javascript -->
<script src="/static/js/campaigns_layout.js"></script>


{% endblock %}
