{% extends "base.html" %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage_content">

        <form class="form login_form" method="POST" action="/login">
            {{ form.csrf_token }}
            <div class="form_header">
              <h4>/Login</h3>
            </div>
              
            <div class="form_layout">
              <div class="form_elem">
                <label class="form_icon">
                  <img class="icon" src="/static/images/icons/user.svg">
                </label>
                {{ form.username(placeholder_='USERNAME', class_='form_field') }}
              </div>
              <div class="form_elem">
                <label class="form_icon"><img class="icon" src="/static/images/icons/lock.svg"></label>
                {{ form.password(placeholder_='PASSWORD', class_='form_field') }}
              </div>
              <div class="form_submit">
                <div class="form_elem elem_centre">
                  {{ form.submit(class_="submit_button") }}
                </div>
              </div>
            </div>
          </form>
    </div>    

</div>  

{% endblock %}
