{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/summernote_editor.html" as summernote %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">

          {# Back button #}
          {% if "/search" in request.referrer %}
            {% set url = url_for('search.advanced_search', campaign_name=campaign.title, campaign_id=campaign.id, edit=true) %}
          {% else %}
            {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.title, campaign_id=campaign.id) %}
          {% endif %}
          {{ back_button.back_button(url=url, blank=false) }}

          {% if edit %}
            <h3 class="campaigns-heading edit-campaign-heading">EDIT EVENT DATA</h3>
          {% else %}
            <h3 class="campaigns-heading edit-campaign-heading">NEW EVENT DATA</h3>
          {% endif %}

        </div>

        <hr class="campaigns-divider">
        <p class="flavour-text">UWC-6-00 // Event::Index </p>

    </div>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>
  
      <form class="edit-form form-column fade-in-block-2" method="POST">
        {{ form.csrf_token }}

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Date</h4>

              <div class="form-extra-button-area">
                
                <div id="event-date-help-button" type="button" class="form-button">
                  <img class="icon campaign-form-icon" src="/static/images/icons/help.svg">
                </div>
                
              </div>
              
            </div>
            <p class="flavour-text">UWC-6-01 //  Event::Chronometric Data</p>
          </label>
        
          {{ form.date(class_="campaign-input event-input", placeholder_="YYYY/MM/DD HH:MM:SS", autocomplete="off") }}

        </div>

        {# Date Help Modal #}

        <div id="modal-1" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Event Date</h2>
                <span id="close-1" class="close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body">
                <p>WAR/COR organises all events in chronological order. Dates should be entered in a "YEAR/MONTH/DAY HOUR:MINUTE:SECONDS" format.</p>
                <p>In order to handle a variety of non-standard galactic calendars, WAR/COR does not
                  enforce standard year/month/day lengths.</p>
                <p>The year value can be any value of 1-9 digits. A negative value may be given for the year, allowing the placement of events in a similar manner to the BC/BCE system.</p>
                <p>The month, day, hour and seconds entries can be any value from 00-99, to accomodate any local galactic calendar standards.</p>
                <p class="modal-highlight-text">Example: "5016/15/40 25:00:00" is a valid date.</p>
                <p class="modal-highlight-text">Example: "-500/03/25 12:00:00" is a valid date.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Event Title</h4>

              <div class="form-extra-button-area">
                
                <div type="button" class="form-button" onClick="user_search(target_url)">
                  <img class="icon campaign-form-icon" src="/static/images/icons/random.svg">
                </div>
                
              </div>
              
            </div>
            <p class="flavour-text">UWC-6-02 //  Event::Operation Designation</p>
          </label>

          {{ form.title(class_="campaign-input event-input", autocomplete="off", id="event-title") }}

        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Type</h4>
            </div>
            <p class="flavour-text">UWC-6-03 //  Event::Category</p>
          </label>

          {{ form.type(class_="campaign-input event-input", autocomplete="off") }}
        
        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Location</h4>
            </div>
            <p class="flavour-text">UWC-6-04 //  Event::Location</p>
          </label>

          {{ form.location(class_="campaign-input event-input", autocomplete="off") }}

        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Belligerents</h4>

              <div class="form-extra-button-area">
                
                <div id="event-belligerents-help-button" type="button" class="form-button">
                  <img class="icon campaign-form-icon" src="/static/images/icons/help.svg">
                </div>
                
              </div>
            </div>
            <p class="flavour-text">UWC-6-05 //  Event::Participants</p>
          </label>

          {{ form.belligerents(class_="campaign-input event-input", autocomplete="off") }}

        </div>

        {# Belligerents Help Modal #}

        <div id="modal-2" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Belligerents</h2>
                <span id="close-2" class="close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body">
                <p>An event's belligerents list represents active combatants and participants.</p>
                <p>Allied belligerents should be ampersand "&" separated, whilst opposing forces should be comma "," separated.</p>
                <p class="modal-highlight-text">Example: "Ally Faction 1 & Ally Faction 2, Enemy Faction"</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Timeline Display</h4>

              <div class="form-extra-button-area">
                
                <div id="event-format-help-button" type="button" class="form-button">
                  <img class="icon campaign-form-icon" src="/static/images/icons/help.svg">
                </div>
                
              </div>

            </div>
            <p class="flavour-text">UWC-6-06 //  Event::Formatting</p>
          </label>

          <div class="form-toggle-inputs">
            {{ form.header(class_="event-input input-checkbox theme-radio", id="header-input", autocomplete="off") }}
            <label class="form-toggle-label" for="header-input">Block Header</label>

            {{ form.hide_time(class_="event-input input-checkbox theme-radio", id="hide-time-input", autocomplete="off") }}
            <label class="form-toggle-label" for="hide-time-input">Hide Time</label>
          </div>
        </div>

        {# Event Formatting Help Modal #}

        <div id="modal-3" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Event Group Headers</h2>
                <span id="close-3" class="close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body">
                <p>An event with the "Block Header" tag will extend across the timeline to represent the header of a block of events.</p>
                <img class="modal-img" src="/static/images/Event Header Example.jpg">
                <p>NOTE: This will only apply visually if the event is the first within the current day.</p>
                <p>An event with the "Hide Time" tag will not render the time label on the timeline - useful to represent events
                  that take up the entire day, or do not require a specific time label.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container form-container-large">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
        
            <h4 class="campaign-form label-title">Description</h4>
            <div class="form-extra-button-area">
                
              <div id="html-preview-button" type="button" class="form-button form-preview-button">
                HTML PREVIEW
              </div>
              
            </div>
            
          </div>
          <p class="flavour-text">UWC-6-07 //  Event::Overview</p>
        </label>

        {{ form.body(id="summernote", class_="campaign-input large-input event-input", autocomplete="off") }}

        {{ summernote.summernote_editor() }}
        
        </div>

        {# HTML Preview Modal #}

        <div id="modal-preview" class="modal">
          <div class="modal-content modal-preview-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">HTML Preview</h2>
                <span id="close-preview" class="close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>

              <div class="modal-body">
                <div class="event-page-elem event-elem-large elem-body event-page-description">
      
                  <div class="entry-left-padding"></div>
  
                  <div class="description-body">
                      <h4 class="event-desc-header">Compendium Entry:</h4>
                      <div class="event-desc">
                        <div id="preview-modal-body" class="modal-body modal-body-preview">
                          {# Modal text goes here #}
                        </div>
                      </div>
                  </div>
                
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="form-container form-container-footer">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
            <h4 class="campaign-form label-title">Result</h4>
          </div>
          <p class="flavour-text">UWC-6-08 //  Event::Outcome</p>
        </label>

        {{ form.result(class_="campaign-input event-input", autocomplete="off") }}

        </div>

        <div class="campaign-submit-area event-submit-area">
          {{ form.submit(class_="button campaign-input campaign-submit", ) }}
        </div>  
  
      </form>

      {% if edit %}
        <div class="fade-in-block-2 campaign-submit-area event-submit-area">
          <button id="button-delete" class="button campaign-input campaign-submit">
            Delete Event
          </button>
        </div> 

        {# Delete event confirm modal #}

        <div id="modal-delete" class="modal">
          <div class="modal-content modal-content-small">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Delete Event</h2>
                <span id="close-delete" class="close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body modal-body-small">
                <p class="flavour-text modal-flavour">MSG-{{campaign.id}}-{{event.id}} // DELETION::CONFIRM</p>
                <p class="modal-text modal-text-upper">Confirm termination of event: "{{event.title}}"</p>

                <form method="POST" action="{{ url_for('event.delete_event', campaign_name=campaign.title, campaign_id=campaign.id, event_name=event.title, event_id=event.id) }}">
                  {{ delete_form.csrf_token }}
                  {{ delete_form.submit(class_="button modal-confirm-button", ) }}
                </form>

              </div>
            </div>
          </div>
        </div>

      {% endif %}

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="/static/images/logo-red.png" class="top-logo">
    </div>

  </div>

</div>


<script src="/static/js/event_form.js"></script>
<script src="/static/js/event_gen.js"></script> 
<script>
  const target_url = "{{ url_for('generator.random_event_title') }}"        
</script>


{% endblock %}