<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Campaign</title>
</head>
<body>

    <form method="POST" action="/create_campaign">
    <!-- The csrf token must be added for form to submit correctly-->
    <!-- See: https://flask-wtf.readthedocs.io/en/1.0.x/quickstart/   -->
    {{ form.csrf_token }}
    <div>{{ form.title.label }}: {{ form.title() }}</div>
    <div>{{ form.description.label }}: {{ form.description() }}</div>
    <div>{{ form.submit() }}</div>
    </form>

</body>
</html>
