{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

      <div class="campaigns-title">
        <h3 class="campaigns-heading edit-campaign-heading">NEW CAMPAIGN DATA</h1>
      </div>

      <hr class="campaigns-divider">
      <p class="flavour-text">UWC-5-00 // Campaign::Index </p>
  

      <form class="edit-form" method="POST" action="{{ url_for('campaign.create_campaign')}}">
        {{ form.csrf_token }}

        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon" src="/static/images/icons/edit.svg">
            <h4 class="campaign-form label-title">Campaign Title</h4>
          </div>
          <p class="flavour-text">UWC-5-01 //  Campaign::Conflict Designation</p>
        </label>

        {{ form.title(class_="campaign-input") }}

        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon" src="/static/images/icons/edit.svg">
            <h4 class="campaign-form label-title">Description</h4>
          </div>
          <p class="flavour-text">UWC-5-02 //  Campaign::Conflict Overview</p>
        </label>

        {{ form.description(class_="campaign-input large-input") }}
        
        
        <div class="campaign-submit-area">
          {{ form.submit(class_="campaign-input campaign-submit") }}
        </div>  
          
        
      </form>

    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

    <div class="flavour-text-area">
      <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="/static/images/logo-red.png" class="top-logo">
    </div>

  </div>

</div>

{% endblock %}