{% extends "base/base.html" %}

{% block content %}

<div class="sidebar-page">
  {% include "base/sidebar.html" %}

  <div class="scrollpage">

    <div class="campaigns-content">

      <div class="navigation-area">
        <a href="{{url_for('campaign.campaigns')}}" class="navigation-url">
          <h5 class="navigation-heading">/CAMPAIGNS/</h5>
        </a>
      </div>

      <div class="campaigns-title">
        <h3 class="campaigns-heading">{{campaign.title}}</h1>
      </div>

      <hr class="campaigns-divider">
      <p class="flavour-text timeline-margin">UWC-21-{{campaign.id}} // Campaign::Timeline</p>

      <section class="campaign-entry">

        <!-- Overview and members list -->
        <div class="campaign-entry-container timeline-overview">
          <div class="campaign-overview">
            <h4 class="campaign-entry-title">Overview:</h4>
            <p>{{ campaign.description }}</p>
          </div>
          <div class="campaign-members">
            <h4 class="campaign-entry-title">Members:</h2>
            <ul class="campaign-members-list">
              {% for user in campaign.members %}
                {% if campaign in user.permissions %}
                <li class="members-list-admin">
                  <img class="icon icon-invert" src="/static/images/icons/admin.svg">
                  {% else %}
                <li class="members-list-item">
                  <img class="icon icon-invert" src="/static/images/icons/user.svg">
                {% endif %}
                  <h6 class="callsign-text">
                    {{user.username.upper()}}:
                  </h6>
                  {% for entry in user.campaign_associations %}
                    {%if entry.campaign_id == campaign.id%}
                      {% if entry.callsign is not none %}
                        <h6 class="callsign-text callsign-break">
                          [{{entry.callsign.upper()}}]
                        </h6>
                      {% endif %}
                    {%endif%}
                  {% endfor %}
                  {% if campaign in user.permissions %}
                  [ADMIN]
                  {% endif %}
                </li> 
              {% endfor %} 
            </ul>
          </div> 
        </div>

        <div class="campaign-overview last-edited-area">
          <h4 class="campaign-entry-title">Last Updated:</h4>
          <p class="last-updated-text">{{ campaign.last_edited }}</p>
        </div>

      </section>

      <!-- Timeline -->
      <section class="timeline-centring">

        <div id="timeline-container" class="timeline-container">

          {% if timeline_data|length == 0 %}
            <div class="no-events">
              <h3 class="no-events-header">Conflict Data Not Found</h3>
              <hr class="no-events-hr">
              <p class="flavour-text">UWC-40-4 // Data:Not Found</p>
              <p class="flavour-text">Please contact your campaign administrator</p>
            </div>
          {% endif %}

          {% for year in timeline_data %}

          <div class="timeline-year">

            <!-- Year main axis -->
            <div class="timeline-year-container">

              <h3 class="timeline-year-header" id="year-{{year}}">
                {{ year.name + campaign.date_suffix}}
              </h3> 

              <div class="timeline-columns">

                <!-- Check if the timeline data is long enough to warrant an extra year marker -->
                {% if year.marker %}
                <div id="timeline-left-marker" class="timeline-left-marker">
                  <div class="year-marker-hr"></div>
                  <div class="year-marker-line"></div>
                  <h5 class="year-marker">{{ year.name + campaign.date_suffix}}</h5>
                  <div class="year-marker-line"></div>
                  <div class="year-marker-hr"></div>
                </div>
                {% else %}
                <div id="timeline-left-marker" class="timeline-left-marker marker-invis">
                  <div class="year-marker-hr marker-invis"></div>
                  <div class="year-marker-line marker-invis"></div>
                  <h5 class="year-marker marker-invis">{{ year.name + campaign.date_suffix}}</h5>
                  <div class="year-marker-line marker-invis"></div>
                  <div class="year-marker-hr marker-invis"></div>
                </div>
                {% endif %}

                <div class="timeline-right-marker">
                  <hr class="timeline-horizontal">
                  <hr class="timeline-line">
                  <hr class="timeline-horizontal">
                </div>


              </div>

            </div>
          


            <div class="timeline-months-container">

              <!-- Month branch of each year -->
              {% for month in year.months %}

                {% if loop.first %}
                <div class="month-outer month-outer-top">
                {% elif loop.last %}
                <div class="month-outer month-outer-bottom">
                {% else %}
                <div class="month-outer">
                {% endif %}

                {% if month.header %}
                <div class="month-connector hidden-date">
                {% else %}
                <div class="month-connector">
                {% endif %}
                  <div class="line line-first"></div>
                  <div class="connector-date connector-date-outline">
                    <div class="connector-date">
                      {{ month.name }}
                    </div>
                  </div>
                  <div class="line"></div>
                </div>

                <div class="timeline-month">

                  <!-- Day sub branches within each month -->
                  {% for day in month.days %}

                      {% if loop.length == 1 %}
                      <div class="timeline-day-container">
                        <div class="event-line event-line-solo"></div>
                      {% elif loop.first  %}
                      <div class="timeline-day-container">
                        <div class="event-line event-line-top"></div>
                      {% elif loop.last and loop.length == 2 %}
                      <div class="timeline-day-container day-container-edgecase">
                        <div class="event-line event-line-bottom"></div>
                      {% elif loop.last %}
                      <div class="timeline-day-container day-container-bottom">
                        <div class="event-line event-line-bottom"></div>
                      {% else %}
                      <div class="timeline-day-container day-container-mid">
                        <div class="event-line event-line-mid"></div>
                      {% endif %}

                      {# Check if the first event in the month is a header event, and their are no sub events #}
                      {% if day.header %}
                      <div class="right-branch-label hidden-date">
                      {% else %}
                      <div class="right-branch-label">
                      {% endif %}

                        <div class="date-label-area">
                          <div class="line line-first"></div>
                          <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                              {{day.name}}
                            </div>
                          </div>
                          <div class="line line-spacer"></div>
                        </div>
                      </div>

                      <div class="event-group-container">
                        
                        {% for event in day.events %}

                          {% if loop.length == 1 %}
                          <div class="timeline-day-container day-container-solo">
                            <div class="event-line event-line-solo"></div>
                          {% elif loop.first  %}
                          <div class="timeline-day-container">
                            <div class="event-line event-line-top"></div>
                          {% elif loop.last %}
                          <div class="timeline-day-container day-container-bottom">
                            <div class="event-line event-line-bottom"></div>
                          {% else %}
                          <div class="timeline-day-container day-container-mid">
                            <div class="event-line event-line-mid"></div>
                          {% endif %}

                            <div class="right-branch-label">
                              {# Check if the first event in the day is a header event #}
                              {% if event.header %}
                              <div class="date-label-area hidden-date">
                              {% else %}
                              <div class="date-label-area">
                              {% endif %}
                                <div class="line line-first"></div>
                                <div class="connector-date connector-date-outline">
                                  <div class="connector-date">
                                    {{event.date[-8:]}}
                                  </div>
                                </div>
                                <div class="line line-spacer"></div>
                              </div>
                            </div>

                            <div class="timeline-event event-outline">
                              <div id="event-{{event.id}}" class="timeline-event">
                                {# Check if event is a header event #}
                                {% if event.header and loop.first %}
                                <div class="event-header event-header-highlight">
                                  //{{event.title}}
                                </div>
                                {% else %}
                                <div class="event-header">
                                  //{{event.title}}
                                </div>
                                {% endif %}
                                <div id="dropdown-{{event.id}}" class="event-body">
                                  <p class="event-type">{{event.type}}</p>
                                  <p class="event-description">
                                    {{event.body[:180]}}
                                    {% if event.body|length > 180 %}
                                    ...
                                    {% endif %}
                                  </p>
                                  <div class="event-button-area">
                                    <a href=""><button class="entry-button">VIEW</button></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                      {% endfor %}
                      
                      </div>

                        


                    </div>

                  {% endfor %}

                </div>

              </div>

              {% endfor %}
            </div>

          </div>
          
          {% endfor %}

        </div>

      </section>

    </div>

  </div>

</div>

<script src="/static/js/timeline.js"></script>

{% endblock %}