{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/members_list.html" as members_list %}
{% import "components/back_button.html" as back_button %}
{% import "components/timeline/epoch.html" as epoch %}


{% extends "base/base.html" %}

{% block content %}

{% include "components/searchbar.html" %}

<div class="sidebar-page">
  {% include "components/sidebar.html" %}

  <div class="scrollpage">

    <div class="campaigns-content">

      {# Animation fade in group 1 #}
      <div class="fade-in-block-1">

        {# Create navigation url bar #}

        {% set urls = [url_for('campaign.campaigns')] %}

        {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                          is_link=true, 
                                          current_user=current_user,
                                          campaign=campaign) }}

        <div class="campaigns-title">

          {# Blank back button area area. No url needed. #}
          {% set url = "" %}
          {{ back_button.back_button(url=url, blank=true) }}

          <h3 class="campaigns-heading">{{campaign.title}}</h1>
        </div>

        <hr class="campaigns-divider">
        <p class="flavour-text timeline-margin">UWC-21-{{campaign.id}} // Campaign::Timeline</p>

      </div>

      <section class="campaign-entry timeline-upper fade-in-block-2">

        <!-- Overview and members list -->
        <div class="campaign-entry-container timeline-overview">
          <div class="campaign-overview">
            <h4 class="campaign-entry-title">Overview:</h4>
              {{ campaign.description | safe }}
          </div>

          {# Members list #}
          {{ members_list.members_list(campaign) }}

        </div>

        <div class="campaign-overview last-edited-area">
          <h4 class="campaign-entry-title">Last Updated:</h4>
          <p class="last-updated-text">{{ campaign.last_edited }}</p>
        </div>

      </section>

      <!-- Timeline -->
      <section class="timeline-centring fade-in-block-3">

        <div id="timeline-container" class="timeline-container">

          {% if timeline_data|length == 0 %}
            <div class="no-events">
              <h3 class="no-events-header">Conflict Data Not Found</h3>
              <hr class="no-events-hr">
              <p class="flavour-text">UWC-40-4 // Data:Not Found</p>
              <p class="flavour-text">Please contact your campaign administrator</p>
            </div>
          {% endif %}

          {% for year in timeline_data %}

          <div class="timeline-year">

            <!-- Year main axis -->
            <div class="timeline-year-container">

              <h3 class="timeline-year-header" id="year-{{year.name}}">
                {{ year.name + campaign.date_suffix}}
              </h3> 

              <div class="timeline-columns">

                <!-- Check if the timeline data is long enough to warrant an extra year marker -->
                {% if year.marker %}
                <div id="timeline-left-marker" class="timeline-left-marker">
                  <div class="year-marker-hr"></div>
                  <div class="year-marker-line"></div>
                  <h5 class="year-marker">{{ year.name + campaign.date_suffix}}</h5>
                  <div class="year-marker-line"></div>
                  <div class="year-marker-hr"></div>
                </div>
                {% else %}
                <div id="timeline-left-marker" class="timeline-left-marker marker-invis">
                  <div class="year-marker-hr marker-invis"></div>
                  <div class="year-marker-line marker-invis"></div>
                  <h5 class="year-marker marker-invis">{{ year.name + campaign.date_suffix}}</h5>
                  <div class="year-marker-line marker-invis"></div>
                  <div class="year-marker-hr marker-invis"></div>
                </div>
                {% endif %}

                <div class="timeline-right-marker">
                  <hr class="timeline-horizontal">
                  <hr class="timeline-line">
                  <hr class="timeline-horizontal">
                </div>


              </div>

            </div>
          


            <div class="timeline-months-container">

              <!-- Month branch of each year -->
              {% for month in year.months %}

                {# Start of epoch markers #}
                {% if month.has_epoch %}
                  {% if month.days | length != 0 %}
                    {{ epoch.epoch(month.epochs) }}
                  {% else %}
                    {{ epoch.epoch(month.epochs, contents=false) }}
                  {% endif %}
                {% endif %}

                

                  {% if loop.first %}
                  <div class="month-outer month-outer-top">
                  {% elif loop.last %}
                  <div class="month-outer month-outer-bottom">
                  {% else %}
                  <div class="month-outer">
                  {% endif %}

                {% if month.days | length != 0 %}
                
                  {% if month.header %}
                  <div class="month-connector hidden-date">
                  {% else %}
                  <div class="month-connector">
                  {% endif %}
                    <div class="line line-first"></div>
                    <div class="connector-date connector-date-outline">
                      <div class="connector-date">
                        {{ month.name }}
                      </div>
                    </div>
                    <div class="line"></div>
                  </div>

                {% endif %}
                

                <div class="timeline-month">

                  <!-- Day sub branches within each month -->
                  {% for day in month.days %}

                      {% if loop.length == 1 %}
                      <div class="timeline-day-outer">
                        <div class="event-line event-line-solo"></div>
                      {% elif loop.first  %}
                      <div class="timeline-day-outer">
                        <div class="event-line event-line-top"></div>
                      {% elif loop.last and loop.length == 2 %}
                      <div class="timeline-day-outer day-container-edgecase">
                        <div class="event-line event-line-bottom"></div>
                      {% elif loop.last %}
                      <div class="timeline-day-outer day-container-bottom">
                        <div class="event-line event-line-bottom"></div>
                      {% else %}
                      <div class="timeline-day-outer day-container-mid">
                        <div class="event-line event-line-mid"></div>
                      {% endif %}

                      {# Check if the first event in the month is a header event, and their are no sub events #}
                      {% if day.header %}
                      <div class="right-branch-label hidden-date">
                      {% else %}
                      <div class="right-branch-label">
                      {% endif %}

                        <div class="date-label-area">
                          <div class="line line-first"></div>
                          <div class="connector-date connector-date-outline">
                            <div class="connector-date">
                              {{day.name}}
                            </div>
                          </div>
                          <div class="line line-spacer"></div>
                        </div>
                      </div>

                      <div class="event-group-container">
                        
                        {% for event in day.events %}

                          {% if loop.length == 1 %}
                          <div class="timeline-day-container day-container-solo">
                            <div class="event-line event-line-solo"></div>
                          {% elif loop.first  %}
                          <div class="timeline-day-container">
                            <div class="event-line event-line-top"></div>
                          {% elif loop.last %}
                          <div class="timeline-day-container day-container-bottom">
                            <div class="event-line event-line-bottom"></div>
                          {% else %}
                          <div class="timeline-day-container day-container-mid">
                            <div class="event-line event-line-mid"></div>
                          {% endif %}

                            <div class="right-branch-label">
                              {# Check if the event is a header event #}
                              {% if event.header and loop.first %}

                              <div class="date-label-area hidden-date">
                                <div class="line line-first"></div>
                                <div class="connector-date connector-date-outline">
                                  <div class="connector-date">
                                    {{event.date[-8:]}}
                                  </div>
                                </div>
                                <div class="line line-spacer"></div>
                              </div>

                              {% elif event.header %}

                              <div class="date-label-area hidden-align">
                                <div class="line line-first"></div>
                                <div class="line line-spacer"></div>
                              </div>

                              {% else %}

                              <div class="date-label-area">
                                <div class="line line-first"></div>
                                <div class="connector-date connector-date-outline">
                                  <div class="connector-date">
                                    {{event.date[-8:]}}
                                  </div>
                                </div>
                                <div class="line line-spacer"></div>
                              </div>
                              
                              {% endif %}

                            </div>

                            <div class="event-outer-container">
                              <h4 class="event-small-date">{{event.date}}</h4>
                              {% if event.header and loop.first %}
                              <div class="timeline-event event-outline event-offset">
                              {% else %}
                              <div class="timeline-event event-outline">
                              {% endif %}
                                <div id="event-{{event.id}}" class="timeline-event">
                                  {# Check if event is a header event #}
                                  {% if event.header and loop.first %}

                                  <a href="{{ url_for('event.view_event', 
                                              campaign_name=campaign.title, 
                                              event_name=event.title, 
                                              event_id=event.id) }}">
                                    
                                    <div class="event-header event-header-highlight">
                                      //{{event.title}}
                                    </div>
                                    
                                  </a>

                                  {% else %}
                                  <a href="{{ url_for('event.view_event', 
                                              campaign_name=campaign.title, 
                                              event_name=event.title, 
                                              event_id=event.id) }}">
                                    
                                    <div class="event-header">
                                      //{{event.title}}
                                    </div>
                                    
                                  </a>


                                  {% endif %}
                                  
                                </div>
                              </div>
                            </div>
                          </div>

                      {% endfor %}
                      
                      </div>

                        


                    </div>

                  {% endfor %}

                </div>

              </div>

                {# End of epoch markers #}
                {% if month.has_epoch_end %}
                  {% if month.epoch_has_events %}
                   {{ epoch.epoch_end(month.end_epochs) }}
                  {% endif %}
                
                {% endif %}


              {% endfor %}
            </div>

          </div>
          
          {% endfor %}

        </div>

      </section>

    </div>

  </div>

</div>


<div id="editPageVariable" class="hidden" editPage="false"></div>
<script src="/static/js/timeline_search.js"></script>
{% if "scroll_target" in request.args %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('{{ request.args["scroll_target"] }}').scrollIntoView();
  });
</script>
{% endif %}

{% endblock %}
