{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}

{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="user-content">

    {# Create navigation url bar #}

    {% set urls = ["/UWC IDENT SERVICE/"] %}

    {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                       is_link=false, 
                                       searchbar=false,
                                       current_user=current_user) }}

    <div class="user-title">

      {# Back Button Area #}

      {# Only render usable back button if referrer has a url #}
      {% if request.referrer %}
        {# User page back button #}
        {% set url = url_for('user.back') %}
        {{ back_button.back_button(url=url, blank=false) }}
      {% else %}
        {# Blank back button area area. No url needed. #}
        {% set url = "" %}
        {{ back_button.back_button(url=url, blank=true) }}
      {% endif %}

      <h3 class="user-heading heading-line-2">{{ user.username }}</h3>
    </div>

    <hr class="campaigns-divider">

    <p class="flavour-text">UWC-16-00 // Personnel::Correspondent Profile</p>

    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

    <!-- Tab 1 -->

    <div class="user-page-tabs">

    <div class="callsigns-area">
      <button class="callsign-deploy-button" id="t1-button">
        <img class="icon campaign-form-icon" src="/static/images/icons/callsigns.svg">
        <h2 class="campaign-entry-title">Callsigns</h2>
      </button>

      <div class="callsign-content-area" id="tab-1">

        <p class="flavour-text">UWC-16-01 // Personnel::Known Aliases </p>

        <ul class="user-callsigns">
          {% for campaign in user.campaigns %}
            <li class="user-service-record-entry">
              <h5 class="user-campaigns-headings">{{ campaign.title }}</h5>

              {% for entry in user.campaign_associations %}
                {%if entry.campaign_id == campaign.id%}
                  
                    <div class="callsign-entry-area">
                      <h4 class="callsign-entry-title">Current callsign:</h4>
                      {% if entry.callsign is not none %}
                        <h6 class="callsign callsign-large">[{{entry.callsign.upper()}}]</h6>
                      {% else %}
                        <h6 class="callsign callsign-large">[NO CALLSIGN REGISTERED]</h6>
                      {% endif %}
                    </div>
                    
                  <form class="callsign-form" method="POST" action="{{ url_for('user.update_callsign', username=user.username, user_id=user.id, campaign_id=campaign.id) }}">
                    {{ callsign_form.csrf_token }}

                    <div class="callsign-form-container">
                      {{ callsign_form.callsign(class_="callsign-input", placeholder="NEW CALLSIGN", autocomplete='off') }}
                    </div>
                    {{ callsign_form.submit(class_="submit-button callsign-submit") }}
                  </form>

                {%endif%}
              {% endfor %}

            </li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <!-- Tab 2 -->

    <div class="settings-area">
      <button class="callsign-deploy-button" id="t2-button">
        <img class="icon campaign-form-icon" src="/static/images/icons/cog.svg">
        <h2 class="campaign-entry-title">Preferences</h2>
      </button>

      <div class="callsign-content-area" id="tab-2">

        <p class="flavour-text">UWC-16-02 // Personnel::User Preferences </p>

        <div class="user-buttons">

          <div class="user-form-container">
            <button id="p1-button" class="user-settings-button">
              <img class="icon icon-invert callsign-form-icon user-icon-trans" src="/static/images/icons/dark_mode.svg">
              INTERFACE THEME
            </button>
            <p class="flavour-text user-form-flavour">//Imaging::Wavelength </p>
          </div>

          <div id="pref-1" class="change-password-form">

            <div class="user-form-container">

              <form class="preferences-form">

                <div class="pref-item">
                  <input id="theme-1" value="light" type="radio" label="AAA" name="theme" class="theme-radio" onclick="themeToggle()">
                  <label class="theme-label">
                    UWC Visible Spectrum Optics
                  </label>
                </div>

                <div class="pref-item">
                  <input id="theme-2" value="dark" type="radio" name="theme" class="theme-radio" onclick="themeToggle()">
                  <label class="theme-label">
                    GMS Thermal Imaging Systems
                  </label>
                </div>

                <div class="pref-item">
                  <input id="theme-3" value="ironbow" type="radio" name="theme" class="theme-radio" onclick="themeToggle()">
                  <label class="theme-label">
                    HA Ironbow Smart-Targeting
                  </label>
                </div>

                <div class="pref-item">
                  <input id="theme-4" value="green" type="radio" name="theme" class="theme-radio" onclick="themeToggle()">
                  <label class="theme-label">
                    IPS-N ENV Fusion Display
                  </label>
                </div>

              </form>

            </div>
          </div>

        </div>

      </div>

    </div>

   <!-- Tab 3 -->

    <div class="settings-area">
      <button class="callsign-deploy-button" id="t3-button">
        <img class="icon campaign-form-icon" src="/static/images/icons/settings.svg">
        <h2 class="campaign-entry-title">Account Management</h2>
      </button>

      <div class="callsign-content-area" id="tab-3">

        <p class="flavour-text">UWC-16-02 // Personnel::Preferences </p>

        <div class="user-buttons">

          <div class="user-form-container">
            <button id="f1-button" class="user-settings-button">
              <img class="icon icon-invert callsign-form-icon user-icon-trans" src="/static/images/icons/admin.svg">
              CHANGE USERNAME
            </button>
            <p class="flavour-text user-form-flavour">//Ident::Reconfigure </p>
          </div>
          
          <form id="form-1" class="change-password-form" method="POST" action="{{ url_for('user.change_username', username=user.username) }}">
            {{ username_form.csrf_token }}
            <div class="user-form-container">
              {{ username_form.new_username(class_="callsign-input", placeholder="NEW USERNAME", autocomplete='off') }}
              {{ username_form.submit(class_="submit-button callsign-submit") }}
            </div>
          </form>

          <div class="user-form-container">
            <button id="f2-button" class="user-settings-button">
              <img class="icon icon-invert callsign-form-icon user-icon-trans" src="/static/images/icons/lock_key.svg">
              CHANGE PASSWORD
            </button>
            <p class="flavour-text user-form-flavour">//Authentication::Update </p>
         </div>

          <form id="form-2" class="change-password-form" method="POST" action="{{ url_for('user.change_password', username=user.username) }}">
            {{ password_form.csrf_token }}

            <div class="user-form-container">
              {{ password_form.old_password(class_="callsign-input", placeholder="OLD PASSWORD") }}
            </div>
            <div class="user-form-container">
              {{ password_form.new_password(class_="callsign-input", placeholder="NEW PASSWORD") }}
            </div>
            <div class="user-form-container">
              {{ password_form.confirm_password(class_="callsign-input", placeholder="CONFIRM PASSWORD") }}
              {{ password_form.submit(class_="submit-button callsign-submit") }}
            </div>

          </form>

            <div class="user-form-container">
            <a class="delete-button" href="{{ url_for('user.delete_user', username=user.username) }}">
              <button class="user-settings-button">
                <img class="icon icon-invert callsign-form-icon user-icon-trans" src="/static/images/icons/bin.svg">
                DELETE ACCOUNT
              </button>
            </a>
            <p class="flavour-text user-form-flavour">//Contract::Terminate </p>
          </div>


        </div>

      </div>

    </div>

  </div>

    <div class="flavour-text-area">
      <p class="flavour-text flavour-text-centre"> All UWC personnel are reminded that registering an obscene, crude or otherwise immature callsign is a galactic crime, and carries a maximum community sentence of 0.0000864GS.</p>
      <img src="/static/images/logo-red.png" class="top-logo">
    </div>

  </div>

</div>

 <!-- Javascript -->
<script src="/static/js/user_page.js"></script> 

{% endblock %}