{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="user-content">
    <div class="user-title">
      <h3 class="user-heading">UWC IDENT SERVICE//</h3>
      <h3 class="user-heading heading-line-2">Designation::{{ user.username }}</h3>
    </div>

    <hr class="campaigns-divider">

    <div class="callsigns-area">
      <button class="callsign-deploy-button" id="t1-button">
        <h2 class="campaign-entry-title">Callsigns</h2>
      </button>

      <div class="callsign-content-area" id="tab-1">

        <p class="flavour-text">UWC-16-01 // Personnel::Known Aliases </p>

        <ul class="user-callsigns">
          {% for campaign in user.campaigns %}
            <li class="user-service-record-entry">
              <h5 class="user-campaigns-headings">{{ campaign.title }}</h5>

              {% for entry in user.campaign_associations %}
                {%if entry.campaign_id == campaign.id%}
                  
                    <div class="callsign-entry-area">
                      <h4 class="callsign-entry-title">Current callsign: </h4>
                      {% if entry.callsign is not none %}
                        [{{entry.callsign.upper()}}]
                      {% else %}
                        [NO CALLSIGN REGISTERED]
                      {% endif %}
                    </div>
                    
                  <form class="callsign-form" method="POST" action="{{ url_for('user.user_page', username=user.username, user_id=user.id, campaign_id=campaign.id) }}">
                    {{ form.csrf_token }}

                    <div class="callsign-form-container">
                      <img class="icon callsign-form-icon" src="/static/images/icons/edit.svg">
                      {{ form.callsign(class_="callsign-input", placeholder="NEW CALLSIGN") }}
                    </div>
                    {{ form.submit(class_="submit-button callsign-submit") }}
                  </form>

                {%endif%}

              {% endfor %}

            </li>

          {% endfor %}

        </ul>

      </div>

    </div>
     
    <div class="form-flash">
      {% include 'base/flash.html' %}
    </div>

  </div>

</div>

 <!-- Javascript -->
 <script src="/static/js/user_page.js"></script> 

{% endblock %}