
{% macro invite(message) %}

<li id="message-{{message.id}}" class="message-item" aria-label="Invite: {{ message.date }}">
  <h4 class="message-header">INVITE {{message.date}}</h4>   
  <p class=message-body aria-label="Message Text">{{message.body}}</p>
  <div class="message-button-area">

    <button id="message-accept-{{ message.id }}" class="button message-button accept-button" tabindex="-1" 
    onclick="handleMessage(event)"
    data-csrf="{{ csrf_token() }}"
    data-url="{{ url_for('membership.accept_invite') }}"
    data-campaign-id="{{ message.target_campaign.id }}"
    data-message-id="{{ message.id }}">
    ACCEPT
    </button>

    <button id="message-decline-{{ message.id }}" class="button message-button decline-button" tabindex="-1"
    onclick="handleMessage(event)"
    data-csrf="{{ csrf_token() }}"
    data-url="{{ url_for('membership.decline_invite') }}"
    data-campaign-id="{{ message.target_campaign.id }}"
    data-message-id="{{ message.id }}">
    DECLINE
    </button>

  </div>
</li>

{%- endmacro %}

{% macro notification(message) %}

  <li id="message-{{message.id}}" class="message-item" aria-label="Alert: New Event {{ message.date }}">
    <h4 class="message-header">ALERT {{message.date}}</h4>
    <p class=message-body aria-label="Message Text">{{message.body}}</p>
    <div class="message-button-area">
      {% if message.target_event is not none %}
        <button id="view-message-{{ message.id }}" class="button message-button accept-button" tabindex="-1"
        onclick="handleMessage(event)"
        data-csrf="{{ csrf_token() }}"
        data-url="{{ url_for('user.dismiss_message', view=true) }}"
        data-campaign-id="{{ message.target_campaign.id }}"
        data-message-id="{{ message.id }}">
        VIEW
        </button>
      {% endif %}

      <button id="dismiss-message-{{ message.id }}" class="button message-button decline-button" tabindex="-1"
      onclick="handleMessage(event)"
      data-csrf="{{ csrf_token() }}"
      data-url="{{ url_for('user.dismiss_message') }}"
      data-campaign-id="{{ message.target_campaign.id }}"
      data-message-id="{{ message.id }}">
      DISMISS
      </button>

    </div>
  </li>

{%- endmacro %}


{% macro request(message) %}
  <li id="message-{{message.id}}" class="message-item">
    <h4 class="message-header">REQUEST {{message.date}}</h4>   
    <div class=message-body>{{message.body}}</div>
    <div class="message-button-area">

      <button id="invite-accept-{{ message.id }}" class="button message-button accept-button" tabindex="-1"
      onclick="handleMessage(event)"
      data-csrf="{{ csrf_token() }}"
      data-url="{{ url_for('membership.confirm_request') }}"
      data-campaign-id="{{ message.target_campaign.id }}"
      data-message-id="{{ message.id }}">
      ACCEPT
      </button>

      <button id="invite-decline-{{ message.id }}" class="button message-button decline-button" tabindex="-1"
      onclick="handleMessage(event)"
      data-csrf="{{ csrf_token() }}"
      data-url="{{ url_for('membership.deny_request') }}"
      data-campaign-id="{{ message.target_campaign.id }}"
      data-message-id="{{ message.id }}">
      DECLINE
      </button>

    </div>
  </li>
{%- endmacro %}


{% macro no_messages() %}

  <div class="messages-upper no-messages-upper" aria-label="No Messages">
    <h5 id="no-messages" class="no-message-header" aria-label="No Messages">NO MESSAGES</h5>
    <div class="no-message-text-area">
      <div id="no-messages-flavour-text" class="no-messages-text" aria-label="Message flavour text">
        <h5 class="flavour-text typing-1 empty-search-header search-header-bold">Communications Online:</h5>
        <h5 class="flavour-text typing-2 empty-search-header search-header-bold">>Satellite::Lock</h5>
        <h5 class="flavour-text typing-3 empty-search-blink search-header-bold">>Awaiting Uplink</h5>
      </div>
      <div class="no-message-flavour no-message-spacer"></div>
    </div>
  </div>

{%- endmacro %}


{% macro dismiss_all(messages) %}

  <div id="messages-upper-area" class="messages-upper" aria-label="View Message Count">
    {% if messages | length > 1 %}
    <h5 class="message-tab-header" aria-label="Message Count">
      <div id="message-tab-count">{{ messages | length }}</div> <p class="forced-space">&nbsp</p>
      <div id="message-count-text">New Messages</div>
    </h5>
    {% else %}
    <h5 class="message-tab-header" aria-label="Message Count">
      <div id="message-tab-count">{{ messages | length }}</div> <p class="forced-space">&nbsp</p>
      <div id="message-count-text">New Message</div>
    </h5>
    {% endif %}
  </div>
  {% if messages | length > 1 %}
      <button id="dismiss-all" class="button message-button" tabindex="-1"
      onclick="handleMessage(event, dismissAll=true)"
      data-csrf="{{ csrf_token() }}"
      data-url="{{ url_for('user.dismiss_all') }}">
      DISMISS ALL
      </button>
    {% endif %}

{%- endmacro %}
