{# 
  
  SEARCHBAR COMPONENT
  
  Is included in the "page_upper_area" macro.
  
  #}

<div class="searchbar-border">
  <div class="searchbar-outer">
    <div class="searchbar-area">
      <label class="search-label" for="search-bar">
        <img class="icon icon-invert" src="/static/images/icons/search.svg">
      </label>
      <input id="search-bar" class="search-bar" placeholder="SEARCH">
    </div>
    <div class="hits-area">
      <div class="hits-counter">
        0 EVENTS
      </div>
    </div>
  </div>
</div>  


