{#
    Summernote editor configuration component.
    
    The "required" boolean parameter is to determine placeholder text.

#}

{% macro summernote_editor(comment=false, required=true) %}

    {% if required and not comment %}
        {% set text = "REQUIRED" %}
    {% elif not comment %}
      {% set text = "OPTIONAL" %}
    {% else %}
      {% set text = "" %}
    {% endif %}

    {% if comment %}
      {% set height = "150" %}
    {% else %}
      {% set height = "300" %}
    {% endif %}

    <script>
        $('#summernote').summernote({
        placeholder: '<p>{{ text }}</p>',
        dialogsInBody: true,
        dialogsFade: true, 
        tabsize: 2,
        height: "{{ height }}",
        styleTags: ['p', 'h1', 'h2', 'h3'],
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],,
            ['insert', ['link', 'picture']]
        ],
        popover: {
          image: [
            ['remove', ['removeMedia']]
          ]
        }
        });
        dialogsClass: 'summernote-dialog'
    </script>

{%- endmacro %}
