{% macro modal_template(loop_index, subtype, form, form_action, button_text) %}

  <p class="flavour-text modal-flavour">TMP-5-1 // DELETION::CONFIRM</p>
  {% if subtype == "load" %}
    <p class="modal-text modal-text-upper">Confirm loading of template <strong class="template-modal-text"></strong>. This will
    overwrite any existing form data.</p>
  {% elif subtype == "delete" %}
    <p class="modal-text modal-text-upper">Confirm termination of template <strong class="template-modal-text"></strong>.</p>
  {% endif %}
  <button id="template-modal-confirm-{{loop_index}}" class="button modal-confirm-button"
  data-url="{{ form_action }}">{{ button_text }}</button>

{%- endmacro %}
