{# Component Macro imports #}
{% import "components/searchbar.html" as searchbar %}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}

<nav class="ui-buttons" aria-label="UI Buttons">
  {{ searchbar.searchbar(campaign=none, current_user=current_user) }}
</nav>

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [""] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                              is_link=false,
                              current_user=current_user) }}

      <div class="campaigns-title">

        {# Blank back button area area. No url needed. #}
        {% set url = "" %}
        {{ back_button.back_button(url=url, blank=true) }}

        <h3 class="campaigns-heading">Campaigns</h3>

      </div>

      <hr class="campaigns-divider" aria-hidden="true">
      <p class="flavour-text" aria-label="Flavour Text">UWC-7-01 // Personnel::Service Record </p>

    </div>


    <div class="campaigns-upper-bar fade-in-block-2">
      <div class="bar-items-left">
        <a href="{{ url_for('campaign.create_campaign')}}" class="create-campaign-button">+ NEW CAMPAIGN</a>

        <a href="{{ url_for('membership.join_campaign')}}" class="create-campaign-button">+ JOIN CAMPAIGN</a>
      </div>

      {% include "components/view_toggles.html" %}
    </div>

    <div class="form-flash">
      {% include 'components/flash.html' %}
    </div>

    {# Animation fade in group 2 #}
    <ol id="campaigns-list" class="campaigns-list fade-in-block-2" aria-label="Campaigns List">

      {% for campaign in campaigns %}
        {{ campaign_entry.campaign_entry(campaign=campaign, current_user=current_user) }}
      {% endfor %}

      {# New user introduction, if user.campaigns is empty #}
      {% if not campaigns %}
        {{ campaign_entry.new_user_entry(campaign=campaign, current_user=current_user) }}
      {% endif %}

    </ol>

  </div>
</div>

<!-- Javascript -->
<script src="{{ url_for('static', filename='/js/campaigns.js') }}"></script>
<script src="{{ url_for('static', filename='/js/campaign_mobile_tabs.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='/js/campaigns_layout.js') }}"></script>
<script src="{{ url_for('static', filename='/js/campaign_search.js') }}"></script> 
<script src="{{ url_for('static', filename='/js/scroll_target.js') }}"></script> 
<script src="{{ url_for('static', filename='/js/user_image_styling.js') }}"></script>
<script>
  formatImageElements(".campaign-overview p");
  window.addEventListener('load', scrollToTarget('{{ url_for("session.campaign_target") }}', '{{ csrf_token() }}'));
</script>

{% endblock %}
