{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/campaign_entry.html" as campaign_entry %}

{% extends "base/base.html" %}

{% block content %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">
    
      {# Create navigation url bar #}

      {% set urls = [url_for('home.home')] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                              is_link=true,
                              current_user=current_user,
                              homepage=true) }}

      <div class="campaigns-title">

        {# Only render usable back button if referrer has a url #}
        {% if request.referrer %}
          {# User page back button #}
          {% set url = request.referrer %}
          {{ back_button.back_button(url=url, blank=false) }}
        {% else %}
          {# Blank back button area area. No url needed. #}
          {% set url = "" %}
          {{ back_button.back_button(url=url, blank=true) }}
        {% endif %}

        <h3 class="campaigns-heading">Cookie Policy</h3>

      </div>

      <hr class="campaigns-divider" aria-hidden="true">
      <p class="flavour-text" aria-label="Flavour Text">NOM-01-00 // Cookie::Policy </p>

      <section aria-label="What are cookies?">
        <h3 class="about-page-header">What are cookies?</h3>

        <p class="about-page-paragraph">
          A cookie is a small text file that a website stores on your computer or mobile device 
          when you visit the site.
        </p>
          
        <p class="about-page-paragraph">
          WAR/COR uses first party cookies, which are cookies set by the website you're visiting. 
          Only WAR/COR can use them.
          Operational cookies are cookies that WAR/COR has to include in order
          for the website to function. For this reason, they do not require your consent.
          Persistent cookies are cookies saved on your computer and that 
          are not deleted automatically, unlike a session cookie, 
          which is deleted when you quit your browser.
        </p>
      </section>

      <section aria-label="How does WAR/COR use cookies?">
        <h3 class="about-page-header">How does WAR/COR use cookies?</h3>
        
        <p class="about-page-paragraph"> 
          WAR/COR places a cookie on your browser that remembers if you have consented to the site's cookie policy.
          So long as this cookie is on your browser, you won't be prompted by the cookie policy popup on subsequent visits.
          This cookie persists for 30 days, after which you will be prompted to accept the policy once again.
        </p>
  
        <p class="about-page-paragraph">
          For any users logging in, WAR/COR also places a session cookie on your browser,
          which contains a cryptographically-signed unique session ID. 
          This operational cookie is sent with each request to the server where it is decoded.
          This session cookie serves to associate the user's requests with their own specific session data
          stored on the server, which includes authentication state, app preferences and other information.
        </p>
  
        <p class="about-page-paragraph">Finally, WAR/COR uses your browser's local storage in 
          order to save your theme and layout preferences across multiple sessions.
        </p>

      </section>
        
      
    </div>
    
  </div>

</div>

{% endblock %}