{% extends "base/base.html" %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage-content">

        <h1 class="form-heading">DELETE</h1>
        <div class="form-flash">
          {% include 'components/flash.html' %}
            <ul class = flashes>
              {% for error in form.password.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="flavour-text-area login-flavour-text">
          <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">UWC-18-01 // Contract::Termination</p>
        </div>

        <div class="form-area">

          <form class="form login-form" aria-label="Account Deletion Confirmation Form"
          method="POST" action="{{ url_for('user.delete_user', username=current_user.username, user_id=current_user.id) }}">
              {{ form.csrf_token }}
              <div class="form-header">
                <h4 class="auth-form-header">Delete</h3>
              </div>
                
              <div class="form-layout">

                <div class="auth-form-upper">
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" aria-label="Username Icon"
                      src="{{ url_for('static', filename='/images/icons/user.svg') }}">
                    </label>
                    <div class="form-input-container">
                      {{ form.username(placeholder_="USERNAME", 
                                       class_="form-input auth-form-input form-field", 
                                       autocomplete="off",
                                       aria_label="Username") }}
                      <div class="form-underline auth-form-underline"></div>
                    </div>
                  </div>
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" aria-label="Password Icon" 
                      src="{{ url_for('static', filename='/images/icons/lock.svg') }}">
                    </label>
                    <div class="form-input-container">
                      {{ form.password(placeholder_="PASSWORD", 
                                       class_="form-input auth-form-input form-field",
                                       aria_label="Password") }}
                      <div class="form-underline auth-form-underline"></div>
                    </div>
                  </div>

                  <div class="form-paragraph">
                    <p>
                      Confirm deletion of user account:<br>
                      "{{user.username}}"
                    </p>
                    <p>Any campaigns left without users as a result of this will also be deleted</p>
                    <p>This process is irreversible</p>
                  </div> 
                </div>
                
                <div class="auth-form-lower">
                  <div class="form-submit">
                    <div class="form-elem elem-centre">
                      {{ form.submit(class_="submit-button user-delete-button") }}
                    </div>
                  </div>
                </div>
                
              </div>
            </form>

          </div>

        <div class="flavour-text-area">
          <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">
            By submitting this form you confirm the immediate termination of your UWC WAR/COR contract. 
            All active correspondent authorisations will be immediately revoked. 
            The UWC thanks you for your service, and wishes you prosperity in all your future endeavours.
          </p>
          <img aria-label="WAR/COR Triangle Logo" alt="The WAR/COR logo, a triangular symbol that irises open like a camera lens."
          src="{{ url_for('static', filename='/images/logo-red.png') }}" class="top-logo logo-theme">
        </div>

    </div>    

</div>  

{% endblock %}
