{% extends "base/base.html" %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage-content">

        <h1 class="form-heading">DELETE</h1>
        <div class="form-flash">
          {% include 'components/flash.html' %}
          <ul class = flashes>
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="flavour-text-area login-flavour-text">
          <p class="flavour-text flavour-text-centre">UWC-75-01 // Record::Deletion</p>
        </div>

        <div class="form-area">

          <form class="form login-form" method="POST" action="">
              {{ form.csrf_token }}
              <div class="form-header">
                <h4 class="auth-form-header">/Delete</h3>
              </div>
                
              <div class="form-layout">

                <div class="auth-form-upper">
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" src="/static/images/icons/user.svg">
                    </label>
                    {{ form.username(placeholder_='USERNAME', class_='form-field', autocomplete='off') }}
                  </div>
                  <div class="form-elem">
                    <label class="form-icon"><img class="icon icon-invert" src="/static/images/icons/lock.svg"></label>
                    {{ form.password(placeholder_='PASSWORD', class_='form-field') }}
                  </div>
                </div>
                
                <div class="auth-form-lower">
                  <div class="form-submit">
                    <div class="form-elem elem-centre">
                      {{ form.submit(class_="submit-button user-delete-button") }}
                    </div>
                  </div>
                </div>
                
              </div>
            </form>

          </div>

        <div class="flavour-text-area">
          <p class="flavour-text flavour-text-centre">By submitting this form you confirm the immediate deletion of all UWC records pertaining to the campaign: {{campaign.title}}. All active member authorisations will be immediately revoked, and all associated event data will be purged. This process is irreversible. </p>
          <img src="/static/images/logo-red.png" class="top-logo logo-theme">
        </div>

    </div>    

</div>  

{% endblock %}
