{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/back_button.html" as back_button %}
{% import "components/adjacent_event_button.html" as adjacent_event_button %}
{% import "components/summernote_editor.html" as summernote %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
  <title>{{event.title.upper()}} | WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/summernote_comment_theme.css') }}">
  {% endblock %}
{% endblock %}


{% block content %}
<nav class="ui-buttons" aria-label="UI Buttons">
  {{ searchbar.searchbar(campaign=campaign, event=true) }}
  {% if current_user.is_authenticated and campaign in current_user.permissions %}
    {{ edit_toggle.event_edit_toggle(campaign, event) }}
  {% endif %}
</nav>

<div class="sidebar-page">
  
  <div class="scrollpage">

      <div class="campaigns-content">

        {# Animation fade in group 1 #}
        <div class="fade-in-block-1">

          {% set urls = [url_for('campaign.campaigns'), url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

          {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                            is_link=true,
                                            current_user=current_user,
                                            campaign=campaign) }}

            <div class="campaigns-title">
              
              {# Back button #}
              {% if request.referrer %}
                {% if "/search" in request.referrer and campaign.url_title in request.referrer %}
                  {% set url = url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
                {% elif "/epoch" in request.referrer and campaign.url_title in request.referrer %}
                  {% set url = request.referrer %}
                {% else %}
                  {% set url = url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
                {% endif %}
              {% else %}
                {% set url = url_for('campaign.show_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
              {% endif %}
              {{ back_button.back_button(url=url, blank=false) }}

              <div class="campaigns-heading-outer">
                <h3 class="campaigns-heading">{{event.title}}</h3>
              </div>
              
            </div>
      
            <hr class="campaigns-divider">
            <p class="flavour-text timeline-margin">UWC-{{campaign.id}}-{{event.id}} // Event::Data</p>
    
        </div>

        <div class="event-page-container fade-in-block-2">

          <div class="event-main-container">

            {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, left=true) }}

            <div class="event-centre-container">
              <div class="event-page-upper">
                {% if event.hide_time or event.header %}
                  <div class="event-page-elem event-date-area">
                      <h4 class="event-page-date">{{event.date.split(" ")[0]}}</h4>
                  </div>
                {% else %}
                  <div class="event-page-elem event-date-area">
                    <h4 class="event-page-date">{{event.date}}</h4>
                  </div>
                {% endif %}

                <div class="event-page-elem type-area">
                    <h4 class="event-page-type">{{event.type}}</h4>
                </div>
              </div>

              <div class="event-page-body">

                  <div class="event-body-top">
                      {# Only render if it is needed #}
                      {% if event.location | length > 0 %}
                      <div class="event-page-elem event-location">
          
                          <div class="event-elem-header">
                              <h4 class="event-elem-h">Location</h4>
                          </div>
                          <div class="event-elem-body">
                              {{event.location}}
                          </div>  
                      </div>
                      {% endif %}
          
                      {# Only render if it is needed #}
                      {% if belligerents %}
                        <div class="event-page-elem event-belligerents">
            
                            <div class="event-elem-header">
                                <h4 class="event-elem-h">Belligerents</h4>
                            </div>
                            <div class="event-elem-body">
                                {% for group in belligerents %}

                                  {% if group | length == 1 and belligerents | length == 1  %}
                                    <div class="ally-group ally-group-solo">
                                  {% else %}
                                    <div class="ally-group">
                                  {% endif %}

                                    {% for ally in group %}
                                        <div class="ally-elem">
                                            {{ally}}
                                        </div>
                                    {% endfor %}
                                    </div> 
                                    {% if not loop.last %}
                                    <div class="vs-area">vs</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                          
                        </div>
                      {% endif %}

                  </div>
      
                  <div class="event-page-elem event-elem-large elem-body event-page-description">
      
                      <div class="entry-left-padding"></div>

                      <div class="description-body">
                          <h4 class="event-desc-header">Archive Entry:</h4>
                          <div class="event-desc">
                            {{event.body | safe }}
                          </div>
                      </div>
                      
                  </div>
      
                  {# Only render if it is needed #}
                  {% if event.result | length > 0 %}  
                  <div class="event-elem-centre">
                      <div class="event-page-elem elem-body event-page-result">
                          <div class="event-elem-header">
                              <h4 class="event-elem-h">RESULT</h4>
                          </div>
                          <div class="event-elem-body">
                              {{event.result}}
                          </div>
                      </div>
                  </div>
                  {% endif %}

              </div>

              <div class="adjacent-events-lower">
                <div class="adjacent-lower-left">
                  {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, left=true, lower=true) }}
                </div>
                <div class="adjacent-lower-right">
                  {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, right=true, lower=true) }}
                </div>
              </div>

            </div>

            {{ adjacent_event_button.adjacent_event_button(event=event, campaign=campaign, right=true) }}

          </div>



            <!-- User comments area -->
            <div class="comments-area fade-in-block-3">

                <h3 class="comments-heading">::COMMS CHANNEL [OPEN]</h3>
                <hr class="campaigns-divider">
              
                {% if event.comments | length == 0 %}
                  <h6 class="comments-count">[NO MESSAGE DATA]</h5>
                {% endif %}

                <ol class="comments-list">
                {% for comment in event.comments %}

                    <li class="event-comment">

                      <p class="comment-date">{{ comment.date }}</p>

                      {% if comment.author == current_user %}
                      <div id="comment-{{comment.id}}" class="comment-header comment-header-user">
                      {% else %}
                      <div id="comment-{{comment.id}}" class="comment-header">
                      {% endif %}
                        <div class="comment-header-left">
                          <img class="icon" src="{{ url_for('static', filename='/images/icons/user_white.svg') }}">
                          <h5 class="comment-username">{{ comment.author.username }}</h5>
  
                          {% for entry in comment.author.campaign_associations %}
                            {%if entry.campaign_id == campaign.id%}
                              {% if entry.callsign is not none %}
                                <h6 class="comment-callsign callsign-break">
                                  [{{entry.callsign.upper()}}]
                                </h6>
                              {% endif %}
                            {%endif%}
                          {% endfor %}
                        </div>

                        <div class="comment-header-right">
                          {% if campaign in current_user.permissions or comment.author == current_user %}
                            <button id="button-{{loop.index}}" class="button delete-comment-button">
                              <img class="icon" src="{{ url_for('static', filename='/images/icons/bin_white.svg') }}">
                            </button>
                          {% endif %}
                        </div>

                      </div>

                      <div class="comment-body">
                        <p class="flavour-text">MSG-{{event.id}}-{{loop.index}} // Correspondent::{{comment.author.username}}</p>
                        {{ comment.body | safe }}
                      </div>

                    </li>


                  {# Delete comment confirm modal #}

                  <div id="modal-{{loop.index}}" class="modal">
                    <div class="modal-content modal-content-small">
                      <div class="modal-content-inner">
                        <div class="modal-header">
                          <h2 class="modal-header-small">Delete Comment</h2>
                          <span id="close-{{loop.index}}" class="modal-close">
                            <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                          </span>
                        </div>
                        <div class="modal-body modal-body-small">
                          <p class="flavour-text modal-flavour">MSG-{{event.id}}-{{loop.index}} // DELETION::CONFIRM</p>
                          <p class="modal-text modal-text-upper">Confirm comment termination:</p>

                          <form method="POST" action="{{ url_for('event.delete_comment',
                                                         campaign_name=campaign.url_title,
                                                         campaign_id=campaign.id,
                                                         event_name=event.url_title,
                                                         event_id=event.id,
                                                         comment_id=comment.id) }}">
                            {{ delete_form.csrf_token }}
                            {{ delete_form.submit(class_="button modal-confirm-button", value="DELETE") }}
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>

                {% endfor  %}
              </ol>

              <!-- New Comment Area -->
              {% if current_user.is_authenticated and current_user in campaign.members %}

                <div class="new-comment-area">
                  <div class="new-comment-area-header">
                    <h4 class="new-comment-heading">//COMMENT</h4>
                  </div>

                  <form class="form comment-form" method="post">
                    {{ form.csrf_token }}
                    {{ form.body(id="summernote") }}
                    {{ summernote.summernote_editor(comment=true) }}
                    {{ form.submit(class_="button comment-submit") }}
                  </form>
                </div>
                
              {% endif %}

            </div>

        </div>

      </div>

  </div>

</div>

{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="false"></div>

<script src="{{ url_for('static', filename='/js/event.js') }}"></script>
<script src="{{ url_for('static', filename='/js/scroll_target.js') }}"></script>
<script>
  window.addEventListener('DOMContentLoaded', 
                          scrollToTarget('{{ url_for("session.comment_target") }}', 
                                         '{{ csrf_token() }}'));
</script>  

{% endblock %}
