{% extends "base/base.html" %}

{% block content %}

  <div class="main-area">

    <section id="hero" class="hero">

      <div class="hero-centered hero-fade">
        <div class="hero-title-area">
          <h1 class="main-title">WAR/COR</h1>
          <hr id="title-hr" class="title-hr">
        </div>
        
        <div class="secondary-title hero-fade">
          <h2>FRONTLINE REPORTING IN THE YEAR 5016u</h2>
        </div>

      </div>
      <a href=#main-features class="down-area hero-fade">

        <div class="down-arrow-hidden-spacer"></div>
        <svg class="down-arrow icon-colour-var" version="1.1" id="down-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"/>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
          <g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/> </g>
        </svg>

      </a>
    </section>

    <section class="features" id="main-features">

      <div id="features-upper" class="features-upper">
        <div id="features-header" class="features-header">
          <h3 class="sub-title">Create Dynamic RPG Timelines</h3>
          <hr class="campaigns-divider">
          <p class="flavour-text flavour-text-centred">UWC-0-0 // System::Overview </p>
        </div>

        <div class="showcase-area">
          <div id="timeline-showcase" class="features-timeline-showcase">
            {% include "components/timeline_demo.html" %}
          </div>
        </div>

        <div id="features-paragraph" class="features-paragraph hero-fade">
          <p>WAR/COR is a lightweight roleplaying game timeline creator, with a focus on
            highly structured, blow-by-blow campaign logging. Create and share session notes with your players,
            document combat reports and track your campaign's history.
          </p>
        </div>

      </div>

      <div class="features-carousel">

        <ul id="carousel">
          <li id="carousel-img-1" class="carousel-item">
            <img class="carousel-img" src="/static/images/slide-1.png">
          </li>
          <li id="carousel-img-2" class="carousel-item">
            <img class="carousel-img" src="/static/images/slide-2.png">
          </li>
          <li id="carousel-img-3" class="carousel-item">
            <img class="carousel-img" src="/static/images/slide-3.png">
          </li>
        </ul>

        <div class="carousel-text-area">
          <div class="carousel-buttons">
            <input id="carousel-button-1" class="carousel-button" type="radio" value="0" name="carousel-radio" checked>
            <input id="carousel-button-2" class="carousel-button" type="radio" value="1" name="carousel-radio">
            <input id="carousel-button-3" class="carousel-button" type="radio" value="2" name="carousel-radio">
          </div>

          <p id="carousel-text-1" class="carousel-text">
            Create campaigns, add members and set callsigns
          </p>
          <p id="carousel-text-2" class="carousel-text carousel-text-hidden">
            Input conflict data, creating events and epochs
          </p>
          <p id="carousel-text-3" class="carousel-text carousel-text-hidden">
            Visualise campaign chronology
          </p>
        </div>
      </div>

      <div class="features-lower">
        <img src="/static/images/custom-date-example.png">
        <div class="features-text-area">
          <h5 class="feature-title">Freeform Timeline Editing</h5>
          <p>Unbound by the constraints of pre-collapse archiving conventions, 
            WAR/COR allows seamless conflict organisation in accordance with any 
            non-standard local system calendars.</p>
        </div>
      </div>

      <div class="features-lower lower-2">
        <div class="features-text-area">
          <h5 class="feature-title">Responsive Battlefield Performance</h5>
          <p>UWC military standardisation ensures reliable performance on a variety 
            of hardware platforms, across any theatre of warfare.</p>
        </div>
        <img src="/static/images/responsive-mockup.png">
      </div>

    </section>

    <section class="cta">
      <div class="bottom-cta">
        <h4 class="cta-text">Free for all citizens of Union</h4>
        <div class="button-area">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('campaign.campaigns') }}"><button type="button" class="feature-button">GET STARTED</button></a>
          {% else %}
          <a href="{{ url_for('user.register') }}"><button type="button" class="feature-button">Enlist today</button></a>
          {% endif %}
        </div>
      </div>

    </section>

  </div>

  {% include "base/footer.html" %}

<!-- Javascript -->
<script src="/static/js/get_screen_height.js"></script> 
<script src="/static/js/index.js"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/margin_fix.js"></script> 
<script>
  window.addEventListener("resize", marginFix);
  window.addEventListener('DOMContentLoaded', marginFix());
</script>


{% endblock %}


