{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/summernote_editor.html" as summernote %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}

  {% if not new %}
    {{ searchbar.searchbar(campaign, epoch=true) }}

    {% if current_user.is_authenticated and campaign in current_user.permissions %}
      {{ edit_toggle.epoch_edit_toggle(campaign, epoch, edit=true) }}
    {% endif %}
  {% endif %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">

          {# Back button #}
          {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
          {{ back_button.back_button(url=url, blank=false) }}

          {% if edit_page %}
          <h3 class="campaigns-heading edit-campaign-heading">EDIT EPOCH DATA</h3>
          {% else %}
          <h3 class="campaigns-heading edit-campaign-heading">NEW EPOCH DATA</h3>
          {% endif %}
        </div>

        <hr class="campaigns-divider">
        <p class="flavour-text">UWC-17-00 // Epoch::Designation </p>

    </div>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>
  
      <form class="edit-form form-column fade-in-block-2" method="POST">
        {{ form.csrf_token }}

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Start Date</h4>

              <div class="form-extra-button-area">
                
                <div id="epoch-start-button" type="button" class="form-button">
                  {% include "components/help_icon.html" %}
                </div>
                
              </div>
              
            </div>
            <p class="flavour-text">UWC-17-01 //  Epoch::Start Marker</p>
          </label>
        
          {{ form.start_date(class_="campaign-input event-input", placeholder_="YYYY/MM/DD REQUIRED", autocomplete="off") }}

        </div>

        {# Start Date Modal #}

        <div id="modal-1" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Epoch</h2>
                <span id="close-1" class="modal-close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body">
                <p>An epoch represents an era or a time period during a campaign, grouping together
                  any events that occur within the epoch start and end dates.
                  Epochs are placed at the day level within the timeline, and encapsulate 
                  all the events that take place within.
                </p>
                <p>The epoch markers are placed at the beginning of the START DATE day,
                  and the end of the END DATE day.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">End Date</h4>

              <div class="form-extra-button-area">
                
                <div id="epoch-end-button" type="button" class="form-button">
                  {% include "components/help_icon.html" %}
                </div>
                
              </div>
            </div>
            <p class="flavour-text">UWC-17-02 //  Epoch::End Marker</p>
          </label>
        
          {{ form.end_date(class_="campaign-input event-input", placeholder_="YYYY/MM/DD REQUIRED", autocomplete="off") }}

        </div>

        {# Start Date Modal #}

        <div id="modal-2" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Epoch</h2>
                <span id="close-2" class="modal-close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body">
                <p>The END DATE of the epoch specifies the position of the end of epoch marker.</p>
                <p>Events that occur within the END DATE day are considered part of the epoch.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
              <h4 class="campaign-form label-title">Epoch Title</h4>
            </div>
            <p class="flavour-text">UWC-17-03 //  Epoch::Designation</p>
          </label>

          {{ form.title(class_="campaign-input event-input", autocomplete="off", id="event-title", placeholder="REQUIRED") }}

        </div>

        <div class="form-container form-container-large">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="/static/images/icons/edit.svg">
        
            <h4 class="campaign-form label-title">Description</h4>

          </div>
          <p class="flavour-text">UWC-17-04 //  Epoch::Description</p>
        </label>

        {{ form.description(id="summernote", class_="campaign-input large-input event-input", autocomplete="off", placeholder="OPTIONAL") }}

        {{ summernote.summernote_editor(required=false) }}
        
        </div>


        <div class="campaign-submit-area event-submit-area">
          {{ form.submit(class_="campaign-input campaign-submit", ) }}
        </div>  
          
        {% if edit_page %}
        <div class="fade-in-block-2 campaign-submit-area event-submit-area">
          <button id="button-delete" class="campaign-input campaign-submit" type="button">
            Delete Epoch
          </button>
        </div>
        {% endif %} 

      </form>

      {% if edit_page %}

        {# Delete event confirm modal #}

        <div id="modal-delete" class="modal">
          <div class="modal-content modal-content-small">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Delete Epoch</h2>
                <span id="close-delete" class="modal-close">
                  <img class="icon" src="/static/images/icons/cancel.svg">
                </span>
              </div>
              <div class="modal-body modal-body-small">
                <p class="flavour-text modal-flavour">EPC-{{campaign.id}}-{{epoch.id}} // DELETION::CONFIRM</p>
                <p class="modal-text modal-text-upper">Confirm termination of epoch: "{{epoch.title}}".</p>

                <form method="POST" action="{{ url_for('epoch.delete_epoch',
                                                        campaign_name=campaign.url_title,
                                                        campaign_id=campaign.id,
                                                        epoch_title=epoch.title,
                                                        epoch_id=epoch.id) }}">
                  {{ delete_form.csrf_token }}
                  {{ delete_form.submit(class_="button modal-confirm-button", value="DELETE") }}
                </form>

              </div>
            </div>
          </div>
        </div>

      {% endif %}

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="/static/images/logo-red.png" class="top-logo logo-theme">
    </div>

  </div>

</div>


<script src="/static/js/epoch_form.js"></script>


{% endblock %}