{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/back_button.html" as back_button %}
{% import "components/summernote_editor.html" as summernote %}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}
  {% if not new %}
    {{ searchbar.searchbar(campaign, event=true) }}

    {% if current_user.is_authenticated and campaign in current_user.permissions %}
      {{ edit_toggle.event_edit_toggle(campaign, event, edit=true) }}
    {% endif %}
  {% endif %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">

          {# Back button #}
          {% if request.referrer %}
            {% if "/search" in request.referrer %}
              {% set url = url_for('search.advanced_search', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
            {% else %}
              {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
            {% endif %}
          {% else %}
            {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
          {% endif %}

          {{ back_button.back_button(url=url, blank=false) }}

          {% if edit %}
            <h3 class="campaigns-heading edit-campaign-heading">EDIT EVENT DATA</h3>
          {% else %}
            <h3 class="campaigns-heading edit-campaign-heading">NEW EVENT DATA</h3>
          {% endif %}

        </div>

        <hr class="campaigns-divider">
        <p class="flavour-text">UWC-6-00 // Event::Index </p>

    </div>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>
  
      <form class="edit-form form-column fade-in-block-2" method="POST">
        {{ form.csrf_token }}

        <div id="date-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Date</h4>

              <div class="form-extra-button-area">
                
                <div id="event-date-help-button" type="button" class="form-button">
                  {% include "components/help_icon.html" %}
                </div>
                
              </div>
              
            </div>
            <p class="flavour-text">UWC-6-01 //  Event::Chronometric Data</p>
          </label>
        
          {{ form.date(class_="campaign-input event-input", placeholder_="YYYY/MM/DD HH:MM:SS REQUIRED", autocomplete="off") }}

        </div>

        {# Date Help Modal #}

        <div id="modal-1" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Event Date</h2>
                <span id="close-1" class="modal-close">
                  <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                </span>
              </div>
              <div class="modal-body">
                <p>WAR/COR organises all events in chronological order. Dates should be entered in a 
                  "YEAR/MONTH/DAY HOUR:MINUTE:SECONDS" format.</p>
                <p>WAR/COR does not enforce standard year/month/day/hour/second lengths.</p>
                <p>The year value can be any value of 1-9 digits. Both positive and negative value may be given for the year, allowing the placement of events in a similar manner to the BC/BCE system.</p>
                <p class="modal-highlight-text">Example: "5016/15/40 25:00:00" is a valid date.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="title-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Event Title</h4>

              <div class="form-extra-button-area">
                
                <div type="button" class="form-button" onClick="user_search(target_url)">
                  <svg class="icon icon-colour-var" width="800px" height="800px" viewBox="0 -4 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path d="m24.983 8.539v-2.485h-4.902l-3.672 5.945-2.099 3.414-3.24 5.256c-.326.51-.889.844-1.53.845h-9.54v-3.568h8.538l3.673-5.946 2.099-3.414 3.24-5.256c.325-.509.886-.843 1.525-.845h5.904v-2.485l7.417 4.27-7.417 4.27z"/>
                    <path d="m12.902 6.316-.63 1.022-1.468 2.39-2.265-3.675h-8.538v-3.568h9.54c.641.001 1.204.335 1.526.838l.004.007 1.836 2.985z"/>
                    <path d="m24.983 24v-2.485h-5.904c-.639-.002-1.201-.336-1.521-.838l-.004-.007-1.836-2.985.63-1.022 1.468-2.39 2.264 3.675h4.902v-2.485l7.417 4.27-7.417 4.27z"/>
                  </svg>
                </div>
                
              </div>
              
            </div>
            <p class="flavour-text">UWC-6-02 //  Event::Operation Designation</p>
          </label>

          {{ form.title(class_="campaign-input event-input", autocomplete="off", id="event-title", placeholder="REQUIRED") }}

        </div>

        <div id="type-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Type</h4>
            </div>
            <p class="flavour-text">UWC-6-03 //  Event::Category</p>
          </label>

          {{ form.type(class_="campaign-input event-input", autocomplete="off", placeholder="REQUIRED") }}
        
        </div>

        <div id="location-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.sv') }}g">
              <h4 class="campaign-form label-title">Location</h4>
            </div>
            <p class="flavour-text">UWC-6-04 //  Event::Location</p>
          </label>

          {{ form.location(class_="campaign-input event-input", autocomplete="off", placeholder="OPTIONAL") }}

        </div>

        <div id="belligerents-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Belligerents</h4>

              <div class="form-extra-button-area">
                
                <div id="event-belligerents-help-button" type="button" class="form-button">
                  {% include "components/help_icon.html" %}
                </div>
                
              </div>
            </div>
            <p class="flavour-text">UWC-6-05 //  Event::Participants</p>
          </label>

          {{ form.belligerents(class_="campaign-input event-input", autocomplete="off", placeholder="OPTIONAL") }}

        </div>

        {# Belligerents Help Modal #}

        <div id="modal-2" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Belligerents</h2>
                <span id="close-2" class="modal-close">
                  <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                </span>
              </div>
              <div class="modal-body">
                <p>An event's belligerents list represents active combatants and participants.</p>
                <p>Allied belligerents should be ampersand "&" separated, whilst opposing forces should be comma "," separated.</p>
                <p class="modal-highlight-text">Example: "Ally Faction 1 & Ally Faction 2, Enemy Faction"</p>
              </div>
            </div>
          </div>
        </div>

        <div id="display-field" class="form-container form-container-small">
          <label class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <h4 class="campaign-form label-title">Timeline Display</h4>

              <div class="form-extra-button-area">
                
                <div id="event-format-help-button" type="button" class="form-button">
                  {% include "components/help_icon.html" %}
                </div>
                
              </div>

            </div>
            <p class="flavour-text">UWC-6-06 //  Event::Formatting</p>
          </label>

          <div class="form-toggle-inputs">
            {{ form.hide_time(class_="event-input input-checkbox theme-radio", id="hide-time-input", autocomplete="off") }}
            <label class="form-toggle-label" for="hide-time-input">Hide Time</label>
          </div>
        </div>

        {# Event Formatting Help Modal #}

        <div id="modal-3" class="modal">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Event Formatting</h2>
                <span id="close-3" class="modal-close">
                  <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                </span>
              </div>
              <div class="modal-body">
                <p>An event with the "Hide Time" tag will not render the time label on the timeline - useful to represent events
                  that take up the entire day, or do not require a specific time label.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="event-desc-field" class="form-container form-container-large">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
        
            <h4 class="campaign-form label-title">Description</h4>
            <div class="form-extra-button-area">
                
              <div id="html-preview-button" type="button" class="form-button form-preview-button">
                HTML PREVIEW
              </div>
              
            </div>
            
          </div>
          <p class="flavour-text">UWC-6-07 //  Event::Overview</p>
        </label>

        {{ form.body(id="summernote", class_="campaign-input large-input event-input", autocomplete="off") }}

        {{ summernote.summernote_editor() }}
        
        </div>

        {# HTML Preview Modal #}

        <div id="modal-preview" class="modal">
          <div class="modal-content modal-preview-content">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">HTML Preview</h2>
                <span id="close-preview" class="modal-close">
                  <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                </span>
              </div>

              <div class="modal-body modal-preview-overflow">
                <div class="event-page-elem event-elem-large elem-body event-page-description">
      
                  <div class="entry-left-padding"></div>
  
                  <div class="description-body">
                      <h4 class="event-desc-header">Archive Entry:</h4>
                      <div class="event-desc">
                        <div id="preview-modal-body" class="modal-body modal-body-preview">
                          {# Modal text goes here #}
                        </div>
                      </div>
                  </div>
                
                </div>
              </div>

            </div>
          </div>
        </div>

        <div id="result-field" class="form-container form-container-footer">
        <label class="campaign-form-label form-icon">
          <div class="campaign-form-label-container">
            <img class="icon campaign-form-icon icon-invert" src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
            <h4 class="campaign-form label-title">Result</h4>
          </div>
          <p class="flavour-text">UWC-6-08 //  Event::Outcome</p>
        </label>

        {{ form.result(class_="campaign-input event-input", autocomplete="off", placeholder="OPTIONAL") }}

        </div>

        <div class="campaign-submit-area event-submit-area">
          {{ form.submit(class_="button campaign-input campaign-submit") }}
        </div>  
  
        {% if edit %}
        <div class="fade-in-block-2 campaign-submit-area event-submit-area">
          <button id="button-delete" class="button campaign-input campaign-submit" type="button">
            Delete Event
          </button>
        </div> 
        {% endif %}

      </form>

      {% if edit %}
        {# Delete event confirm modal #}

        <div id="modal-delete" class="modal">
          <div class="modal-content modal-content-small">
            <div class="modal-content-inner">
              <div class="modal-header">
                <h2 class="modal-header-small">Delete Event</h2>
                <span id="close-delete" class="modal-close">
                  <img class="icon" src="{{ url_for('static', filename='/images/icons/cancel.svg') }}">
                </span>
              </div>
              <div class="modal-body modal-body-small">
                <p class="flavour-text modal-flavour">MSG-{{campaign.id}}-{{event.id}} // DELETION::CONFIRM</p>
                <p class="modal-text modal-text-upper">Confirm termination of event: "{{event.title}}"</p>

                <form method="POST" action="{{ url_for('event.delete_event',
                                               campaign_name=campaign.url_title,
                                               campaign_id=campaign.id,
                                               event_name=event.url_title,
                                               event_id=event.id) }}">
                  {{ delete_form.csrf_token }}
                  {{ delete_form.submit(class_="button modal-confirm-button", value="DELETE") }}
                </form>

              </div>
            </div>
          </div>
        </div>

      {% endif %}

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs. </p>
      <img src="{{ url_for('static', filename='/images/logo-red.png') }}" class="top-logo logo-theme">
    </div>

  </div>

</div>

{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="true"></div>

<script src="{{ url_for('static', filename='/js/event_form.js') }}"></script>
<script src="{{ url_for('static', filename='/js/event_gen.js') }}"></script> 
<script src="{{ url_for('static', filename='/js/unsaved_changes_warning.js') }}"></script>
<script>
  const target_url = "{{ url_for('generator.random_event_title') }}"        
</script>


{% endblock %}