{# Component Macro imports #}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/back_button.html" as back_button %}
{% import "components/summernote_editor.html" as summernote %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/searchbar.html" as searchbar %}
{% import "components/modal.html" as modal%}


{% extends "base/base.html" %}

{# Add Summernote #}
{% block head %}
  {% include "base/header.html" %}
  {% block title %}
    <title>WAR/COR</title>
  {% endblock %}
  {% block extra_head %}
    {% include "components/summernote_head.html" %}
  {% endblock %}
{% endblock %}


{% block content %}

  {% if not new %}
    <nav class="ui-buttons" aria-label="UI Buttons" role="tablist">
      {{ searchbar.searchbar(campaign, epoch=true) }}
      {% if current_user.is_authenticated and campaign in current_user.permissions %}
        {{ edit_toggle.epoch_edit_toggle(campaign, epoch, edit=true) }}
      {% endif %}
    </nav>
  {% endif %}

<div class="scrollpage">

  <div class="campaigns-content">

    {# Animation fade in group 1 #}
    <div class="fade-in-block-1">

      {% set urls = [url_for('campaign.campaigns'), url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id)] %}

      {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                        is_link=true,
                                        current_user=current_user,
                                        campaign=campaign) }}

        <div class="campaigns-title">

          {# Back button #}
          {% set url = url_for('campaign.edit_timeline', campaign_name=campaign.url_title, campaign_id=campaign.id) %}
          {{ back_button.back_button(url=url, blank=false) }}

          {% if edit_page %}
          <h3 class="campaigns-heading edit-campaign-heading">EDIT EPOCH DATA</h3>
          {% else %}
          <h3 class="campaigns-heading edit-campaign-heading">NEW EPOCH DATA</h3>
          {% endif %}
        </div>

        <hr class="campaigns-divider" aria-hidden="true">
        <p class="flavour-text" aria-label="Flavour Text">UWC-17-00 // Epoch::Designation </p>

    </div>

      <div class="form-flash">
        {% include 'components/flash.html' %}
      </div>
  
      <form class="edit-form form-column fade-in-block-2" method="POST" novalidate aria-label="Epoch Form">
        {{ form.csrf_token }}

        <div id="start-date-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <label for="epoch-form-start-date">
                <h4 class="campaign-form label-title">Start Date</h4>
              </label>

              <div class="form-extra-button-area">
                <button id="epoch-start-button" type="button" class=" button form-button">
                  {% include "components/help_icon.html" %}
                </button>
              </div>
              
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-17-01 //  Epoch::Start Marker</p>
          </div>
        
          <div class="form-input-container">
            {{ form.start_date(id="epoch-form-start-date", 
                               class_="campaign-input form-input event-input", 
                               placeholder_="YYYY/MM/DD REQUIRED", 
                               autocomplete="off") }}
            <div class="form-underline"></div>
          </div>

        </div>


        <div id="end-date-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <label for="epoch-form-end-date">
                <h4 class="campaign-form label-title">End Date</h4>
              </label>

              <div class="form-extra-button-area">
                <button id="epoch-end-button" type="button" class="button form-button">
                  {% include "components/help_icon.html" %}
                </button>
              </div>
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-17-02 //  Epoch::End Marker</p>
          </div>
        
          <div class="form-input-container">
            {{ form.end_date(id="epoch-form-end-date", 
                             class_="campaign-input form-input event-input", 
                             placeholder_="YYYY/MM/DD REQUIRED", 
                             autocomplete="off") }}
            <div class="form-underline"></div>
          </div>

        </div>

        <div id="title-field" class="form-container form-container-small">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
              <label for="epoch-form-title">
                <h4 class="campaign-form label-title">Epoch Title</h4>
              </label>
            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-17-03 //  Epoch::Designation</p>
          </div>

          <div class="form-input-container">
            {{ form.title(id="epoch-form-title", 
                          class_="campaign-input form-input event-input", 
                          autocomplete="off", 
                          placeholder="REQUIRED") }}
            <div class="form-underline"></div>
          </div>

        </div>

        <div id="epoch-overview-field" class="form-container form-container-large">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
          
              <label for="summernote-overview">
                <h4 class="campaign-form label-title">Overview</h4>
              </label>

              <div class="form-extra-button-area">
                <button id="epoch-overview-button" type="button" class="button form-button">
                  {% include "components/help_icon.html" %}
                </button>
              </div>

            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-17-04 //  Epoch::Overview</p>
          </div>

          {{ form.overview(id="summernote-overview", 
                           class_="campaign-input large-input event-input", 
                           autocomplete="off", 
                           placeholder="OPTIONAL") }}
          {{ summernote.summernote_editor(required=false, epoch_overview=true) }}
        
        </div>

        <div id="epoch-desc-field" class="form-container form-container-large">
          <div class="campaign-form-label form-icon">
            <div class="campaign-form-label-container">
              <img class="icon campaign-form-icon icon-invert" aria-label="Pen Icon"
              src="{{ url_for('static', filename='/images/icons/edit.svg') }}">
          
              <label for="summernote">
                <h4 class="campaign-form label-title">Description</h4>
              </label>

              <div class="form-extra-button-area">
                <button id="epoch-desc-button" type="button" class="button form-button">
                  {% include "components/help_icon.html" %}
                </button>
                <button id="html-preview-button" type="button" class="button form-button form-preview-button">
                  HTML PREVIEW
                </button>
              </div>

            </div>
            <p class="flavour-text" aria-label="Flavour Text">UWC-17-04 //  Epoch::Description</p>
          </div>

          {{ form.description(id="summernote", 
                              class_="campaign-input large-input event-input", 
                              autocomplete="off", 
                              placeholder="OPTIONAL") }}
          {{ summernote.summernote_editor(required=false) }}
        
        </div>

        <div class="campaign-submit-area event-submit-area">
          {{ form.submit(class_="campaign-input campaign-submit", ) }}
        </div>  
          
        {% if edit_page %}
        <div class="fade-in-block-2 campaign-submit-area event-submit-area">
          <button id="epoch-delete-button" class="campaign-input campaign-submit" type="button">
            Delete Epoch
          </button>
        </div>
        {% endif %} 

      </form>

    <div class="flavour-text-area fade-in-block-3 z-index-anim">
      <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">
        By submitting this form you attest that all information given is accurate and in accordance with Protocal 79-C-2. 
        Knowingly providing false or misleading conflict data is a galactic crime, and carries a maximum sentence of 0.4Gs.
      </p>
      <img src="{{ url_for('static', filename='/images/logo-red.png') }}" class="top-logo logo-theme"
      aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol irising open like a camera lens">
    </div>

  </div>

</div>

{% if edit_page %}
{# Delete epoch confirm modal #}
  {{ modal.modal(type="epoch",
                 title="Delete Epoch",
                 aria_label="Delete Epoch Confirmation",
                 body_text=epoch.title,
                 button_text="Delete",
                 model_id=epoch.id,
                 loop_index=0,
                 form=form,
                 form_action=url_for("epoch.delete_epoch",
                                     campaign_name=campaign.url_title,
                                     campaign_id=campaign.id,
                                     epoch_title=epoch.title,
                                     epoch_id=epoch.id)) }}

{% endif %}


{# Start Date Modal #}
{{ modal.modal(type="help",
                subtype="epoch_start_date",
                title="Epoch Start Date",
                aria_label="Epoch Start Date Help",
                loop_index=1) }}

{# End Date Modal #}
{{ modal.modal(type="help",
                subtype="epoch_end_date",
                title="Epoch End Date",
                aria_label="Epoch End Date Help",
                loop_index=2) }}

{# Epoch Overview Modal #}
{{ modal.modal(type="help",
                subtype="epoch_overview",
                title="Epoch Overview",
                aria_label="Epoch Overview Help",
                loop_index=3) }}

{# Epoch Description Modal #}
{{ modal.modal(type="help",
               subtype="epoch_description",
               title="Epoch Description",
               aria_label="Epoch Description Help",
               loop_index=4) }}

{# HTML Preview Modal #}
{{ modal.modal(type="preview",
              title="HTML Preview",
              aria_label="HTML Preview",
              loop_index=5) }}


{# Variable to determine page type in searchbar script #}
<div id="editPageVariable" class="hidden" editPage="true"></div>

<script src="{{ url_for('static', filename='/js/epoch_form.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='/js/unsaved_changes_warning.js') }}"></script>


{% endblock %}
