{% extends "base/base.html" %}

{% block head %}
  {% include 'base/header.html' %}
  {% block title %}
    <title>RESET PASSWORD | WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage-content">

        <h1 class="form-heading">RESET</h1>
        <div class="form-flash">
          {% include 'components/flash.html' %}
          <ul class = flashes>
            {% for error in form.new_password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="flavour-text-area login-flavour-text">
          <p class="flavour-text flavour-text-centre">UWC-8-31 // Password::Reset</p>
        </div>

        <div class="form-area">

          <form class="form login-form" method="POST">
              {{ form.csrf_token }}
              <div class="form-header">
                <h4 class="auth-form-header">/NEW PASSWORD</h4>
              </div>
                
              <div class="form-layout">

                <div class="auth-form-upper upper-recovery">
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" src="{{ url_for('static', filename='/images/icons/lock.svg') }}">
                    </label>
                    <div class="form-input-container">
                      {{ form.new_password(placeholder_="NEW_PASSWORD", class_='form-input auth-form-input form-field', autocomplete='off') }}
                      <div class="form-underline auth-form-underline"></div>
                    </div>
                  </div>

                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" src="{{ url_for('static', filename='/images/icons/lock_key.svg') }}">
                    </label>
                    <div class="form-input-container">
                      {{ form.confirm_password(placeholder_="CONFIRM_PASSWORD", class_='form-input auth-form-input form-field', autocomplete='off') }}
                      <div class="form-underline auth-form-underline"></div>
                    </div>
                  </div>

                </div>
                  
                <div class="auth-form-lower">
                  <div class="form-submit">
                    <div class="form-elem elem-centre">
                      {{ form.submit(class_="button submit-button") }}
                    </div>
                  </div>
                </div>

              </div>
            </form>

    
        </div>

        <div class="flavour-text-area">
          <p class="flavour-text flavour-text-centre">By submitting this form you attest that all information given is 
            accurate and in accordance with Protocol 79-B-1. Impersonating a registered UWC War Correspondent 
            is a galactic crime, and carries a maximum sentence of 0.7Gs. </p>
          <img src="{{ url_for('static', filename='/images/logo-red.png') }}" class="top-logo logo-theme">
        </div>

    </div>    

</div>  

{% endblock %}
