{% extends "base/base.html" %}

{% block head %}
  {% include 'base/header.html' %}
  {% block title %}
    <title>PASSWORD RECOVERY | WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block content %}

{% block page_style %}
<div class="page onepage">
{% endblock %}  

    <div class="onepage-content">

        <h1 class="form-heading">RECOVERY</h1>
        <div class="form-flash">
          {% include 'components/flash.html' %}
          <ul class = flashes>
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="flavour-text-area login-flavour-text">
          <p class="flavour-text flavour-text-centre" aria-label="Flavour Text">UWC-8-31 // Access::Recovery</p>
        </div>

        <div class="form-area">

          <form class="form login-form" method="POST" aria-label="Account Recovery Form">
              {{ form.csrf_token }}
              <div class="form-header">
                <h4 class="auth-form-header">/ACCOUNT RECOVERY</h3>
              </div>
                
              <div class="form-layout">

                <div class="auth-form-upper upper-recovery">
                  <div class="form-elem">
                    <label class="form-icon">
                      <img class="icon icon-invert" aria-label="Email Icon"
                      src="{{ url_for('static', filename='images/icons/email.sv') }}g">
                    </label>
                    <div class="form-input-container">
                      {{ form.email(placeholder_="Email", 
                                    class_="form-input auth-form-input form-field", 
                                    autocomplete="off",
                                    aria_label="Email") }}
                      <div class="form-underline auth-form-underline"></div>
                    </div>
                    
                  </div>

                  <div class="form-paragraph">
                    <p>Enter account email address and await recovery instructions.</p>
                  </div>  

                </div>
                  
                <div class="auth-form-lower">
                  <div class="form-submit">
                    <div class="form-elem elem-centre">
                      {{ form.submit(class_="button submit-button") }}
                    </div>
                  </div>
                </div>

              </div>
            </form>

    
        </div>

        <div class="flavour-text-area">
          <p class="flavour-text flavour-text-centre" aria-label="Flavour text">
            By submitting this form you attest that all information given is accurate and in accordance with Protocol 79-B-1. 
            Impersonating a registered UWC War Correspondent is a galactic crime, and carries a maximum sentence of 0.7Gs.
          </p>
          <img src="{{ url_for('static', filename='images/logo-red.png') }}" class="top-logo logo-theme"
          aria-label="WAR/COR Logo" alt="The WAR/COR logo, a triangular symbol that irises open like a camera lens.">
        </div>

    </div>    

</div>  

{% endblock %}
