{# Component Macro imports #}
{% import "components/searchbar.html" as searchbar %}
{% import "components/edit_toggle.html" as edit_toggle %}
{% import "components/page_upper_area.html" as page_upper_area %}
{% import "components/members_list.html" as members_list %}
{% import "components/back_button.html" as back_button %}

{% import "components/timeline/month.html" as timeline_month %}


{% extends "base/base.html" %}

{% block head %}
  {% include 'base/header.html' %}
  {% block title %}
    <title>{{campaign.title.upper()}} | WAR/COR</title>
  {% endblock %}
{% endblock %}

{% block content %}

<div class="sidebar-page">
  {% include "components/sidebar.html" %}

  <nav class="ui-buttons" aria-label="UI Buttons" role="toolbar" aria-orientation="vertical">
    {% if edit %}
      {{ searchbar.searchbar(campaign, timeline=true, edit=true) }}
    {% else %}
      {{ searchbar.searchbar(campaign, timeline=true) }}
    {% endif %}
  
    {% if current_user.is_authenticated and campaign in current_user.permissions %}
      {% if edit %}
        {{ edit_toggle.edit_toggle(campaign, edit=true) }}
      {% else %}
        {{ edit_toggle.edit_toggle(campaign) }}
      {% endif %}
    {% endif %}
  </nav>

  <div id="scrollpage" class="scrollpage">

    <div class="campaigns-content">

      {# Animation fade in group 1 #}
      <div class="fade-in-block-1">

        {# Create navigation url bar #}

        {% set urls = [url_for('campaign.campaigns')] %}

        {{ page_upper_area.page_upper_area(navigation_urls=urls, 
                                          is_link=true, 
                                          current_user=current_user,
                                          campaign=campaign) }}

        <div class="campaigns-title">

          {# Blank back button area area. No url needed. #}
          {% set url = "" %}
          {{ back_button.back_button(url=url, blank=true) }}

          <h3 id="campaigns-heading" class="campaigns-heading">{{campaign.title}}</h3>
        </div>

        <hr class="campaigns-divider" aria-hidden="true">
        <p class="flavour-text timeline-margin" aria-label="Flavour Text">UWC-21-{{campaign.id}} // Campaign::Timeline</p>

      </div>

      <section class="campaign-entry timeline-upper fade-in-block-2" aria-label="Campaign Overview">

        <!-- Overview and members list -->
        <div class="campaign-entry-container timeline-overview">
          <div id="campaign-overview" class="campaign-overview">

            <div class="campaign-overview-title-area">
              <h4 class="campaign-entry-title">Overview</h4>
              {% if edit %}
                <a class="campaign-edit-link button campaign-edit-button" href="{{ url_for('campaign.edit_campaign', campaign_name=campaign.url_title, campaign_id=campaign.id)}}">
                    <div class="campaign-edit-button-left">
                      <svg aria-label="Edit Title/Overview Icon" width="20px" height="20px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g class="icon-colour-var" transform="translate(42.666667, 42.666667)">
                                <path d="M426.666667,384 L426.666667,426.666667 L3.55271368e-14,426.666667 L3.55271368e-14,384 L426.666667,384 Z M277.333333,7.10542736e-15 L384,106.666667 L149.333333,341.333333 L42.6666667,341.333333 L42.6666667,234.666667 L277.333333,7.10542736e-15 Z M207.079667,130.583 L85.3333333,252.330667 L85.3333333,298.666667 L131.669333,298.666667 L253.415667,176.919 L207.079667,130.583 Z M277.333333,60.3306667 L237.249667,100.413 L283.585667,146.749 L323.669333,106.666667 L277.333333,60.3306667 Z"></path>
                            </g>
                        </g>
                      </svg>
                    </div>
                    <div class="campaign-edit-button-right">
                      EDIT TITLE/OVERVIEW
                    </div>
                </a>
              {% endif %}
            </div>

            {{ campaign.description | safe }}
            {{ members_list.members_list(campaign, edit=edit) }}
            <div id="last-edited-area" class="campaign-overview last-edited-area" aria-label="Last Edited Date">
              <h4 class="campaign-entry-title">Last Updated</h4>
              <p class="last-updated-text">{{ campaign.last_edited }}</p>
            </div>
          </div>

        </div>
      </section>

      {% if timeline_data | length == 0 %}
        <section class="no-events" aria-label="Timeline">
          {% if edit and campaign in current_user.permissions %}
          <h3 class="no-events-header">AWAITING CONFLICT DATA UPLOAD</h3>
          {% else %}
          <h3 class="no-events-header">Conflict Data Not Found</h3>
          {% endif %}
          <hr class="no-events-hr" aria-hidden="true">
          <p class="flavour-text">UWC-40-4 // Data:Not Found</p>

          {% if edit and campaign in current_user.permissions %}
            <p class="flavour-text">Add an event or epoch to get started</p>

            <div class="new-timeline-data-buttons">

              <a class="first-event-link button new-timeline-item first-event-button" 
                href="{{ url_for('event.add_event', 
                campaign_name=campaign.url_title,
                campaign_id=campaign.id) }}">
                CREATE NEW EVENT
              </a>
              <p class="flavour-text">Events make up the main structure of the timeline. They represent events or occurences
                that take place at specific dates. Events are rendered in grouped year/month/day blocks.
              </p>

              <a class="first-event-link button new-timeline-item first-event-button" 
                href="{{ url_for('epoch.new_epoch', 
                campaign_name=campaign.url_title,
                campaign_id=campaign.id ) }}">
                CREATE NEW EPOCH
              </a>
              <p class="flavour-text">An epoch represents an era or a time period during a campaign.
                Epochs are placed at the month level within the timeline, and encapsulate 
                all the events that take place within them.</p>

              <a class="first-event-link button new-timeline-item first-event-button" 
                href="{{ url_for('data.backup_page',
                          campaign_id=campaign.id,
                          campaign_name=campaign.url_title) }}">
                RESTORE FROM BACKUP
              </a>
              <p class="flavour-text">Restore a campaign from a WAR/COR .json backup file.</p>

            </div>

          {% else %}
            <p class="flavour-text">Awaiting conflict data input</p>
          {% endif %}
        </section>
      {% else %}
        {% if edit %}
          <section class="new-timeline-data-buttons data-buttons-hor" aria-label="New Timeline Item Buttons">
            <div class="data-button">
              <a class="first-event-link button new-timeline-item first-event-button" 
              href="{{ url_for('event.add_event', 
              campaign_name=campaign.url_title,
              campaign_id=campaign.id) }}">
              NEW EVENT
              </a>
              <p class="flavour-text">Events make up the main structure of the timeline. They represent events or occurences
                that take place at specific dates. Events are rendered in grouped year/month/day blocks.
              </p>
            </div>

            <div class="data-button">
              <a class="first-event-link button new-timeline-item first-event-button" 
                href="{{ url_for('epoch.new_epoch', 
                campaign_name=campaign.url_title,
                campaign_id=campaign.id ) }}">
                NEW EPOCH
              </a>
              <p class="flavour-text">An epoch represents an era or a time period during a campaign.
                Epochs are placed at the month level within the timeline, and encapsulate 
                all the events that take place within them.</p>
            </div>

          </section>
        {% endif %}
      {% endif %}

      <!-- Timeline -->
      {% if timeline_data | length > 0 %}
      <section class="timeline-centring fade-in-block-3" aria-label="Timeline">

        <ol id="timeline-container" class="timeline-container" aria-label="Year List">
          
          {% for year in timeline_data %}

            <!-- Year {{  year.name }} -->
            <li id="timeline-year-{{year.name}}" class="timeline-year" aria-labelledby="year-{{year.name}}">

              <!-- Year main axis -->
              <div class="timeline-year-outer-container" aria-hidden="true">
                <div class="timeline-year-container">

                  <h3 class="timeline-year-header" id="year-{{year.name}}">
                    {% if year.name.startswith("-") %}
                      {{ year.name + campaign.negative_date_suffix}}
                    {% else %}
                      {{ year.name + campaign.date_suffix}}
                    {% endif %}
                  </h3> 

                  <div class="timeline-columns">

                    <div class="timeline-left-marker">
                      <div class="year-marker-hr"></div>
                      <div class="year-marker-line"></div>
                      <h5 class="year-marker">{{ year.name + campaign.date_suffix}}</h5>
                      <div class="year-marker-line"></div>
                      <div class="year-marker-hr"></div>
                    </div>

                    <div class="timeline-right-marker">
                      <div class="timeline-horizontal"></div>
                      <div class="timeline-line"></div>
                      <div class="timeline-horizontal"></div>
                    </div>

                  </div>

                </div>
              </div>
          
              <!-- Timeline months -->
              <ol class="timeline-months-container" aria-label="Month List">
                {% for month in year.months %}
                  {{ timeline_month.month(campaign,
                                          year,
                                          month,
                                          length=loop.length,
                                          index=loop.index0,
                                          edit=edit) }}
                {% endfor %}
                </ol>

            </li>
          {% endfor %}

        </ol>

      </section>
      {% endif %}

    </div>

  </div>

</div>

{% if edit %}
  <div id="editPageVariable" class="hidden" editPage="true"></div>
{% else %}
  <div id="editPageVariable" class="hidden" editPage="false"></div>
{% endif %}
<script src="{{ url_for('static', filename='/js/scroll_target.js') }}"></script> 
<script src="{{ url_for('static', filename='/js/margin_fix.js') }}"></script>
<script src="{{ url_for('static', filename='/js/epoch_line_adjust.js') }}"></script>
<script src="{{ url_for('static', filename='/js/timeline_left_markers.js') }}"></script>
<script src="{{ url_for('static', filename='/js/user_image_styling.js') }}"></script>
<script>
  formatImageElements(".campaign-overview p");
  window.addEventListener("resize", marginFix);
  window.addEventListener('DOMContentLoaded', marginFix());
  window.addEventListener('DOMContentLoaded', scrollToTarget('{{ url_for("session.timeline_target") }}', '{{ csrf_token() }}'));
</script>

{% endblock %}
